<%= form_for(@objetivo_especifico) do |f| %>
  <% if @objetivo_especifico.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@objetivo_especifico.errors.count, "error") %> prohibited this objetivo_especifico from being saved:</h2>

      <ul>
      <% @objetivo_especifico.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo %><br>
    <%= f.text_field :titulo %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_area :descripcion %>
  </div>
  <div class="field">
    <%= f.label :objetivo_general_id %><br>
    <%= f.text_field :objetivo_general_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
