<%= simple_form_for(@objetivo_especifico, html: objetivo_especifico_form_html_options ) do |f| %>
  <% if @objetivo_especifico.errors.any? %>
  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-4"></div>
       
          <div class="alert alert-danger col-lg-4">
            <a class="close" data-dismiss="alert">x</a>      
            <strong><%= pluralize(@objetivo_especifico.errors.count, "Error") %> en la creacion del Objetivo Específico:</strong>
            <ul>
              <% @objetivo_especifico.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        
      </div>
      </div>
  <% end %>

  <%= f.input :titulo %>


  <%= f.input :descripcion %>
  
  <% if params[:objetivo_general] %>
   <%= f.input :objetivo_general_id,:as => :hidden, input_html: {value: params[:objetivo_general_id]} %>
  <% end %>

  <% if @objetivo_especifico.objetivo_general.presence %>
   <%= f.input :objetivo_general_id,:as => :hidden, input_html: {value: @objetivo_especifico.objetivo_general.id} %>
  <% end %>

  </br>
  <%= f.button :submit, :class => 'btn btn-primary', :value => 'Confirmar' %>

<% end %>
