<h1>Listing objetivo_especificos</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Descripcion</th>
      <th>Objetivo general</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @objetivo_general.objetivo_especificos.each do |objetivo_especifico| %>
      <tr>
        <td><%= objetivo_especifico.titulo %></td>
        <td><%= objetivo_especifico.descripcion %></td>
        <td><%= objetivo_especifico.objetivo_general %></td>
	<td><%= link_to 'Show', objetivo_especifico, :objetivo_general_id => @objetivo_general.id %></td>
        <td><%= link_to 'Edit', edit_objetivo_especifico_path(objetivo_especifico) %></td>
        <td><%= link_to 'Destroy', objetivo_especifico, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Objetivo especifico', new_objetivo_especifico_path(:objetivo_general_id => params[:objetivo_general_id]) %>
