<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= value %>
   </div>
<% end %>

<div id="<%= dom_id(@objetivo_especifico) %>">

            <div class="panel panel-primary">
              <div class="panel-heading">

		<% if !@objetivo_especifico.titulo.blank? %>
		      <h3 class="panel-title">Objetivo Específico: <%= link_to @objetivo_especifico.titulo, @objetivo_especifico , :style => "font-size: 22px;"%>
		      </h3>
		<% else %>
			No se ha asignado ningun nombre al Objetivo Específico
		<% end %>



              </div>
              <div class="panel-body">
                
                <label>Descripción del Objetivo</label>
                <p> 
		<% if !@objetivo_especifico.descripcion.blank? %>
			<%= @objetivo_especifico.descripcion %>
		<% else %>
			No se ha cargado una descripción
		<% end %>
                </p>
                   <div class="btn-group btn-group-justified">
 
                </div>
                
              </div>
      </div>

<%= link_to 'Editar', edit_objetivo_especifico_path(@objetivo_especifico, :objetivo_general_id => @objetivo_especifico.objetivo_general_id) %> |
        <%= link_to 'Borrar', @objetivo_especifico, method: :delete, data: { confirm: 'Esta seguro?' } %> |
<%= link_to 'Atrás', @objetivo_especifico.objetivo_general %>
<h2> Actividades </h2>
<% if @objetivo_especifico.actividades.empty? then %>
        <p>
          No hay Actividades creadas
        </p>
<% end %>
<% @objetivo_especifico.actividades.each do |actividad| %>
            <div class="panel panel-primary">
              <div class="panel-heading">

		<% if !actividad.nombre.blank? %>
			<h3 class="panel-title">Actividad: <%= link_to actividad.nombre, actividad , :style => "font-size: 22px;"%>
      <% if actividad.borrable %>
			 <%= link_to 'Borrar', actividad, method: :delete, data: { confirm: 'Seguro?' } %>
      <% else %>
        Borrar
      <% end %>
		      </h3>
		<% else %>
			No se ha asignado ningun nombre a la Actividad
		<% end %>



              </div>
              <div class="panel-body">
                
                <label>Descripción del Objetivo</label>
                <p> 
		<% if !actividad.descripcion.blank? %>
			<%= actividad.descripcion %>
		<% else %>
			No se ha cargado una descripción
		<% end %>
                </p>
                   <div class="btn-group btn-group-justified">
 
                </div>
                
              </div>
            </div>
 <% end %>
<%= link_to 'Nueva Actividad', new_actividad_path(:objetivo_especifico_id => @objetivo_especifico.id, :proyecto_id => @objetivo_especifico.objetivo_general.proyecto.id) %>

</div>



