<p id="notice"><%= notice %></p>

<div id="<%= dom_id(@objetivo_especifico) %>">
<p>
  <strong>Titulo:</strong>
  <%= @objetivo_especifico.titulo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @objetivo_especifico.descripcion %>
</p>
</div>
<%= link_to 'Edit', edit_objetivo_especifico_path(@objetivo_especifico, :objetivo_general_id => @objetivo_especifico.objetivo_general_id), remote: true, data: { target: 'modal', modal: true } %> |
<%= link_to 'Back', objetivo_especificos_path(:objetivo_general_id => @objetivo_especifico.objetivo_general_id) %>
