<p id="notice"><%= notice %></p>

<div id="<%= dom_id(@objetivo_especifico) %>">

            <div class="panel panel-primary">
              <div class="panel-heading">

		<% if !@objetivo_especifico.titulo.blank? %>
		      <h3 class="panel-title">Objetivo Específico: <%= link_to @objetivo_especifico.titulo%>
		      </h3>
		<% else %>
			No se ha asignado ningun nombre al Objetivo Específico
		<% end %>



              </div>
              <div class="panel-body">
                
                <label>Descripción del Objetivo</label>
                <p> 
		<% if !@objetivo_especifico.descripcion.blank? %>
			<%= @objetivo_especifico.descripcion %>
		<% else %>
			No se ha cargado una descripción
		<% end %>
                </p>
                   <div class="btn-group btn-group-justified">
 
                </div>
                
              </div>
      </div>

<%= link_to 'Editar', edit_objetivo_especifico_path(@objetivo_especifico, :objetivo_general_id => @objetivo_especifico.objetivo_general_id), remote: true, data: { target: 'modal', modal: true } %> |
        <%= link_to 'Borrar', @objetivo_especifico, method: :delete, data: { confirm: 'Esta seguro?' } %> |
<%= link_to 'Atrás', @objetivo_especifico.objetivo_general %>
<h2> Actividades </h2>

<% @objetivo_especifico.actividades.each do |actividad| %>
            <div class="panel panel-primary">
              <div class="panel-heading">

		<% if !actividad.nombre.blank? %>
		      <h3 class="panel-title">Actividades: <%= link_to actividad.nombre, actividad%>
		      </h3>
		<% else %>
			No se ha asignado ningun nombre a la Actividad
		<% end %>



              </div>
              <div class="panel-body">
                
                <label>Descripción del Objetivo</label>
                <p> 
		<% if !actividad.descripcion.blank? %>
			<%= actividad.descripcion %>
		<% else %>
			No se ha cargado una descripción
		<% end %>
                </p>
                   <div class="btn-group btn-group-justified">
 
                </div>
                
              </div>
            </div>
 <% end %>
<%= link_to 'New Actividad', new_actividad_path(:objetivo_especifico_id => @objetivo_especifico.id, :proyecto_id => @objetivo_especifico.objetivo_general.proyecto.id) %>

</div>



