<%= simple_form_for(@proyecto,
  wrapper: :bootstrap,
  wrapper_mappings: {
    check_boxes: :vertical_radio_and_checkboxes,
    radio_buttons: :vertical_radio_and_checkboxes,
    file: :vertical_file_input,
    boolean: :vertical_boolean
  }) do |f| %>
  <% if @proyecto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proyecto.errors.count, "error") %> prohibited this proyecto from being saved:</h2>

      <ul>
      <% @proyecto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">

    <div class="col-lg-6">

        <div class="field">
          <label><h2>Titulo del Proyecto</h2></label></br>
          <%= f.input :nombre %>
          
          <input class="form-control">
        </div>

        <div class="field">
          <label>
              <h2>Descripción del Proyecto</h2>
          </label>

          <label>
              Coordinador del Proyecto
          </label>
          <div class="field input-group">
              <span class="input-group-addon">@</span>
              <input type="text" class="form-control" placeholder="Nombre de Usuario">
          </div>

          <label>
              Director del Proyecto
          </label>
          <div class="field input-group">
              <span class="input-group-addon">@</span>
              <input type="text" class="form-control" placeholder="Nombre de Usuario">
          </div>

          <label>Breve Descripción    </label> 
              <textarea class="form-control" placeholder="Enter text" rows="10"></textarea>
          </div>


          <div class="field"><label>Localización Geográfica</label>
              <input class="form-control">
              <div class="field">
                  <label>Cantidad de Beneficiarios Directos</label>
                  <input class="form-control">
                  <div class="form-group">
                      <label>Cantidad de Beneficiarios Indirectos</label>
                      <input class="form-control">
                  </div>
              </div>




              <h2>Tipo de Proyecto</h2>
              <p>
              <span class="form-group">
                  <select name="select2" class="form-control">
                      <option>Voluntariado</option>
                      <option>Extensión</option>
                  </select>
              </span>
              </p>

              <button type="button" class="btn btn-primary btn-lg pull-left">IMPRIMIR</button>
          </div>

    </div> 


    <div class="col-lg-6">
      <button type="button" class="btn btn-primary btn-lg pull-right">GUARDAR</button>

          <div class="field">
             <label><h2>Necesidad</h2></label>
             <a href="/necesidades/#">Link a Necesidad</a>       
          </div> 

          <label>Titulo Necesidad</label>
              <input class="form-control">
              <div class="field">
                  <label>Breve Descripción    </label>
                  <textarea class="form-control" placeholder="Enter text" rows="10"></textarea>
                  <button type="button" class="btn btn-primary btn-sm">Agregar</button>
              </div>
              <label><h3>Datos Beneficiario:</h3></label>
              <p>
                   <label>Apellido y Nombre</label>
                   <input class="form-control" disabled> 

                   <label>Cargo</label>
                   <input class="form-control" disabled> 

                   <label>Número Contacto</label>
                   <input class="form-control" disabled> 

                   <label>Email</label>
                   <input class="form-control" disabled>

                   <label>Fax</label>
                   <input class="form-control" disabled> 
              </p>

              <p>
                  <button type="button" class="btn btn-primary btn-lg">CANCELAR PROYECTO</button> 
              </p>
              <button type="button" class="btn btn-primary btn-lg">TERMINAR PROYECTO</button>
              <button type="button" class="btn btn-primary btn-lg">SUSPENDER PROYECTO</button> 

        <fieldset disabled>
              <div class="form-group"></div>
        </fieldset>

    </div>

  </div><!-- /.row -->

    <%=   f.association :necesidad %>
        
---------------------------------------
 

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :breveDescripcion %><br>
    <%= f.text_area :breveDescripcion %>
  </div>
  <div class="field">
    <%= f.label :fechaInicio %><br>
    <%= f.date_select :fechaInicio %>
  </div>
  <div class="field">
    <%= f.label :fechaFin %><br>
    <%= f.date_select :fechaFin %>
  </div>
  <div class="field">
    <%= f.label :antecedentes %><br>
    <%= f.text_area :antecedentes %>
  </div>
  <div class="field">
    <%= f.label :justificacionProyecto %><br>
    <%= f.text_area :justificacionProyecto %>
  </div>
  <div class="field">
    <%= f.label :cantidadBeneficiariosDirectos %><br>
    <%= f.number_field :cantidadBeneficiariosDirectos %>
  </div>
  <div class="field">
    <%= f.label :cantidadBeneficiariosIndirectos %><br>
    <%= f.number_field :cantidadBeneficiariosIndirectos %>
  </div>
  <div class="field">
    <%= f.label :justificacionImpacto %><br>
    <%= f.text_area :justificacionImpacto %>
  </div>
  <div class="field">
    <%= f.label :localizacionGeografica %><br>
    <%= f.text_area :localizacionGeografica %>
  </div>
  <div class="field">
    <%= f.label :tipo_proyecto_id %><br>
    <%= f.text_field :tipo_proyecto_id %>
  </div>
  <div class="field">
    <%= f.label :necesidad_id %><br>
    <%= f.text_field :necesidad_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
