<%= simple_form_for(@proyecto, html: project_form_html_options ) do |f| %>
<% if @proyecto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proyecto.errors.count, "error") %> prohibited this proyecto from being saved:</h2>

      <ul>
      <% @proyecto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %> 
      </ul>
    </div>
  <% end %>

  <div class="row">

    <div class="col-lg-6">



          <%= f.input:nombre , :label => 'Título del Proyecto', :placeholder => 'título del proyecto...' %>


          <%= f.input :breveDescripcion,:as => :text, :input_html => {:rows => 10}, :label => 'Breve Descripción', :placeholder => 'descripción del proyecto...'  %>
          
          <%= f.input :antecedentes,:as => :text, :input_html => {:rows => 10}, :label => 'Antecedentes Proyecto', :placeholder => 'escriba sobre los antecedentes del mismo'  %>
          
          <%= f.input :justificacionProyecto,:as => :text, :input_html => {:rows => 10}, :label => 'Justificación', :placeholder => 'justificación del proyecto...'  %>
    


    </div> 
   

    <div class="col-lg-6">

     
          <%= f.input :tipo_proyecto_id, collection: @tipoProyectos, :label => 'Tipo de Proyecto' %>
    
        <!-- #TODO: Hacer funcionar datepicker -->
      <%= f.input :fechaInicio, :as => :date, :label => 'Fecha Inicio' %>
      <%= f.input :fechaFin, :as => :date, :label => 'Fecha Fin' %>

         
     <!-- #TODO: Sale como textarea??? -->
      <%= f.input :localizacionGeografica, :label => 'Localización Geográfica', :placeholder => 'localización...' %>

      <%= f.input :cantidadBeneficiariosDirectos, :label => 'Cantidad de Beneficiarios Directos', :placeholder => 'beneficiarios directos...' %>          

      <%= f.input :cantidadBeneficiariosIndirectos, :label => 'Cantidad de Beneficiarios Indirectos', :placeholder => 'beneficiarios indirectos...' %> 

      <%= f.input :justificacionImpacto,:as => :text, :input_html => {:rows => 10}, :label => 'Justificación del impacto', :placeholder => 'justifique el impacto del proyecto...'  %>

         
  
        
    </div>

   
    
  </div><!-- /.row -->

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.button :submit, :class => 'btn btn-primary', :value => 'Confirmar' %>
        </div>


<% end %>
