
  <div class="row">

    <div class="col-lg-6">


      <div style="overflow-wrap: break-word;">
        <strong>Título del Proyecto</strong>:</br>
          <%= @proyecto.nombre%>
      </div>
      <div class="modal-footer">
      </div>
      <div style="overflow-wrap: break-word;">
          <strong>Breve Descripción</strong>:</br>
          <%= @proyecto.breveDescripcion  %>
      </div>
      <div class="modal-footer">
      </div>
      <div style="overflow-wrap: break-word;">
          <strong>Antecedentes Proyecto</strong>:</br>
          <%= @proyecto.antecedentes %>
      </div>
      <div class="modal-footer">
      </div>
      <div style="overflow-wrap: break-word;">
          <strong>Justificación</strong>:</br>
          <%= @proyecto.justificacionProyecto %>
      </div>
      <div class="modal-footer">
      </div style="overflow-wrap: break-word;">
      <div style="overflow-wrap: break-word;">
        <strong>Justificación del Impacto</strong>:</br>
        <%= @proyecto.justificacionImpacto %>
      </div>
          


    </div> 
   

    <div class="col-lg-6">

          <div> 
            <strong>Tipo de Proyecto</strong>:</br>
            <%=  @proyecto.tipo_proyecto %>
          </div>
          <div class="modal-footer">
          </div>
          <div class="col-lg-6" style="margin-left: -15px;">
              <strong>Fecha Inicio</strong>:</br>
              <%= @proyecto.fechaInicio %>
          </div>
          <div>
            <strong>Fecha Fin</strong>:</br>
            <%= @proyecto.fechaFin %>
          </div>
          <div class="modal-footer">
          </div>
          <div style="overflow-wrap: break-word;">
            <strong>Localización Geográfica</strong>:</br>
            <%= @proyecto.localizacionGeografica %>
          </div>
          <div class="modal-footer">
          </div>
          <div class="col-lg-6" style="margin-left: -15px;">
          <div>
            <strong>Cantidad de Beneficiarios Directos</strong>:</br>
            <%= @proyecto.cantidadBeneficiariosDirectos %>
          </div>
          </div>
          <div>
            <strong>Cantidad de Beneficiarios Indirectos</strong>:</br>
            <%= @proyecto.cantidadBeneficiariosIndirectos %> 
          </div>
          <div class="modal-footer">
          </div>
          <div>
            <strong>Estado Actual del Proyecto</strong>:</br>
            <%= @proyecto.historial_estado_proyectos.last.estado_proyecto %>
          </div>
    </div>
  </div><!-- /.row -->
<div class="modal-footer">
</div>





