<div id="<%= dom_id(@proyecto) %>">
  <p>
    <strong>Nombre:</strong>
    <%= @proyecto.nombre %>
  </p>

  <p>
    <strong>Brevedescripcion:</strong>
    <%= @proyecto.breveDescripcion %>
  </p>

  <p>
    <strong>Fechainicio:</strong>
    <%= @proyecto.fechaInicio %>
  </p>

  <p>
    <strong>Fechafin:</strong>
    <%= @proyecto.fechaFin %>
  </p>

  <p>
    <strong>Antecedentes:</strong>
    <%= @proyecto.antecedentes %>
  </p>

  <p>
    <strong>Justificacionproyecto:</strong>
    <%= @proyecto.justificacionProyecto %>
  </p>

  <p>
    <strong>Cantidadbeneficiariosdirectos:</strong>
    <%= @proyecto.cantidadBeneficiariosDirectos %>
  </p>

  <p>
    <strong>Cantidadbeneficiariosindirectos:</strong>
    <%= @proyecto.cantidadBeneficiariosIndirectos %>
  </p>

  <p>
    <strong>Justificacionimpacto:</strong>
    <%= @proyecto.justificacionImpacto %>
  </p>

  <p>
    <strong>Localizaciongeografica:</strong>
    <%= @proyecto.localizacionGeografica %>
  </p>

  <p>
    <strong>Tipo proyecto:</strong>
    <%= @proyecto.tipo_proyecto %>
  </p>

  <p>
    <strong>Necesidad:</strong>
    <%= @proyecto.necesidad %>
  </p>
</div>