<div id="<%= dom_id(@proyecto) %>">

  <div class="row">

    <div class="col-lg-6">


      <p>
      <strong>Título del Proyecto</strong>:</br>
        <%= @proyecto.nombre%>
      </p>
      <p>
          <strong>Breve Descripción</strong>:</br>
          <%= @proyecto.breveDescripcion  %>
      </p>
      <p>
          <strong>Antecedentes Proyecto</strong>:</br>
          <%= @proyecto.antecedentes %>
      </p>
      <p>
          <br><strong>Justificación</strong>:</br>
          <%= @proyecto.justificacionProyecto %>
      </p>


    </div> 
   

    <div class="col-lg-6">

          <p> 
            <strong>Tipo de Proyecto</strong>:</br>
            <%=  @proyecto.tipo_proyecto %>
          </p>
          <p>
            <strong>Fecha Inicio</strong>:</br>
            <%= @proyecto.fechaInicio %>
          </p>
          <p>
            <strong>Fecha Fin</strong>:</br>
            <%= @proyecto.fechaFin %>
          </p>
          <p>
            <strong>Localización Geográfica</strong>:</br>
            <%= @proyecto.localizacionGeografica %>
          </p>
          <p>
            <strong>Cantidad de Beneficiarios Directos</strong>:</br>
            <%= @proyecto.cantidadBeneficiariosDirectos %>
          </p>
          <p>
            <strong>Cantidad de Beneficiarios Indirectos</strong>:</br>
            <%= @proyecto.cantidadBeneficiariosIndirectos %> 
          </p>
          <p>
            <strong>Justificación del Impacto</strong>:</br>
            <%= @proyecto.justificacionImpacto %>
          </p>
          <p>
            <strong>Estado Actual del Proyecto</strong>:</br>
            <%= @proyecto.historial_estado_proyectos.last.estado_proyecto %>
          </p>
    </div>
  </div><!-- /.row -->
<div class="modal-footer">
</div>





