<h1> Cargar Necesidad al Proyecto </h1>
<br/>

<!-- Se inicio el formluario --> 
<%= simple_form_for(@proyecto, html: project_form_html_options ) do |f| %>

<!-- Código autogenerado para la impresión de errores -->
<% if @proyecto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proyecto.errors.count, "error") %> prohibited this proyecto from being saved:</h2>

      <ul>
      <% @proyecto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %> 
      </ul>
    </div>
<% end %>

  <!-- Autocompletado de la necesidad -->  
  <%= f.input :necesidad, as: :autocomplete, label: false, url: necesidades_path, input_html: { autofocus: true  }  %>


  <div class="modal-footer">
   
	  <div class="modal-footer">
	
		  <%= link_to 'Back', @proyecto %>
	          <!-- Botón de submit -->	
		  <%= f.button :submit, :class => 'btn btn-primary', :value => 'Confirmar' %>
	  </div>

<% end %>
