<h1>Listing proyectos</h1>
<div class="row">
          <div class="col-lg-12">
          <% @proyectos.each do |proyecto| %>

            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><%= link_to proyecto.nombre, proyecto %></h3>
              </div>
              <div class="panel-body">
                
                <label>Descripción del Proyecto</label>
                <p> 
                  <%= proyecto.breveDescripcion %> 
                </p>
                <label>Director del Proyecto</label>
                <p>
                  <i class="fa fa-user"></i><%= link_to proyecto.director.apellidoNombre.to_s, usuario_path(proyecto.director) %> 
                </p>
                <label>Fecha Inicio - Fecha Fin</label>
                <p> 
                  <%= proyecto.fechaInicio.to_formatted_s(:rfc822) %> - <%= proyecto.fechaFin.to_formatted_s(:rfc822)  %> 
                </p>
                <div class="btn-group btn-group-justified">
 
                <p>               
                  <button type="button" class="btn btn-primary btn-lg">Participar</button>  #TODO: Agregar lógica de postulación
                </p>
                
                </div>
                
              </div>
            </div>
            
          <% end %>  
          </div>
  </div><!-- /.row -->



<br>

<%= link_to 'New Proyecto', new_proyecto_path %>
