<h1>Lista de Proyectos</h1>
<div class="row">
          <div class="col-lg-12">
          <% @proyectos.each do |proyecto| %>

            <div class="panel panel-primary">
              <div class="panel-heading">

		<% if !proyecto.nombre.blank? %>
		      <h3 class="panel-title">	<%= link_to proyecto.nombre, proyecto %>
		      </h3>
		<% else %>
			No se ha asignado ningun nombre al proyecto
		<% end %>



              </div>
              <div class="panel-body">
                
                <label>Descripción del Proyecto</label>
                <p> 
		<% if !proyecto.breveDescripcion.blank? %>
			<%= proyecto.breveDescripcion %>
		<% else %>
			No se ha cargado una descripción
		<% end %>
                </p>
                <label>Director del Proyecto</label>
                <p> <!-- #TODO: Agregar validación de un solo director -->

		<% if !proyecto.director.blank? %>
                    <i class="fa fa-user"></i><%= link_to proyecto.director.apellido_nombre.to_s, usuario_path(proyecto.director) %> 
		<% else %>
			No se ha asignado un Director
		<% end %>

                </p>
                <label>Fecha Inicio - Fecha Fin</label>
                <p> 
		<% if (!proyecto.fechaInicio.blank? & !proyecto.fechaFin.blank?) %>
                  <%= proyecto.fechaInicio.to_formatted_s(:rfc822) %> - <%= proyecto.fechaFin.to_formatted_s(:rfc822)  %> 
		<% else %>
			No se ha cargado la Fecha de Inicio o Fin
		<% end %>

                </p>
                <div class="btn-group btn-group-justified">
 
			<p>        
		<% if current_usuario.participando_proyecto(proyecto) == 0 %>
				<%= button_to "Participar",  {:controller => :postulaciones, :action => 'create', :postulacion => { :usuario_id => current_usuario.id, :proyecto_id => proyecto.id }}, :method => :new %>
		<% else %>
		<br>
		<br>
			Actualmente participando
		<% end %>

		<!-- REEMPLAZAR POR EL USUARIO ACTUAL DE LA SESION 	-->

		
                </p>
		<!-- <button type="button" class="btn btn-primary btn-lg">Participar</button> -->
		<!-- 	#TODO: Agregar lógica de postulación -->

                
                </div>
                
              </div>
            </div>
            
          <% end %>  
          </div>
  </div><!-- /.row -->



<br>

