<h1>Lista de Proyectos</h1>
<div class="row">
  <div class="col-lg-12">
    <% if @proyectos.empty? then %>
        <p>
          No hay proyectos Creados
        </p>
    <% else %>
          <% @proyectos.each do |proyecto| %>

            <div class="panel panel-primary">
              <div class="panel-heading">

		<% if !proyecto.nombre.blank? %>
		      <h3 class="panel-title" style='overflow-wrap: break-word;'>	
						<% if can? :show, Proyecto;%>	
							<%= link_to proyecto.nombre, proyecto, :style=>'overflow-wrap: break-word;' %>
						<% else %>
							<%= proyecto.nombre %>
						<% end %>
		      </h3>
		<% else %>
			No se ha asignado ningun nombre al proyecto
		<% end %>



              </div>
              <div class="panel-body">
                
                <label>Descripci贸n del Proyecto</label>
                <p  style='overflow-wrap: break-word;'> 
		<% if !proyecto.breveDescripcion.blank? %>
			<%= proyecto.breveDescripcion %>
		<% else %>
			No se ha cargado una descripci贸n
		<% end %>
                </p>
                <label>Directores del Proyecto</label>
                <p> <!-- #TODO: Agregar validaci贸n de un solo director -->

		<% if !proyecto.director.nil? %>
		 |
                   <% for director in proyecto.director %>
                   		 <i class="fa fa-user"></i><%= link_to director.apellido_nombre.to_s, usuario_path(director) %>  |
                   <% end %>

                     
		<% else %>
			No se ha asignado un Director
		<% end %>

                </p>
                <label>Fecha Inicio - Fecha Fin</label>
                <p> 
		<% if (!proyecto.fechaInicio.blank? & !proyecto.fechaFin.blank?) %>
                  <%= proyecto.fechaInicio.to_formatted_s(:rfc822) %> - <%= proyecto.fechaFin.to_formatted_s(:rfc822)  %> 
		<% else %>
			No se ha cargado la Fecha de Inicio o Fin
		<% end %>

                </p>
                <div class="btn-group btn-group-justified">
 
			<p>        
		<% if current_usuario.participando_proyecto(proyecto) == 0 %>
		  <%= link_to "Participar",  {:controller => :postulaciones, :action => 'create', :postulacion => { :usuario_id => current_usuario.id, :proyecto_id => proyecto.id }}, :method => :new, :class => "btn btn-primary btn-lg" %>
	  <% elsif current_usuario.esperando_aceptacion_proyecto(proyecto) > 0 %>
		
		  <span class="badge">Actualmente esperando aceptaci贸n</span>

	  <% else %>

		  <span class="badge">Actualmente participando</span>
		<% end %>

                </p>
                
                </div>
                
              </div>
            </div>
            
	  <% end %>  
	<% end %>
          </div>
  </div><!-- /.row -->



<br>

