<h1>Listing proyectos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Brevedescripcion</th>
      <th>Fechainicio</th>
      <th>Fechafin</th>
      <th>Antecedentes</th>
      <th>Justificacionproyecto</th>
      <th>Cantidadbeneficiariosdirectos</th>
      <th>Cantidadbeneficiariosindirectos</th>
      <th>Justificacionimpacto</th>
      <th>Localizaciongeografica</th>
      <th>Tipo proyecto</th>
      <th>Necesidad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @proyectos.each do |proyecto| %>
      <tr>
        <td><%= proyecto.nombre %></td>
        <td><%= proyecto.breveDescripcion %></td>
        <td><%= proyecto.fechaInicio %></td>
        <td><%= proyecto.fechaFin %></td>
        <td><%= proyecto.antecedentes %></td>
        <td><%= proyecto.justificacionProyecto %></td>
        <td><%= proyecto.cantidadBeneficiariosDirectos %></td>
        <td><%= proyecto.cantidadBeneficiariosIndirectos %></td>
        <td><%= proyecto.justificacionImpacto %></td>
        <td><%= proyecto.localizacionGeografica %></td>
        <td><%= proyecto.tipo_proyecto %></td>
        <td><%= proyecto.necesidad %></td>
        <td><%= link_to 'Show', proyecto %></td>
        <td><%= link_to 'Edit', edit_proyecto_path(proyecto) %></td>
        <td><%= link_to 'Destroy', proyecto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Proyecto', new_proyecto_path %>
