<h1>Lista de Proyectos</h1>
<div class="row">
    <div class="col-lg-12">
      <% if @proyectos.empty? then %>
        <p>
          No se encuentra participando en ningun Proyecto actualmente.
        </p>
      <% end %>
    <% @proyectos.each do |proyecto| %>

      <div class="panel panel-primary">
        <div class="panel-heading">
		      <% if !proyecto.nombre.blank? %>
  		      <h3 class="panel-title">	<%= link_to proyecto.nombre, proyecto, :style=>'overflow-wrap: break-word;'  %>
  		      </h3>
		      <% else %>
			       No se ha asignado ningun nombre al proyecto
		      <% end %>



              </div>
              <div class="panel-body">
                
                <label>Descripción del Proyecto</label>
                <p  style='overflow-wrap: break-word;'> 
		<% if !proyecto.breveDescripcion.blank? %>
			<%= proyecto.breveDescripcion %>
		<% else %>
			No se ha cargado una descripción
		<% end %>
                </p>
                <label>Directores del Proyecto</label>
                <p> <!-- #TODO: Agregar validación de un solo director -->
    <% if !proyecto.director.nil? %>
     |
                   <% for director in proyecto.director %>
                       <i class="fa fa-user"></i><%= link_to director.apellido_nombre.to_s, usuario_path(director) %>  |
                   <% end %>

                     
    <% else %>
      No se ha asignado un Director
    <% end %>


                </p>
                <label>Fecha Inicio - Fecha Fin</label>
                <p> 
		<% if (!proyecto.fechaInicio.blank? & !proyecto.fechaFin.blank?) %>
                  <%= proyecto.fechaInicio.to_formatted_s(:rfc822) %> - <%= proyecto.fechaFin.to_formatted_s(:rfc822)  %> 
		<% else %>
			No se ha cargado la Fecha de Inicio o Fin
		<% end %>

                </p>
                <div class="btn-group btn-group-justified">
 
                <p>
                  <%= link_to 'Entrar', proyecto, :class => "btn btn-primary btn-lg" %>
                </p>

                </div>

              </div>
            </div>

          <% end %>  
          </div>
  </div><!-- /.row -->
<br>
