<!-- Se imprimen los flash de noticias que se reciben -->
<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= value %>
   </div>
<% end %>

<!-- Se renderiza el partial del show y se establece el dom_id para refrescar automaticamente los cambios  -->
<div id="<%= dom_id(@proyecto) %>">
  <%=render partial: 'proyecto_show' %>
</div>

<!-- Se hace el llamado a los distintos métodos o funcionalidades asociadas a proyecto -->
<%= link_to 'Editar Proyecto', edit_proyecto_path(@proyecto) %> |
<%= link_to 'Agregar Organización Externa', new_colaborador_path(:proyecto_id => @proyecto.id) %> |
<%= link_to 'Agregar Necesidad', agregar_necesidad_proyecto_path(:proyecto => {:id => @proyecto.id}) %> |
<%= link_to 'Ver Historial', historial_estado_proyectos_path(:proyecto_id => @proyecto.id)%> |
<%= link_to 'Cronograma Actividades', cronograma_actividades_path(:proyecto_id => @proyecto.id)%> |

<%= link_to 'Atrás', proyectos_path %>

