<p id="notice"><%= notice %></p>

<div id="<%= dom_id(@proyecto) %>">
  <%=render partial: 'proyecto_show' %>
</div>

<%= link_to 'Editar Proyecto', edit_proyecto_path(@proyecto), remote: true, data: { target: 'modal', modal: true } %> |
<%= link_to 'Crear Organizacion Externa', crear_organizacion_externa_path, remote: true, data: { target: 'modal', modal: true } %> |
<%= link_to 'Agregar Organización Externa', new_colaborador_path(:proyecto_id => @proyecto.id), remote: true, data: { target: 'modal', modal: true } %> |
<%= link_to 'Agregar Necesidad', agregar_necesidad_proyecto_path(@proyecto), remote: true, data: { target: 'modal', modal: true } %> |
<%= link_to 'Ver Historial', historial_estado_proyectos_path(:proyecto_id => @proyecto.id)%> |
<%#=# link_to 'Agregar Necesidad', new_necesidad_path, remote: true, data: { target: 'modal', modal: true } %> |


<%= link_to 'Back', proyectos_path %>
