<p id="notice"><%= notice %></p>

<div id="<%= dom_id(@proyecto) %>">
  <%=render partial: 'proyecto_show' %>
</div>

<%= link_to 'Edit', edit_proyecto_path(@proyecto), remote: true, data: { target: 'modal', modal: true } %> |
<%= link_to 'Back', proyectos_path %>
