<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= value %>
   </div>
<% end %>

<p>
  <strong>Montototal:</strong>
  <%= @informe_gasto.montoTotal %>
</p>

<p>
  <strong>Proyecto:</strong>
  <%= @informe_gasto.proyecto %>
</p>

<%= link_to 'Editar', edit_informe_gasto_path(@informe_gasto) %> |
<%= link_to 'Atrás', informe_gastos_path %>
