<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= value %>
   </div>
<% end %>

<%= simple_form_for(@colaborador) do |f| %>



    <%= f.input :organizacion_externa, as: :autocomplete, url: organizacion_externas_path, input_html: { autofocus: true  }  %>

	<%= f.input :proyecto_id,:as => :hidden, input_html: {value: params[:proyecto_id]} %>
  	
  	<div class="modal-footer">
      <%= link_to content_tag(:i, fa_icon("plus", text: ""))+" Nueva Organización Externa", new_organizacion_externa_path(:proyecto_id => params[:proyecto_id] ) , :style => "float: left", :class => "btn btn-primary" %>
      <%= f.button :submit, :class => 'btn btn-primary', :value => 'Confirmar' %>
      <%= link_to 'Atrás', '/proyectos/' + params[:proyecto_id] %>
  	</div>

	<br></br>

	<%= render partial: 'index' %>


  	
<% end %>

	