<h1>Gestionar Restricciones de Gastos <small>Administración de las restricciones</small></h1>
<ol class="breadcrumb">
  <li><i class="icon-dashboard"></i> Gestionar Restricciones</li>
  <li class="active"><i class="icon-file-alt"></i> Restricciones</li>
</ol>
<div class="row">
  <div class="col-lg-12">
    <% if @restricciones.empty? then %>
      <h4> No existen actualmente restricciones </h4>
    <% else %>   
      <% @restricciones.each do |restriccion|%>
        <div class="col-lg-6">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title"> 
                    <label>Aplicado a </label> <%= restriccion.concepto_gasto.titulo %> <%= link_to '(Editar)', edit_restriccion_path(restriccion) %>
              </h3>
            </div>
            <div class="panel-body">

                        <label> Monto maximo:</label>
                        <p><%= number_with_precision(restriccion.montoMax, :precision => 2) %></li></p>
                        <label> Fecha de creación:</label>
                        <p><%= restriccion.created_at.strftime("%d/%m/%Y") %></p>
                        <label> Fecha de la última modificación: </label>
                        <p><%= restriccion.updated_at.strftime("%d/%m/%Y") %></p>
                        <div align="center">
                          <%= link_to(
                            restriccion.esActiva ? 'Desactivar' : 'Activar',
                            restriccion_path(restriccion, restriccion: { esActiva: !restriccion.esActiva }),
                            class: "btn #{restriccion.esActiva ? 'btn-success' : 'btn-default'}",
                            data: { method: :put }
                          ) %>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
    <% end %>
    <div align="center">  
      <%= link_to "Agregar restricción", new_restriccion_path, class: "btn btn-primary btn-lg" %> 
    </div>
  </div>
</div>        

    <!-- JavaScript -->
    <script src="../../js/jquery-1.10.2.js"></script>
    <script src="../../js/bootstrap.js"></script>

    <!-- Page Specific Plugins -->
    
    <!--
    <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    -->
     
   <script src="../../js/raphael-min.js"></script>
    
    <!--
   <script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>
    -->
    <script src="../../js/morris-0.4.3.min.js"></script>
    <script src="../../js/morris/chart-data-morris.js"></script>
    <script src="../../js/tablesorter/jquery.tablesorter.js"></script>
    <script src="../../js/tablesorter/tables.js"></script>


