<h1>Listing restricciones</h1>

<table>
  <thead>
    <tr>
      <th>Fechadesde</th>
      <th>Fechahasta</th>
      <th>Esactiva</th>
      <th>Tipo proyecto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restricciones.each do |restriccion| %>
      <tr>
        <td><%= restriccion.fechaDesde %></td>
        <td><%= restriccion.fechaHasta %></td>
        <td><%= restriccion.esActiva %></td>
        <td><%= restriccion.tipo_proyecto %></td>
        <td><%= link_to 'Ver', restriccion %></td>
        <td><%= link_to 'Editar', edit_restriccion_path(restriccion) %></td>
        <td><%= link_to 'Borrar', restriccion, method: :delete, data: { confirm: 'Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restriccion', new_restriccion_path %>
