<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= value %>
   </div>
<% end %>

<p>
  <strong>Fechadesde:</strong>
  <%= @restriccion.fechaDesde %>
</p>

<p>
  <strong>Fechahasta:</strong>
  <%= @restriccion.fechaHasta %>
</p>

<p>
  <strong>Esactiva:</strong>
  <%= @restriccion.esActiva %>
</p>

<p>
  <strong>Tipo proyecto:</strong>
  <%= @restriccion.tipo_proyecto %>
</p>

<%= link_to 'Editar', edit_restriccion_path(@restriccion) %> |
<%= link_to 'Atrás', restricciones_path %>
