<%= form_for([@voluntario, @experiencia]) do |f| %>
  <% if @experiencia.errors.any? %>
   
    <div id="error_explanation">
      <h2><%= pluralize(@experiencia.errors.count, "error") %> prohibited this experiencia from being saved:</h2>

      <ul>
      <% @experiencia.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="well">

  <div class="field">
    <%= f.label :tieneExperiencia %><br>
    <%= f.check_box :tieneExperiencia %>
  </div>
  <div class="field">
    <%#= f.label :cantidadExperiencia %><br>
    <p>
    
    <%=f.label "cantidad de experiencia en años"%>
    </p>
    <%= f.number_field :cantidadExperiencia %>
  </div>
  <div class="field">
    <%= f.label :habilidad_id %><br>
   <%= f.collection_select(:habilidad_id,@habilidades, :id,:nombre,{prompt: "Habilidad..." }, {class:"form-control"}) %>
   
     </div>
     

  <div class="field">
    <h1><%#= @voluntario.nombreUsuario %></h1><br>
   
   
    <%f.hidden_field :voluntario_id, :value =>@voluntario.id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
