<h1>Lista de  experiencias</h1>

<table>
  <thead>
    <tr>
      <th>Tieneexperiencia</th>
      <th>Cantidadexperiencia</th>
      <th>Habilidad</th>
      <th>Voluntario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @experiencias.each do |experiencia| %>
      <tr>
        <td><%= experiencia.tieneExperiencia %></td>
        <td><%= experiencia.cantidadExperiencia %></td>
        <td><%= experiencia.habilidad %></td>
        <td><%= experiencia.voluntario_id %></td>
        <td><%= link_to 'Show', experiencia %></td>
        <td><%= link_to 'Edit', edit_experiencia_path(experiencia) %></td>
        <td><%= link_to 'Destroy', experiencia, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Experiencia', new_experiencia_path %>
