<p id="notice"><%= notice %></p>

<p>
  <strong>Tieneexperiencia:</strong>
  <%= @experiencia.tieneExperiencia %>
</p>

<p>
  <strong>Cantidadexperiencia:</strong>
  <%= @experiencia.cantidadExperiencia %>
</p>

<p>
  <strong>Habilidad:</strong>
  <%= @experiencia.habilidad %>
</p>

<p>
  <strong>Voluntario:</strong>
  <%= @experiencia.voluntario %>
</p>

<%= link_to 'Edit', edit_experiencia_path(@experiencia) %> |
<%= link_to 'Back', experiencias_path %>
