<div class="page-header">
<p id="notice"><%= notice %></p>
</div>
<p>
  <strong>Tieneexperiencia:</strong>
  <%= @experiencia.tieneExperiencia %>
</p> 

<p>
  <strong>Cantidadexperiencia:</strong>
  <%= @experiencia.cantidadExperiencia %>
</p>

<p>
  <strong>Habilidad:</strong>
  <%= @experiencia.habilidad %>
</p>

<p>
  <strong>Voluntario:</strong>
  <%= @experiencia.voluntario %>
</p>

<%= link_to 'Editar', edit_experiencia_path(@experiencia) %> |
<%= link_to 'Atrás', experiencias_path %>
