<div class="page-header">
<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= value %>
   </div>
<% end %>
</div>
<p>
  <strong>Tieneexperiencia:</strong>
  <%= @experiencia.tieneExperiencia %>
</p> 

<p>
  <strong>Cantidadexperiencia:</strong>
  <%= @experiencia.cantidadExperiencia %>
</p>

<p>
  <strong>Habilidad:</strong>
  <%= @experiencia.habilidad %>
</p>

<p>
  <strong>Voluntario:</strong>
  <%= @experiencia.voluntario %>
</p>

<%= link_to 'Editar', edit_experiencia_path(@experiencia) %> |
<%= link_to 'Atrás', experiencias_path %>
