<%= form_for(@objetivo_general) do |f| %>
  <% if @objetivo_general.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@objetivo_general.errors.count, "error") %> prohibited this objetivo_general from being saved:</h2>

      <ul>
      <% @objetivo_general.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo %><br>
    <%= f.text_field :titulo %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :proyecto_id %><br>
    <%= f.text_field :proyecto_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
