<p id="notice"><%= notice %></p>

<p>
  <strong>Tieneexperiencia:</strong>
  <%= @experiencium.tieneExperiencia %>
</p>

<p>
  <strong>Cantidadexperiencia:</strong>
  <%= @experiencium.cantidadExperiencia %>
</p>

<p>
  <strong>Habilidad:</strong>
  <%= @experiencium.habilidad %>
</p>

<p>
  <strong>Voluntario:</strong>
  <%= @experiencium.voluntario %>
</p>

<%= link_to 'Edit', edit_experiencium_path(@experiencium) %> |
<%= link_to 'Back', experiencia_path %>
