<%= form_for(@necesidad) do |f| %>
  <% if @necesidad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@necesidad.errors.count, "error") %> prohibited this necesidad from being saved:</h2>

      <ul>
      <% @necesidad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_area :descripcion %>
  </div>
  <div class="field">
    <%= f.label :fechaCreacion %><br>
    <%= f.date_select :fechaCreacion %>
  </div>
  <div class="field">
    <%= f.label :ambitoAplicacion %><br>
    <%= f.text_area :ambitoAplicacion %>
  </div>
  <div class="field">
    <%= f.label :usuario_id %><br>
    <%= f.text_field :usuario_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
