<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @nota_personal.titulo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @nota_personal.descripcion %>
</p>

<p>
  <strong>Fechacreacion:</strong>
  <%= @nota_personal.fechaCreacion %>
</p>

<p>
  <strong>Voluntario:</strong>
  <%= @nota_personal.voluntario %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @nota_personal.usuario %>
</p>

<%= link_to 'Edit', edit_nota_personal_path(@nota_personal) %> |
<%= link_to 'Back', nota_personals_path %>
