<p id="notice"><%= notice %></p>

<p>
  <strong>Organizacion externa:</strong>
  <%= @organizacion_externa_proyecto.organizacion_externa %>
</p>

<p>
  <strong>Proyecto:</strong>
  <%= @organizacion_externa_proyecto.proyecto %>
</p>

<%= link_to 'Edit', edit_organizacion_externa_proyecto_path(@organizacion_externa_proyecto) %> |
<%= link_to 'Back', organizacion_externa_proyectos_path %>
