<%= form_for(@proyecto_tipo_notificacion) do |f| %>
  <% if @proyecto_tipo_notificacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proyecto_tipo_notificacion.errors.count, "error") %> prohibited this proyecto_tipo_notificacion from being saved:</h2>

      <ul>
      <% @proyecto_tipo_notificacion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :proyecto_id %><br>
    <%= f.text_field :proyecto_id %>
  </div>
  <div class="field">
    <%= f.label :tipo_notificacion_id %><br>
    <%= f.text_field :tipo_notificacion_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
