<p id="notice"><%= notice %></p>

<p>
  <strong>Proyecto:</strong>
  <%= @proyecto_tipo_notificacion.proyecto %>
</p>

<p>
  <strong>Tipo notificacion:</strong>
  <%= @proyecto_tipo_notificacion.tipo_notificacion %>
</p>

<%= link_to 'Edit', edit_proyecto_tipo_notificacion_path(@proyecto_tipo_notificacion) %> |
<%= link_to 'Back', proyecto_tipo_notificacions_path %>
