<p id="notice"><%= notice %></p>

<p>
  <strong>Actividad:</strong>
  <%= @requisito.actividad %>
</p>

<p>
  <strong>Habilidad:</strong>
  <%= @requisito.habilidad %>
</p>

<%= link_to 'Editar', edit_requisito_path(@requisito) %> |
<%= link_to 'Atrás', requisitos_path %>
