<!---->
 <% if @usuario.errors.any? %>
    <div id="error_explanation">
	      <ul>
			<p class="alert alert-dismissable alert-danger">
      <% @usuario.errors.full_messages.each do |message| %>
					<%= message %><br /> 
      <% end %>
			</p>
      </ul>
    </div>
  <% end %>

<h2>Editar Usuario</h2>

 <ol class="breadcrumb">
	<%= link_to "Deshabilitar mi cuenta", usuario_bloqueado_path, :data => { :confirm => "Esta seguro de querer deshabilitar su cuenta de usuario?"} %></p>
	<%= link_to "Volver Atras", :back %>
 </ol>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <div class="form-inputs">
  	<% if params[:type] then %>
	  	<div class ="well">
	  		<h4>Por favor ingrese su legajo</h4>
			<%= f.input :legajo, label: 'Legajo', placeholder: 'Legajo...', :required => true, :autofocus => true %>
			<%= f.input :type,:as => :hidden, input_html: {value: params[:type]} %>
		</div>
	<% end %>
	<% if !current_usuario.type.nil? then %>
		<%= f.input :legajo, label: 'Legajo',  disabled: true %>
	<% end %>
    <%= f.input :email, label: 'Correo Electrónico', disabled: true %>
		<%= f.input :nombreUsuario, label: 'Nombre de Usuario',  disabled: true %>
		<%= f.input :apellido_nombre, label: 'Apellido, Nombre', disabled: true %>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Esperando confirmacion para: <%= resource.unconfirmed_email %></p>
    <% end %>
		<%= f.input :direccion, label: 'Dirección',  disabled: true %>	 
			<br />
			<div class="field">
				<label>Foto: </label>
				<!--<%= f.file_field :foto%>-->
				<%= image_tag current_usuario.foto.url %>
			</div>
			<br />
    <%= f.input :password, label: 'Contraseña nueva', :autocomplete => "off", :required => false %>
    <%= f.input :password_confirmation, label: 'Repetir nueva contraseña',:required => false, :autocomplete => "off" %>
    <%= f.input :current_password, label: 'Contraseña actual', :required => true, :autocomplete => "off" %>
		
  </div>
	</br>
  <div class="form-actions">
    <%= f.button :submit, "Actualizar Usuario", :class => "btn btn-primary btn-lg" %>
  </div>
<% end %>
	




