<!---->
<h2>Editar Usuario</h2>
 <ol class="breadcrumb">
	<%= link_to "-Cancelar mi cuenta", registration_path(resource_name), :data => { :confirm => "Esta seguro de querer eliminar su cuenta de usuario?" }, :method => :delete %></p>
	<!--<%= link_to "-Volver Atras", :back %>-->
 </ol>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, label: 'Correo Electrónico',:required => true, :autofocus => true %>
		<%= f.input :nombreUsuario, label: 'Nombre de Usuario', placeholder: 'user', :required => true, :autofocus => true %>
		<%= f.input :apellido_nombre, :required => true, :autofocus => true %>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>
		<%= f.input :direccion, label: 'Dirección', placeholder: 'Calle, N°, Localidad, Provincia, País', :required => false, :autofocus => true %>	 
			<div class="field">
				<label>Foto: </label>
				<%= f.file_field :foto%>
			</div>
    <%= f.input :password, label: 'Contraseña nueva',:autocomplete => "off", :hint => "Dejar el campo en blanco si no desea cambiar la contraseña", :required => false %>
    <%= f.input :password_confirmation, label: 'Repetir nueva contraseña',:required => false %>
    <%= f.input :current_password, label: 'Contraseña actual',:hint => "Se necesita la contraseña actual para confirmar los cambios", :required => true %>
		
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Actualizar Usuario", :class => "btn btn-primary btn-lg" %>
  </div>
<% end %>




