<!----->
 <h1>Sistema Estudiantil de Voluntariado Universitario</h1>

 <ol class="breadcrumb">
  <li><i class="icon-dashboard"></i> Registro/</a></li>
	<%- if controller_name != 'sessions' %>
  <%= link_to " Iniciar Sesión", new_session_path(resource_name) %><br />
  <% end -%>
 </ol>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
	      <ul>
      <% @usuario.errors.full_messages.each do |message| %>
        <font color="red"><li><%= message %></li></font>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.error_notification %>
	<div class="col-lg-6">
		<div class="form-inputs">
			<%= f.input :nombreUsuario, label: 'Nombre de Usuario', placeholder: 'user', :required => true, :autofocus => true %>
			<br></br> 
			<%= f.input :password, label: 'Contraseña', hint: 'Verifique el bloqueo de mayúscula (Bloq Mayús).', placeholder: 'password', :required => true %>
			<br></br>	
    	<%= f.input :password_confirmation, label: 'Confirmar contraseña', placeholder: 'password', :required => true %>		
			<br></br>	
			<%= f.input :apellido_nombre, label: 'Apellido, Nombre', placeholder: 'apellido, nombres', :required => true, :autofocus => true %>
			<br></br>
			<%= f.input :email, label: 'Correo Electrónico', placeholder: 'usuario@dominio.com', :required => true, :autofocus => true %>
			<br></br>
			<label>Código Verificador</label>
		  <input class="form-control">
			<button type="f.button" class="f.botton">Verificar Correo</button>
			<br></br>
			<%= f.input :direccion, label: 'Dirección', placeholder: 'Calle, N°, Localidad, Provincia, País', :required => false, :autofocus => true %>
			<br></br>		 
			<div class="field">
				<label>Foto: </label>
				<%= f.file_field :foto%>
			</div>
			<br></br>
		</div>
		<div class="col-lg-12">
			<div class="col-lg-6">
				<div class="form-actions">
		  		<%= f.button :submit, "Registrarse", :class => "btn btn-primary btn-lg" %>
					<br></br>
				</div>
			</div>
		</div>	
	</div>
	
<% end %>


