<p id="notice"><%= notice %></p>

<p>
  <strong>Fechacreacion:</strong>
  <%= @asistencia_evento_publico.fechaCreacion %>
</p>

<p>
  <strong>Evento publico:</strong>
  <%= @asistencia_evento_publico.evento_publico %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @asistencia_evento_publico.usuario %>
</p>

<%= link_to 'Edit', edit_asistencia_evento_publico_path(@asistencia_evento_publico) %> |
<%= link_to 'Back', asistencia_evento_publicos_path %>
