<p id="notice"><%= notice %></p>

<p>
  <strong>Montototal:</strong>
  <%= @informe_gasto.montoTotal %>
</p>

<p>
  <strong>Proyecto:</strong>
  <%= @informe_gasto.proyecto %>
</p>

<%= link_to 'Edit', edit_informe_gasto_path(@informe_gasto) %> |
<%= link_to 'Back', informe_gastos_path %>
