<%= simple_form_for([@restriccion, @detalle_restriccion],
    wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  }) do |f| %>
  <% if @detalle_restriccion.errors.any? %>
    <div class="col-lg-12">
      <div class="col-lg-4"></div>
        <div id="error_explanation" class="col-lg-4">
          <div class="alert alert-danger">
            <a class="close" data-dismiss="alert">x</a>
            <strong><%= pluralize(@detalle_restriccion.errors.count, "Error") %> en la creacion del detalle:</strong>
            <ul>
              <% @detalle_restriccion.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="row" align="center">
    <div class="col-lg-3" align="center"></div>
      <div class="col-lg-6" align="center">
         <br></br>
         <label> Concepto o rubro </label>
        <%= f.collection_select(:concepto_gasto_id, @concepto_gastos, :id, :titulo, {prompt: "Concepto..."}, {class: "form-control"}) %>
         
         <br></br>
         
         <br></br>

         <%= f.input :montoMax, wrapper: :horizontal_input_group do %>
           <span class="input-group-addon">Monto maximo $</span>
           <%= f.input_field :montoMax, class: "form-control" %>
         <% end %>
       </div>
     </div>
   </div>
   
   <div align="center">
     <%= f.button :submit, :class => 'btn btn-primary btn-lg center', :value => 'Confirmar' %>
   </div>

<% end %>
