<h1>Listing detalle_restricciones</h1>

<table>
  <thead>
    <tr>
      <th>Esactiva</th>
      <th>Fechadesde</th>
      <th>Fechahasta</th>
      <th>Montomax</th>
      <th>Restriccion</th>
      <th>Concepto gasto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @detalle_restricciones.each do |detalle_restriccion| %>
      <tr>
        <td><%= detalle_restriccion.esActiva %></td>
        <td><%= detalle_restriccion.fechaDesde %></td>
        <td><%= detalle_restriccion.fechaHasta %></td>
        <td><%= detalle_restriccion.montoMax %></td>
        <td><%= detalle_restriccion.restriccion %></td>
        <td><%= detalle_restriccion.concepto_gasto %></td>
        <td><%= link_to 'Ver', detalle_restriccion %></td>
        <td><%= link_to 'Editar', edit_detalle_restriccion_path(detalle_restriccion) %></td>
        <td><%= link_to 'Borrar', detalle_restriccion, method: :delete, data: { confirm: 'Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Detalle restriccion', new_detalle_restriccion_path %>
