<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= value %>
   </div>
<% end %>

<p>
  <strong>Esactiva:</strong>
  <%= @detalle_restriccion.esActiva %>
</p>

<p>
  <strong>Fechadesde:</strong>
  <%= @detalle_restriccion.fechaDesde %>
</p>

<p>
  <strong>Fechahasta:</strong>
  <%= @detalle_restriccion.fechaHasta %>
</p>

<p>
  <strong>Montomax:</strong>
  <%= @detalle_restriccion.montoMax %>
</p>

<p>
  <strong>Restriccion:</strong>
  <%= @detalle_restriccion.restriccion %>
</p>

<p>
  <strong>Concepto gasto:</strong>
  <%= @detalle_restriccion.concepto_gasto %>
</p>

<%= link_to 'Editar', edit_detalle_restriccion_path(@detalle_restriccion) %> |
<%= link_to 'Atrás', detalle_restricciones_path %>
