<p id="notice"><%= notice %></p>

<p>
  <strong>Esactiva:</strong>
  <%= @detalle_restriccion.esActiva %>
</p>

<p>
  <strong>Fechadesde:</strong>
  <%= @detalle_restriccion.fechaDesde %>
</p>

<p>
  <strong>Fechahasta:</strong>
  <%= @detalle_restriccion.fechaHasta %>
</p>

<p>
  <strong>Montomax:</strong>
  <%= @detalle_restriccion.montoMax %>
</p>

<p>
  <strong>Restriccion:</strong>
  <%= @detalle_restriccion.restriccion %>
</p>

<p>
  <strong>Concepto gasto:</strong>
  <%= @detalle_restriccion.concepto_gasto %>
</p>

<%= link_to 'Edit', edit_detalle_restriccion_path(@detalle_restriccion) %> |
<%= link_to 'Back', detalle_restricciones_path %>
