<%= form_for(@notificacion_email) do |f| %>
  <% if @notificacion_email.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notificacion_email.errors.count, "error") %> prohibited this notificacion_email from being saved:</h2>

      <ul>
      <% @notificacion_email.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :destinatario %><br>
    <%= f.text_field :destinatario %>
  </div>
  <div class="field">
    <%= f.label :remitente %><br>
    <%= f.text_field :remitente %>
  </div>
  <div class="field">
    <%= f.label :asunto %><br>
    <%= f.text_field :asunto %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
