<div class="row">          
    	<h1>Sistema Estudiantil de Voluntariado Universitario</h1>
        <ol class="breadcrumb">
              <li><i class="icon-dashboard"></i> Registro</a></li>
         </ol>
</div>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>


<div class="col-lg-6">
	<div class="inputs">
		<%= f.input :apellido_nombre, label: 'Apellido, Nombre', placeholder: 'apellido, nombres', :required => true, :autofocus => true %>
		<br></br>
		<%= f.input :nombreUsuario, label: 'Nombre de Usuario', placeholder: 'user', :required => true, :autofocus => true %>
		<br></br>    
		<%= f.input :email, label: 'Correo Electrónico', placeholder: 'usuario@dominio.com', :required => true, :autofocus => true %>
		<br></br>
		<label>Código Verificador</label>
    <input class="form-control">
	  <button type="button" class="f.botton">Verificar Correo</button>
		<br></br> 
    <%= f.input :password, label: 'Contraseña', hint: 'Verifique el bloqueo de mayúscula (Bloq Mayús).', placeholder: 'password', :required => true %>
		<br></br>
    <%= f.input :password_confirmation, label: 'Repetir Contraseña', hint: 'Verifique el bloqueo de mayúscula (Bloq Mayús).', placeholder: 'password', :required => true %>
		<br></br>
		<%= f.input :direccion, label: 'Dirección', placeholder: 'Calle, N°, Localidad, Provincia, País', :required => true, :autofocus => true %>
		<br></br>		
		<div class="field">
			<%= f.label :fechaRegistro %>
			<%= f.datetime_select :fechaRegistro %>
		</div>
		<br></br>
		<div class="field">
			<%= f.label :foto %>
			<%= f.file_field :foto%>
		</div>

    <!--<%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>-->
  </div>
  <br></br>

    <div class="actions">
      <%= f.button :submit, "Registrarse" %>
    </div>
		<br></br>
</div>
<% end %>

<!--<%= render :partial => "devise/shared/links" %>-->

