<%= simple_form_for(@objetivo_general, html: objetivo_general_form_html_options ) do |f| %>
  <% if @objetivo_general.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@objetivo_general.errors.count, "error") %> prohibited this objetivo_general from being saved:</h2>

      <ul>
      <% @objetivo_general.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :titulo %>

  <%= f.input :descripcion %>

  <% if params[:proyecto_id] %>
   <%= f.input :proyecto_id,:as => :hidden, input_html: {value: params[:proyecto_id]} %>
  <% end %>

  <% if @objetivo_general.proyecto.presence %>
   <%= f.input :proyecto_id,:as => :hidden, input_html: {value: @objetivo_general.proyecto.id} %>
  <% end %>
  <br>
  <%= f.button :submit, :class => 'btn btn-primary', :value => 'GUARDAR' %>

<% end %>
