<%= simple_form_for(@objetivo_general, html: objetivo_general_form_html_options ) do |f| %>
  
  <% if @objetivo_general.errors.any? %>
    <div class="col-lg-12">
      <div class="col-lg-4"></div>
       
          <div class="alert alert-danger col-lg-4">
            <a class="close" data-dismiss="alert">x</a>      
            <strong><%= pluralize(@objetivo_general.errors.count, "Error") %> en la creacion del Objetivo General:</strong>
            <ul>
              <% @objetivo_general.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <div class="col-lg-4"> </div>
      </div>
  <% end %>


  <%= f.input :titulo %>

  <%= f.input :descripcion %>

  <% if params[:proyecto_id] %>
   <%= f.input :proyecto_id,:as => :hidden, input_html: {value: params[:proyecto_id]} %>
  <% end %>

  <% if @objetivo_general.proyecto.presence %>
   <%= f.input :proyecto_id,:as => :hidden, input_html: {value: @objetivo_general.proyecto.id} %>
  <% end %>
  <br>
  <%= f.button :submit, :class => 'btn btn-primary', :value => 'Confirmar' %>

<% end %>
