<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= value %>
   </div>
<% end %>


<h1>Objetivos Generales</h1>

    <% if @proyecto.objetivo_generales.empty? then %>
        <p>
          No hay Objetivos Generales creados
        </p>
    <% end %>
    <% @proyecto.objetivo_generales.each do |objetivo_general| %>
            <div class="panel panel-primary">
              <div class="panel-heading">

		<% if !objetivo_general.titulo.blank? %>
		      <h3 class="panel-title">Objetivo General: <%= link_to objetivo_general.titulo, objetivo_general, :style => "font-size: 22px;" %>
		      </h3>
		<% else %>
			No se ha asignado ningun nombre al Objetivo General
		<% end %>



              </div>
              <div class="panel-body">
                
                <label>Descripción del Objetivo</label>
                <p> 
		<% if !objetivo_general.descripcion.blank? %>
			<%= objetivo_general.descripcion %>
		<% else %>
			No se ha cargado una descripción
		<% end %>
                </p>
                   <div class="btn-group btn-group-justified">
 
                </div>
                
              </div>
            </div>


    <% end %>

<br>

<%= link_to 'Nuevo Objetivo general', new_objetivo_general_path(:proyecto_id => params[:proyecto_id]) %>
