<h1>Listing objetivo_generales</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Description</th>
      <th>Proyecto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @proyecto.objetivo_generales.each do |objetivo_general| %>
      <tr>
        <td><%= objetivo_general.titulo %></td>
        <td><%= objetivo_general.descripcion %></td>
        <td><%= objetivo_general.proyecto %></td>
	<td><%= link_to 'Show', objetivo_general, :proyecto_id => params[:proyecto_id] %></td>
        <td><%= link_to 'Edit', edit_objetivo_general_path(objetivo_general) %></td>
        <td><%= link_to 'Destroy', objetivo_general, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Objetivo general', new_objetivo_general_path(:proyecto_id => params[:proyecto_id]) %>
