<p id="notice"><%= notice %></p>

<div id="<%= dom_id(@objetivo_general) %>">
<p>
  <strong>Titulo:</strong>
  <%= @objetivo_general.titulo %>
</p>

<p>
  <strong>Description:</strong>
  <%= @objetivo_general.descripcion %>
</p>

</div>
<%= link_to 'Edit', edit_objetivo_general_path(@objetivo_general, :proyecto_id => params[:proyecto_id]), remote: true, data: { target: 'modal', modal: true } %> |
<%= link_to 'Back', objetivo_generales_path(:proyecto_id => params[:proyecto_id]) %>
