<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @objetivo_general.titulo %>
</p>

<p>
  <strong>Description:</strong>
  <%= @objetivo_general.description %>
</p>

<p>
  <strong>Proyecto:</strong>
  <%= @objetivo_general.proyecto %>
</p>

<%= link_to 'Edit', edit_objetivo_general_path(@objetivo_general) %> |
<%= link_to 'Back', objetivo_generales_path %>
