<%= form_for(@presupuesto) do |f| %>
  <% if @presupuesto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@presupuesto.errors.count, "error") %> prohibited this presupuesto from being saved:</h2>

      <ul>
      <% @presupuesto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fechaPresentacion %><br>
    <%= f.date_select :fechaPresentacion %>
  </div>
  <div class="field">
    <%= f.label :montoTotal %><br>
    <%= f.number_field :montoTotal %>
  </div>
  <div class="field">
    <%= f.label :aprobado %><br>
    <%= f.check_box :aprobado %>
  </div>
  <div class="field">
    <%= f.label :proyecto_id %><br>
    <%= f.text_field :proyecto_id %>
  </div>
  <div class="field">
    <%= f.label :restriccion_id %><br>
    <%= f.text_field :restriccion_id %>
  </div>
  <div class="field">
    <%= f.label :usuario_id %><br>
    <%= f.text_field :usuario_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
