<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= value %>
   </div>
<% end %>

<p>
  <strong>Fechapresentacion:</strong>
  <%= @presupuesto.fechaPresentacion %>
</p>

<p>
  <strong>Montototal:</strong>
  <%= @presupuesto.montoTotal %>
</p>

<p>
  <strong>Aprobado:</strong>
  <%= @presupuesto.aprobado %>
</p>

<p>
  <strong>Proyecto:</strong>
  <%= @presupuesto.proyecto %>
</p>

<p>
  <strong>Restriccion:</strong>
  <%= @presupuesto.restriccion %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @presupuesto.usuario %>
</p>

<%= link_to 'Editar', edit_presupuesto_path(@presupuesto) %> |
<%= link_to 'Atrás', presupuestos_path %>
