<p id="notice"><%= notice %></p>

<p>
  <strong>Fechapresentacion:</strong>
  <%= @presupuesto.fechaPresentacion %>
</p>

<p>
  <strong>Montototal:</strong>
  <%= @presupuesto.montoTotal %>
</p>

<p>
  <strong>Aprobado:</strong>
  <%= @presupuesto.aprobado %>
</p>

<p>
  <strong>Proyecto:</strong>
  <%= @presupuesto.proyecto %>
</p>

<p>
  <strong>Restriccion:</strong>
  <%= @presupuesto.restriccion %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @presupuesto.usuario %>
</p>

<%= link_to 'Edit', edit_presupuesto_path(@presupuesto) %> |
<%= link_to 'Back', presupuestos_path %>
