<!----->
<div class="col-lg-12">
  <h2>Lista de Privilegios</h2>
	<br></br>
  <div class="table-responsive  col-lg-12">
    <table class="table table-hover table-striped tablesorter">
			<thead>
    		<tr>
      		<th>Nombre</th>
      		<th>Descripcion</th>
					<th>Tipo privilegio</th>
    		</tr>
  		</thead>
    	<tbody>
       	<% @privilegios.to_enum(:each_with_index).each do |privilegio,i| %>
      		<tr>
       	 		<td><%= privilegio.nombre %></td>
       	 		<td><%= privilegio.descripcion %></td>
						<td><%= @tipos[i] %></td>
        		<td><%= link_to 'Editar', edit_privilegio_path(privilegio) %></td>
      	 		<td><%= link_to 'Eliminar', privilegio, method: :delete, data: { confirm: 'Esta seguro de eliminar el privilegio?' } %></td>
      		</tr>
    		<% end %>
    	</tbody>
    </table>
  </div>
</div>


