<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @privilegio.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @privilegio.descripcion %>
</p>

<p>
  <strong>Tipo privilegio:</strong>
  <%= @privilegio.tipo_privilegio %>
</p>

<%= link_to 'Edit', edit_privilegio_path(@privilegio) %> |
<%= link_to 'Back', privilegios_path %>
