<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= value %>
   </div>
<% end %>

<p>
  <strong>Nombre:</strong>
  <%= @privilegio.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @privilegio.descripcion %>
</p>

<p>
  <strong>Tipo privilegio:</strong>
  <%= TipoPrivilegio.find(@privilegio.tipo_privilegio).nombre %>
</p>

<%= link_to 'Editar', edit_privilegio_path(@privilegio) %> |
<%= link_to 'Volver', privilegios_path %>
