<%= form_for(@historialestado_proyecto) do |f| %>
  <% if @historialestado_proyecto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@historialestado_proyecto.errors.count, "error") %> prohibited this historialestado_proyecto from being saved:</h2>

      <ul>
      <% @historialestado_proyecto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fechaCambioEstado %><br>
    <%= f.date_select :fechaCambioEstado %>
  </div>
  <div class="field">
    <%= f.label :esActual %><br>
    <%= f.check_box :esActual %>
  </div>
  <div class="field">
    <%= f.label :estado_proyecto_id %><br>
    <%= f.text_field :estado_proyecto_id %>
  </div>
  <div class="field">
    <%= f.label :proyecto_id %><br>
    <%= f.text_field :proyecto_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
