<h1>Listing historialestado_proyectos</h1>

<table>
  <thead>
    <tr>
      <th>Fechacambioestado</th>
      <th>Esactual</th>
      <th>Estado proyecto</th>
      <th>Proyecto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @historialestado_proyectos.each do |historialestado_proyecto| %>
      <tr>
        <td><%= historialestado_proyecto.fechaCambioEstado %></td>
        <td><%= historialestado_proyecto.esActual %></td>
        <td><%= historialestado_proyecto.estado_proyecto %></td>
        <td><%= historialestado_proyecto.proyecto %></td>
        <td><%= link_to 'Show', historialestado_proyecto %></td>
        <td><%= link_to 'Edit', edit_historialestado_proyecto_path(historialestado_proyecto) %></td>
        <td><%= link_to 'Destroy', historialestado_proyecto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Historialestado proyecto', new_historialestado_proyecto_path %>
