<h1>Editando Historial Estado Actividad</h1>

<%= simple_form_for(@historial_estado_actividad) do |f| %>
  <% if @historial_estado_actividad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@historial_estado_actividad.errors.count, "error") %> prohibited this historial_estado_actividad from being saved:</h2>

      <ul>
      <% @historial_estado_actividad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :actividad_id, :as => :hidden, input_html: {value: @historial_estado_actividad.actividad.id} %><br>

  <% if @estados_posibles != [] %>
	  <%= f.input :estado_actividad_id, collection: @estados_posibles, :label => 'Estado', :include_blank => false %>
        <div class="modal-footer">
  <%= f.button :submit, :class => 'btn btn-primary', :value => 'Confirmar' %><br>
        </div>

  <% else %>
	  No se puede modificar el estado.
  <% end %>


<% end %>

<%= link_to 'Atrás', historial_estado_actividades_path(:actividad_id => @historial_estado_actividad.actividad.id) %>
