
<p id="notice"><%= notice %></p>


<h1>Lista de Historial Estado Actividades</h1>

<table class="table table-hover table-striped tablesorter">
  <thead>
    <tr>
      <th>Estado actividad</th>
      <th>Fecha Inicio Estado</th>
      <th>Fecha Fin Estado</th>
      <th>Esactual</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @actividad.historial_estado_actividades.each_with_index do |historial_estado_actividad, index| %>
    <% if index+1 == @actividad.historial_estado_actividades.size %>
                    <tr style="color: black">
                    <%else %>
                    <tr style="font-style: italic">
                    <% end %>
  
        <td><%= historial_estado_actividad.estado_actividad %></td>
        <td><%= historial_estado_actividad.created_at.to_formatted_s(:long_ordinal) %></td>
        <% if historial_estado_actividad.created_at == historial_estado_actividad.updated_at %>
          <td>Actualidad</td>
        <% else %>
          <td><%= historial_estado_actividad.updated_at.to_formatted_s(:long_ordinal) %></td>
        <% end %>
	<td><% if index+1 == @actividad.historial_estado_actividades.size %> Sí <% else %> No <% end %></td>
	<% if index+1 == @actividad.historial_estado_actividades.size %>
		<%= link_to 'Modificar Ultimo Estado', edit_historial_estado_actividad_path(historial_estado_actividad) %> |
	<% end %>
  
      </tr>
    <% end %>
    <%= link_to 'Atras', actividad_path(@actividad) %>
  </tbody>
</table>

<br>

