<h1>Listing historial_estado_actividades</h1>

<table>
  <thead>
    <tr>
      <th>Fechacambioestado</th>
      <th>Esactual</th>
      <th>Actividad</th>
      <th>Estado actividad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @historial_estado_actividades.each do |historial_estado_actividad| %>
      <tr>
        <td><%= historial_estado_actividad.fechaCambioEstado %></td>
        <td><%= historial_estado_actividad.esActual %></td>
        <td><%= historial_estado_actividad.actividad %></td>
        <td><%= historial_estado_actividad.estado_actividad %></td>
        <td><%= link_to 'Show', historial_estado_actividad %></td>
        <td><%= link_to 'Edit', edit_historial_estado_actividad_path(historial_estado_actividad) %></td>
        <td><%= link_to 'Destroy', historial_estado_actividad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Historial estado actividad', new_historial_estado_actividad_path %>
