<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= value %>
   </div>
<% end %>

<p>
  <strong>Fechacambioestado:</strong>
  <%= @historial_estado_actividad.fechaCambioEstado %>
</p>

<p>
  <strong>Esactual:</strong>
  <%= @historial_estado_actividad.esActual %>
</p>

<p>
  <strong>Actividad:</strong>
  <%= @historial_estado_actividad.actividad %>
</p>

<p>
  <strong>Estado actividad:</strong>
  <%= @historial_estado_actividad.estado_actividad %>
</p>

<%= link_to 'Editar', edit_historial_estado_actividad_path(@historial_estado_actividad) %> |
<%= link_to 'Atrás', historial_estado_actividades_path %>
