<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @tipo_rol.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @tipo_rol.descripcion %>
</p>

<%= link_to 'Edit', edit_tipo_rol_path(@tipo_rol) %> |
<%= link_to 'Back', tipo_roles_path %>
