<%= simple_form_for(@reporte) do |f| %>
  <% if @reporte.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reporte.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @reporte.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :descripcion %><br>
    
  <%= f.input :asignacion_actividad_id,:as => :hidden, input_html: {value: @asignacion_actividad.id} %>
    
  <div class="modal-footer">
          <%= f.button :submit, :class => 'btn btn-primary', :value => 'Confirmar' %>
  </div>
<% end %>
