<%= simple_form_for(@reporte) do |f| %>
  <% if @reporte.errors.any? %>
    <div class="col-lg-12">
      <div class="col-lg-4"></div>
       
          <div class="alert alert-danger col-lg-4">
            <a class="close" data-dismiss="alert">x</a>      
            <strong><%= pluralize(@reporte.errors.count, "Error") %> en la creacion del Reporte:</strong>
            <ul>
              <% @reporte.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        
      </div>
  <% end %>

      
<div class="col-lg-12">
  <%= f.input :descripcion, :placeholder => 'ingrese una dresçripción de la experiencia vivida...' %><br>
    
  <%= f.input :asignacion_actividad_id,:as => :hidden, input_html: {value: @asignacion_actividad.id}  %>
    

    </div>
  <div class="modal-footer">
          <%= f.button :submit, :class => 'btn btn-primary', :value => 'Confirmar' %>
  </div>
<% end %>
