<!----->
<div class="col-lg-6">
	<h2>Reporte de Regionales</h2>
</div>
<div class="col-lg-6">
		<br></br>
	<%= link_to 'Generar Reporte', reporte_generado_path ,  { :class=>"btn btn-primary btn-lg" } %>
</div>
<div class="col-lg-12">
	<div class="table-responsive  col-lg-4">
		<h3>Regionales Disponibles</h3>
		<table class="table table-hover table-striped tablesorter">
			<thead>
         <tr>
           <th class="col-lg-6">Nombre Regional</th>
					 <th class="col-lg-6">Universidad</th>
         </tr>
      </thead>
			<tbody>
			<%  %>
				<tr>
					<td><%=  %></td>
					<td><%=  %></td>
					<td><%=  %></td>
				</tr>
			<%  %>
			</tbody>
		</table>
	</div>
	<div class="table-responsive  col-lg-8">
		<h3>Items Disponibles</h3>
		<table class="table table-hover table-striped tablesorter">
			<thead>
         <tr>
           <th class="col-lg-12">Nombre Item</th>
         </tr>
      </thead>
			<tbody>
				<tr>
		      <td>Cantidad de proyectos por regional en estado creado</td>
					<td><%= check_box_tag 'item1', '', false %></td>
        </tr>
        <tr>
          <td>Cantidad de proyectos por regional en estado cancelado</td>
					<td><%= check_box_tag 'item2', '', false %></td>
        </tr>
        <tr>
          <td>Cantidad de proyectos por regional en estado terminado</td>
					<td><%= check_box_tag 'item3', '', false %></td>
        </tr>
        <tr>
          <td>Cantidad de proyectos por regional en estado suspendido</td>
					<td><%= check_box_tag 'item4', '', false %></td>
        </tr>
        <tr>
          <td>Cantidad de voluntarios por regional en estado suspendido</td>
					<td><%= check_box_tag 'item5', '', false %></td>
        </tr>
        <tr>
          <td>Cantidad de voluntarios por regional en estado activo</td>
					<td><%= check_box_tag 'item6', '', false %></td>
        </tr>
        <tr>
          <td>Cantidad de voluntarios por regional en estado suspendido</td>
					<td><%= check_box_tag 'item7', '', false %></td>
        </tr>
        <tr>
          <td>Cantidad de proyectos por regional con presupuesto</td>
					<td><%= check_box_tag 'item8', '', false %></td>
        </tr>
        <tr>
          <td>Cantidad de proyectos por regional en evaluación de presupuestos.</td>
					<td><%= check_box_tag 'item9', '', false %></td>
        </tr>
        <tr>
          <td>Cantidad de presupuesto por regional</td>
					<td><%= check_box_tag 'item10', '', false %></td>
        </tr>
        <tr>
          <td>Cantidad de horas efectivas realizadas de voluntariado por regional</td>
					<td><%= check_box_tag 'item11', '', false %></td>
        </tr>
        <tr>
          <td>Cantidad de horas efectivas realizadas por regional según tipo de actividad</td>
					<td><%= check_box_tag 'item12', '', false %></td>
        </tr>
			</tbody>
 		</table>
	</div>

</div>
