<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= value %>
   </div>
<% end %>

<p>
  <strong>Descripcion:</strong>
  <%= @report.descripcion %>
</p>

<p>
  <strong>Asignacion actividad:</strong>
  <%= @report.asignacion_actividad %>
</p>

<%= link_to 'Editar', edit_report_path(@report) %> |
<%= link_to 'Atrás', reportes_path %>
