<%= form_for(@asistencia_evento) do |f| %>
  <% if @asistencia_evento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@asistencia_evento.errors.count, "error") %> prohibited this asistencia_evento from being saved:</h2>

      <ul>
      <% @asistencia_evento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :evento_publico_id %><br>
    <%= f.text_field :evento_publico_id %>
  </div>
  <div class="field">
    <%= f.label :usuario_id %><br>
    <%= f.text_field :usuario_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
