<p id="notice"><%= notice %></p>

<p>
  <strong>Evento publico:</strong>
  <%= @asistencia_evento.evento_publico %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @asistencia_evento.usuario %>
</p>

<%= link_to 'Editar', edit_asistencia_evento_path(@asistencia_evento) %> |
<%= link_to 'Atrás', asistencia_eventos_path %>
