<%= form_for(@notificacion) do |f| %>
  <% if @notificacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notificacion.errors.count, "error") %> prohibited this notificacion from being saved:</h2>

      <ul>
      <% @notificacion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fechaNotificacion %><br>
    <%= f.date_select :fechaNotificacion %>
  </div>
  <div class="field">
    <%= f.label :horaNotificacion %><br>
    <%= f.date_select :horaNotificacion %>
  </div>
  <div class="field">
    <%= f.label :esActiva %><br>
    <%= f.check_box :esActiva %>
  </div>
  <div class="field">
    <%= f.label :mensaje %><br>
    <%= f.text_area :mensaje %>
  </div>
  <div class="field">
    <%= f.label :notificado %><br>
    <%= f.check_box :notificado %>
  </div>
  <div class="field">
    <%= f.label :usuarioCreador_id %><br>
    <%= f.text_field :usuarioCreador_id %>
  </div>
  <div class="field">
    <%= f.label :usuarioDestino_id %><br>
    <%= f.text_field :usuarioDestino_id %>
  </div>
  <div class="field">
    <%= f.label :evento_publico_id %><br>
    <%= f.text_field :evento_publico_id %>
  </div>
  <div class="field">
    <%= f.label :proyecto_id %><br>
    <%= f.text_field :proyecto_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
