<p id="notice"><%= notice %></p>

<p>
  <strong>Fechanotificacion:</strong>
  <%= @notificacion.fechaNotificacion %>
</p>

<p>
  <strong>Horanotificacion:</strong>
  <%= @notificacion.horaNotificacion %>
</p>

<p>
  <strong>Esactiva:</strong>
  <%= @notificacion.esActiva %>
</p>

<p>
  <strong>Mensaje:</strong>
  <%= @notificacion.mensaje %>
</p>

<p>
  <strong>Notificado:</strong>
  <%= @notificacion.notificado %>
</p>

<p>
  <strong>Usuariocreador:</strong>
  <%= @notificacion.usuarioCreador %>
</p>

<p>
  <strong>Usuariodestino:</strong>
  <%= @notificacion.usuarioDestino %>
</p>

<p>
  <strong>Evento publico:</strong>
  <%= @notificacion.evento_publico %>
</p>

<p>
  <strong>Proyecto:</strong>
  <%= @notificacion.proyecto %>
</p>

<%= link_to 'Edit', edit_notificacion_path(@notificacion) %> |
<%= link_to 'Back', notificacions_path %>
