<!----->
<h2>Cambiar contraseña</h2>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= f.error_notification %>

  <%= f.input :reset_password_token, :as => :hidden %>
  <%= f.full_error :reset_password_token %>

  <div class="form-inputs">
    <%= f.input :password, :label => "Nueva contraseña", :required => true, :autofocus => true %>
		<br></br>
    <%= f.input :password_confirmation, :label => "Confirmar nueva contraseña", :required => true %>
  </div>
	<br></br>
  <div class="form-actions">
    <%= f.button :submit, "Cambiar mi contraseña", :class => "btn btn-primary btn-lg"  %>
  </div>
<% end %>
<br></br>
<%- if controller_name != 'sessions' %>
  <%= link_to " Iniciar Sesión", new_session_path(resource_name) %><br />
  <% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to "Registrarme", new_registration_path(resource_name) %><br />
<% end -%>
