<h1>Listing detalle_gastos</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Descripcion</th>
      <th>Monto</th>
      <th>Concepto gasto</th>
      <th>Informe gastos</th>
      <th>Voluntario</th>
      <th>Comprobante</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @detalle_gastos.each do |detalle_gasto| %>
      <tr>
        <td><%= detalle_gasto.titulo %></td>
        <td><%= detalle_gasto.descripcion %></td>
        <td><%= detalle_gasto.monto %></td>
        <td><%= detalle_gasto.concepto_gasto %></td>
        <td><%= detalle_gasto.informe_gastos %></td>
        <td><%= detalle_gasto.voluntario %></td>
        <td><%= detalle_gasto.comprobante %></td>
        <td><%= link_to 'Ver', detalle_gasto %></td>
        <td><%= link_to 'Editar', edit_detalle_gasto_path(detalle_gasto) %></td>
        <td><%= link_to 'Borrar', detalle_gasto, method: :delete, data: { confirm: 'Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Detalle gasto', new_detalle_gasto_path %>
