          <ul class="nav navbar-nav side-nav">
            <li>
              <%= link_to 'Crear Proyectos', new_proyecto_path %>
            </li>
            <li>
              <%= link_to 'Visualizar Proyectos', proyectos_path %>
            </li>
            <li>
              <%= link_to 'Mis Proyectos', proyectos_mis_proyectos_path %>
            </li>

	    <% if defined?(@proyecto) && !@proyecto.id.nil? %>
	    <li>
		    <%= link_to 'Ver Proyecto', proyecto_path(@proyecto) %>
	    </li>
	    <li>
		    <%= link_to 'Asignar Recursos', asignacion_roles_path(:proyecto_id => @proyecto.id) %>
            </li>
            <li>
		    <%= link_to 'Objetivos Generales', objetivo_generales_path(:proyecto_id => @proyecto.id) %>
            </li>

	    <li>
	      <%= link_to 'Postulaciones', postulaciones_path(:proyecto_id => @proyecto.id) %>
            </li>
 
            <li>
              <% if @proyecto.presupuesto.nil? then %>
                <%= link_to 'Presupuesto', presupuestos_path(proyecto_id: @proyecto.id), data: { method: :post } %>
            <% else %>
                <%= link_to 'Presupuesto', gestionar_presupuesto_path(@proyecto.presupuesto) %>
              <% end %>
            </li>
            <li>
              <% if @proyecto.informe_gasto.nil? then #pregunta si tiene Informe de Gastos %>
                <!--NO LO HE PROBADO, PUEDE DAR ERROR CON POSTGRES, CON LA BUSQUEDA, LO QUE HABRIA QUE SOLUCIONARLO CON UN MIGRATE-->
                <!--Y CAMBIANDO LOS ATRIBUTOS EN SCHEMA Y EL MODELO DE PROYECTO -->
                <%= link_to 'Informe de Gastos', informe_gastos_path(proyecto_id: @proyecto.id), data: { method: :post } %>
              <% else %>
                <%= link_to 'Informe de Gastos', gestionar_informe_gastos_path(@proyecto.informe_gasto.id) %>
              <% end %>
          </li>   
  
    <% end %>
              <% if can? :evaluar_presupuestos_pendientes, Presupuesto then %>
                  <li>
                      <%= link_to 'Evaluar Presupuestos', evaluar_presupuestos_pendientes_path %>
                  </li>
              <% end %>
              <% if can? :presupuestos_evaluados, Presupuesto then %>
                  <li>
                      <%= link_to 'Presupuestos evaluados', presupuestos_evaluados_path %>
                  </li>
              <% end %>
          </ul>    

