        <ul class="nav navbar-nav side-nav">
            <li>
              <%= link_to 'Lista de Roles', roles_path %>
            </li>
						<li>
              <%= link_to 'Agregar Privilegio a Rol', new_asignacion_rol_predefinido_path %>
            </li>
						<li>
              <%= link_to 'Agregar Funcion a Usuario', new_asignacion_funcion_path %>
            </li>
						<li>
              <%= link_to 'Lista de Tipos de Rol', tipo_roles_path %>
            </li>
						<li>
              <%= link_to 'Lista de Privilegios', privilegios_path %>
            </li>
						<li>
              <%= link_to 'Lista de Tipos de Privilegios', tipo_privilegios_path %>
            </li>
            <li>
              <%= link_to 'Crear Rol', new_rol_path %>
            </li>
						<li>
              <%= link_to 'Crear Tipo de Rol', new_tipo_rol_path %>
            </li>
						<li>
              <%= link_to 'Crear Privilegio', new_privilegio_path %>
            </li>
						<li>
              <%= link_to 'Crear Tipo de Privilegio', new_tipo_privilegio_path %>
            </li>
				</ul>	

