<%= simple_form_for(@necesidad, html: necesidad_form_html_options ) do |f| %>
  <% if @necesidad.errors.any? %>
    <div class="col-lg-12">
      <div class="col-lg-4"></div>
        
          <div class="alert alert-danger col-lg-4">
            <a class="close" data-dismiss="alert">x</a>      
            <strong><%= pluralize(@necesidad.errors.count, "Error") %> en la creacion de la necesidad:</strong>
            <ul>
              <% @necesidad.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        
      </div>
  
  <% end %>

    <%= f.input :titulo, :placeholder => 'ingrese un nombre para la necesidad...' %>
    <%= f.input :descripcion, :placeholder => 'ingrese una breve explicación para la necesidad...'  %>
    <%= f.input :ambitoAplicacion, :placeholder => 'ingrese en que ámbito se aplica la necesidad...'   %>
   <%= f.input :usuario_id,:as => :hidden, input_html: {value: current_usuario.id} %>


        <div class="modal-footer">
	  <%= link_to 'Atrás', necesidades_path %>
          <%= f.button :submit, :class => 'btn btn-primary', :value => 'Confirmar' %>
        </div>

<% end %>
