<%= simple_form_for(@necesidad, html: necesidad_form_html_options ) do |f| %>
  <% if @necesidad.errors.any? %>
    <div class="col-lg-12">
      <div class="col-lg-4"></div>
        <div id="error_explanation" class="col-lg-4">
          <div class="alert alert-danger">
            <a class="close" data-dismiss="alert">x</a>      
            <strong><%= pluralize(@necesidad.errors.count, "Error") %> en la creacion de la necesidad:</strong>
            <ul>
              <% @necesidad.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <br></br>
  <br></br>
  <br></br>
  <div class="row">
  <div class="col-lg-12">

    <%= f.input :titulo %>
    <%= f.input :descripcion %>
    <%= f.input :ambitoAplicacion  %>
   <%= f.input :usuario_id,:as => :hidden, input_html: {value: current_usuario.id} %>


        <div class="modal-footer">
	  <%= link_to 'Atrás', necesidades_path %>
          <%= f.button :submit, :class => 'btn btn-primary', :value => 'Confirmar' %>
        </div>
</div>
</div>
<% end %>
