<h1>Lista de Necesidades</h1>


<div class="row">
  <div class="col-lg-12">
    <% @necesidades.each do |necesidad| %>

            <div class="panel panel-primary">
              <div class="panel-heading">
		      <h3 class="panel-title"> <%= link_to necesidad.titulo, necesidad %> | 
			      <% if necesidad.created_at > Time.now - 160.hours %> 
				      <%= link_to 'Edit', edit_necesidad_path(necesidad) %>
			      <% end %>
		      </h3>

              </div>
              <div class="panel-body">
                
                <label>Descripción de la Necesidad</label>
                <p> 
		<% if !necesidad.descripcion.blank? %>
			<%= necesidad.descripcion%>
		<% else %>
			No se ha cargado una descripción
		<% end %>
                </p>
                <label>Ámbito de Aplicación</label>
                <p>
		<% if !necesidad.ambitoAplicacion.blank? %>
			<%= necesidad.ambitoAplicacion %>
		<% else %>
			No se ha cargado una descripción
		<% end %>
                </p>
                <label>Nombre Responsable</label>
                <p> 
                  <%= link_to necesidad.usuario, necesidad.usuario %>
                </p>
                <label>Número de Contacto</label>
                <p> 
		  <%= necesidad.usuario.telefono %>
                </p>

		<% if necesidad.proyecto.presence %>
			<%= link_to necesidad.proyecto.nombre, necesidad.proyecto , :class => "btn btn-primary btn-lg" %>
		<% else %>
			<button type="button" class="btn btn-primary btn-lg">No hay Proyecto</button>
		<% end %>
                
              </div>
            </div>
          
  
    <% end %>      
  </div>
</div>


