<p id="notice"><%= notice %></p>


<p>
  <strong>Título:</strong>
  <%= @necesidad.titulo %>
</p>


<p>
  <strong>Descripcion:</strong>
  <%= @necesidad.descripcion %>
</p>


<p>
  <strong>Ambitoaplicacion:</strong>
  <%= @necesidad.ambitoAplicacion %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @necesidad.usuario %>
</p>

<% if @necesidad.created_at > Time.now - 160.hours %> 
      <%= link_to 'Editar', edit_necesidad_path(@necesidad) %> | 
<% end %>
<%= link_to 'Atrás', necesidades_path %>
