<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= value %>
   </div>
<% end %>


 <div class="panel panel-primary">
              <div class="panel-heading">
          <h3 class="panel-title"> <%= @necesidad.titulo %>
          </h3>
              </div>
              <div class="panel-body">
                
                <label>Descripción de la Necesidad</label>
                <p> 
    <% if !@necesidad.descripcion.blank? %>
      <%= @necesidad.descripcion%>
    <% else %>
      No se ha cargado una descripción
    <% end %>
                </p>
                <label>Ámbito de Aplicación</label>
                <p>
    <% if !@necesidad.ambitoAplicacion.blank? %>
      <%= @necesidad.ambitoAplicacion %>
    <% else %>
      No se ha cargado una descripción
    <% end %>
                </p>
                <label>Nombre Responsable</label>
                <p> 
                  <%= link_to @necesidad.usuario, @necesidad.usuario %>
                </p>
                
                
                
                            
                
              </div>
            </div>









<% if @necesidad.created_at > Time.now - 160.hours and @necesidad.usuario == current_usuario %> 
      <%= link_to 'Editar', edit_necesidad_path(@necesidad) %> | 
<% end %>
<%= link_to 'Atrás', necesidades_path %>
