<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @necesidad.descripcion %>
</p>


<p>
  <strong>Ambitoaplicacion:</strong>
  <%= @necesidad.ambitoAplicacion %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @necesidad.usuario %>
</p>

<%= link_to 'Edit', edit_necesidad_path(@necesidad) %> |
<%= link_to 'Back', necesidades_path %>
