<%= simple_form_for(@asignacion_rol, html: asignacion_rol_form_html_options) do |f| %>
  <% if @asignacion_rol.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@asignacion_rol.errors.count, "error") %> prohibited this asignacion_rol from being saved:</h2>
      <ul>
      <% @asignacion_rol.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :rol_id, collection: @roles, :label => 'Rol' %>

  <% if params[:proyecto_id] %>
   <%= f.input :proyecto_id,:as => :hidden, input_html: {value: params[:proyecto_id]} %>
  <% end %>

  <% if @asignacion_rol.proyecto.presence %>
   <%= f.input :proyecto_id,:as => :hidden, input_html: {value: @asignacion_rol.proyecto.id} %>
  <% end %>
  <% if params[:usuario_id] %>
   <%= f.input :usuario_id,:as => :hidden, input_html: {value: params[:usuario_id]} %>
  <% end %>

  <% unless @asignacion_rol.usuario.presence %>
  <strong> Usuario </strong>
   <%= f.input :usuario, as: :autocomplete, label: false, url: usuarios_path, input_html: { autofocus: true  }  %>
  <% else %>
    <%= f.input :usuario_id,:as => :hidden, input_html: {value: params[:usuario_id]} %>
  <% end %>


 <div class="modal-footer">
	 <%= f.button :submit, :class => 'btn btn-primary', :value => 'Confirmar' %>
	 <% if !@asignacion_rol.proyecto.nil? %>
		 <%= link_to 'Atrás', asignacion_roles_path(:proyecto_id => @asignacion_rol.proyecto.id)%>
	 <% else %>
		 <%= link_to 'Atrás', asignacion_roles_path(:proyecto_id => params[:proyecto_id])%>
	 <% end %>
<% end %>



