<%= form_for(@asignacion_rol) do |f| %>
  <% if @asignacion_rol.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@asignacion_rol.errors.count, "error") %> prohibited this asignacion_rol from being saved:</h2>

      <ul>
      <% @asignacion_rol.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fechaCambioEstado %><br>
    <%= f.datetime_select :fechaCambioEstado %>
  </div>
  <div class="field">
    <%= f.label :esActual %><br>
    <%= f.check_box :esActual %>
  </div>
  <div class="field">
    <%= f.label :rol_id %><br>
    <%= f.text_field :rol_id %>
  </div>
  <div class="field">
    <%= f.label :proyecto_id %><br>
    <%= f.text_field :proyecto_id %>
  </div>
  <div class="field">
    <%= f.label :usuario_id %><br>
    <%= f.text_field :usuario_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
