<h1>Listing asignacion_roles</h1>

<table>
  <thead>
    <tr>
      <th>Fechacambioestado</th>
      <th>Esactual</th>
      <th>Rol</th>
      <th>Proyecto</th>
      <th>Usuario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @asignacion_roles.each do |asignacion_rol| %>
      <tr>
        <td><%= asignacion_rol.fechaCambioEstado %></td>
        <td><%= asignacion_rol.esActual %></td>
        <td><%= asignacion_rol.rol %></td>
        <td><%= asignacion_rol.proyecto %></td>
        <td><%= asignacion_rol.usuario %></td>
        <td><%= link_to 'Show', asignacion_rol %></td>
        <td><%= link_to 'Edit', edit_asignacion_rol_path(asignacion_rol) %></td>
        <td><%= link_to 'Destroy', asignacion_rol, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Asignacion rol', new_asignacion_rol_path %>
