<h2>Recursos del Proyecto</h2>

<p id="notice"><%= notice %></p>
       
              <table class="table table-hover table-striped tablesorter">
                <thead>
                  <tr>
                    <th class="col-lg-3">Apellido y Nombre</th>
                    <th class="col-lg-3">Fecha Asignación </th>
                    <th class="col-lg-2">Vigente</th>
                    <th class="col-lg-2">Rol</th>
                    <th class="col-lg-5"></th>
                    <th></th>
                  </tr>
                </thead>

                <tbody>
                    <% @proyecto.asignacion_roles.each do |asignacion_rol| %>
                    <tr>
                        <td><%= asignacion_rol.usuario %></td>
                        <td><%= asignacion_rol.created_at.to_formatted_s(:long_ordinal)  %></td>
                        <td><%= asignacion_rol.actual %></td>
                        <td><%= asignacion_rol.rol %></td>
                        <td>
                            <%= link_to 'Editar', edit_asignacion_rol_path(asignacion_rol) %> | 
			    <%= link_to 'Quitar', asignacion_rol, method: :delete, data: { confirm: 'Está seguro?' } %> | 
			    <% if asignacion_rol.actual == "No" %>
				    Dar Baja 
			    <% else %>
				    <%= link_to 'Dar Baja', asignacion_rol_dar_baja_path(:id => asignacion_rol.id), disabled: true, data: {confirm: 'Seguro?'} %>
			    <% end %>
                        </td>
                        <td>
                             <i class="fa fa-minus"></i>
		    </tr>
		    </div>
                    <% end %>
 </tbody>
</table>
                    <%= link_to '+', new_asignacion_rol_path( :proyecto_id => params[:proyecto_id]) , :class => "classbtn btn-primary btn-sm" %>

