<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= value %>
   </div>
<% end %>

<p>
  <strong>Fecha Asignacion:</strong>
  <%= @asignacion_rol_predefinido.created_at %>
</p>

<p>
  <strong>Es actual:</strong>
  <%= @asignacion_rol.esActual %>
</p>

<p>
  <strong>Usuario:</strong>
	
  <%= Usuario.find(@asignacion_rol.usuario).nombreUsuario %>
</p>

<p>
  <strong>Rol:</strong>
  <%= Rol.find(@asignacion_rol.rol).nombre %>
</p>

<p>
  <strong>Proyecto:</strong>
  <%= Proyecto.find(@asignacion_rol.proyecto).nombre %>
</p>

<%= link_to 'Editar', edit_asignacion_rol_path(@asignacion_rol) %> |
<%= link_to 'Volver', asignacion_roles_path %>
