<%= form_for(@historial_estado_usuario) do |f| %>
  <% if @historial_estado_usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@historial_estado_usuario.errors.count, "error") %> prohibited this historial_estado_usuario from being saved:</h2>

      <ul>
      <% @historial_estado_usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Fecha de creacion' %><br>
    <%= f.datetime_select :created_at %>
  </div>
  <div class="field">
  	
    <%= f.label 'Estado Usuario' %><br>
   <%= f.collection_select(:estado_usuario_id, @estado_usuarios, :id,:nombre,{prompt: "Estado Posible de Usuario..." }, {class:"form-control"}) %>
    <%#= f.text_field :habilidad_id %>
     
    <%#= f.label :esActual %><br>
    <%#= f.check_box :esActual %>
  </div>
  <div class="field">
    <strong> Usuario </strong>
  <%# if params[:usuario_id] %>
   <%#= f.input :estado_actividad_id,:as => :hidden, input_html: {value: params[:usuario_id]} %>
  <% #end %>
 <%# unless @historial_estado_usuario.usuario.presence %>
   
        
    <%= f.label :usuario_id %><br>
    <%= f.text_field :usuario_id %>
  </div>
  <div class="field">
  	
    <%= f.label :estado_usuario_id %><br>
    <%= f.text_field :estado_usuario_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
