<h1>Nuevo estado Creado </h1>


    <!--El panel panel-primary pone un cuadro -->
          <div class="panel panel-primary">
          	<!--Pone el cuadro de color azul -->
            <div class="panel-heading">
            	<!-- Titulo Cabecera  !-->
 <% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= value %>
   </div>
<% end %>
  </div>



<p>
  <strong>Fechacambioestado:</strong>
  <%=@historial_estado_usuario.created_at %>
</p>

<p>
  <strong>Nombre Usuario </strong>
  <%= Usuario.find(@historial_estado_usuario.usuario_id).nombreUsuario %>
</p>
<p>
  <strong>Nuevo Estado usuario:</strong>
  <%= EstadoUsuario.find(@historial_estado_usuario.estado_usuario_id).nombre %>
</p>
</div>


<%= link_to 'Editar', edit_historial_estado_usuario_path(@historial_estado_usuario) %> |
<%= link_to 'Listar Estados Anteriores', historial_estado_usuarios_path(:usuario_id => @historial_estado_usuario.usuario_id ) %>
