<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @tipo_privilegio.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @tipo_privilegio.descripcion %>
</p>

<%= link_to 'Edit', edit_tipo_privilegio_path(@tipo_privilegio) %> |
<%= link_to 'Back', tipo_privilegios_path %>
