<%= simple_form_for(@tipo_habilidad,
    wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  }) do |f| %>
<%#= form_for(@tipo_habilidad) do |f| %>
  <% if @tipo_habilidad.errors.any? %>
    <div class="col-lg-12">
      <div class="col-lg-4"></div>
        
          <div class="alert alert-danger col-lg-4">
            <a class="close" data-dismiss="alert">x</a>
            <strong><%= pluralize(@tipo_habilidad.errors.count, "Error") %> en la creacion del tipo de habilidad:</strong>
            <ul>
              <% @tipo_habilidad.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        
      </div>
    </div>
  <% end %>
 <!-- <%# if @tipo_habilidad.errors.any? %>
    <div id="error_explanation">
      <h2><%#= pluralize(@tipo_habilidad.errors.count, "error") %> prohibited this tipo_habilidad from being saved:</h2>

      <ul>
      <%# @tipo_habilidad.errors.full_messages.each do |message| %>
        <li><%#= message %></li>
      <%# end %>
      </ul>
    </div>
    <%# end %>-->
  <div class="row" align="center">
    <div class="col-lg-3" align="center"></div>
    <div class="col-lg-6" align="center">
      <div class="form-inputs">
        <%= f.input :nombre, :label => 'Nombre de la habilidad', :placeholder => 'Nombre...' %>
        <br></br>
        <%= f.input :descripcion, :as => :text, :input_html => {:rows => 6}, :label => 'Breve Descripción', :placeholder => 'Descripcion de la habilidad...' %>
        <br></br>
   
   <div align="center">
    <%= link_to 'Cancelar', :back, :class => 'btn btn-default btn-lg center' %>
     <%= f.button :submit, :class => 'btn btn-primary btn-lg center', :value => 'Confirmar' %>
   </div>

<!--  <div class="field">
    <%#= f.label :nombre %><br>
    <%#= f.text_field :nombre %>
  </div>
  <div class="field">
    <%#= f.label :descripcion %><br>
    <%#= f.text_area :descripcion %>
  </div>
  <div class="actions">
    <%#= f.submit %>
  </div>-->
<% end %>
