<h1>Listing tipo_habilidades</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tipo_habilidades.each do |tipo_habilidad| %>
      <tr>
        <td><%= tipo_habilidad.nombre %></td>
        <td><%= tipo_habilidad.descripcion %></td>
        <td><%= link_to 'Ver', tipo_habilidad %></td>
        <td><%= link_to 'Editar', edit_tipo_habilidad_path(tipo_habilidad) %></td>
        <td><%= link_to 'Borrar', tipo_habilidad, method: :delete, data: { confirm: 'Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Tipo habilidad', new_tipo_habilidad_path %>
