<%= form_for(@postulacion) do |f| %>
  <% if @postulacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@postulacion.errors.count, "error") %> prohibited this postulacion from being saved:</h2>

      <ul>
      <% @postulacion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :aceptado %><br>
    <%= f.check_box :aceptado %>
  </div>
  <div class="field">
    <%= f.label :proyecto_id %><br>
    <%= f.text_field :proyecto_id %>
  </div>
  <div class="field">
    <%= f.label :usuario_id %><br>
    <%= f.text_field :usuario_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
