<h1>Lista de Postulaciones</h1>



<table class="table table-hover table-striped tablesorter">
                <thead>
                  <tr>
                    <th class="col-lg-1">#</th>
                    <th class="col-lg-3" >Apellido y Nombre </th>
                    <th class="col-lg-2" >Perfil</th>
                    <th class="col-lg-2" >Fecha Postulación</th>
                    <th class="col-lg-1" >Aceptado?</th>
                     <th class="col-lg-1" >Acciones</th>
                    
                  </tr>
                </thead>
                <tbody>
                  
                  <% @postulaciones.each do |postulacion| %>
                  <tr>
                    <td></td>
                    <td> <%= postulacion.usuario %></td>
                    <td><i class="fa fa-user"></i><%= link_to 'Perfil', usuario_path(postulacion.usuario) %></td>
                    <td> <%= postulacion.created_at.to_formatted_s(:long_ordinal) %></td>
		    <td> <%= postulacion.fue_aceptado %></td>
		    <% if postulacion.aceptado == false %>
			    <td><%= link_to "Aceptar",  aceptar_postulacion_path(postulacion.id), :method => :post %>
		    <% else %>
			    <td>Aceptar </td>
		    <% end %>
		    <!-- class="btn btn-primary btn-sm" -->
                  </tr>
                  
   
                  
                  <% end %>
                </tbody>
              </table>

