<h1>Listing postulaciones</h1>

<table>
  <thead>
    <tr>
      <th>Fechapostulacion</th>
      <th>Aceptado</th>
      <th>Proyecto</th>
      <th>Usuario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @postulaciones.each do |postulacion| %>
      <tr>
        <td><%= postulacion.fechaPostulacion %></td>
        <td><%= postulacion.aceptado %></td>
        <td><%= postulacion.proyecto %></td>
        <td><%= postulacion.usuario %></td>
        <td><%= link_to 'Show', postulacion %></td>
        <td><%= link_to 'Edit', edit_postulacion_path(postulacion) %></td>
        <td><%= link_to 'Destroy', postulacion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Postulacion', new_postulacion_path %>
