<p id="notice"><%= notice %></p>

<p>
  <strong>Esactual:</strong>
  <%= @historial_estado_presupuesto.esActual %>
</p>

<p>
  <strong>Fechacambioestado:</strong>
  <%= @historial_estado_presupuesto.fechaCambioEstado %>
</p>

<p>
  <strong>Presupuesto:</strong>
  <%= @historial_estado_presupuesto.presupuesto %>
</p>

<p>
  <strong>Estado presupuesto:</strong>
  <%= @historial_estado_presupuesto.estado_presupuesto %>
</p>

<%= link_to 'Edit', edit_historial_estado_presupuesto_path(@historial_estado_presupuesto) %> |
<%= link_to 'Back', historial_estado_presupuestos_path %>
