<%= form_for(@voluntario) do |f| %>
  <% if @voluntario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@voluntario.errors.count, "error") %> prohibited this voluntario from being saved:</h2>

      <ul>
      <% @voluntario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :legajo %><br>
    <%= f.text_field :legajo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
