<h1>Listing voluntarios</h1>

<table>
  <thead>
    <tr>
      <th>Legajo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @voluntarios.each do |voluntario| %>
      <tr>
        <td><%= voluntario.legajo %></td>
        <td><%= link_to 'Show', voluntario %></td>
        <td><%= link_to 'Edit', edit_voluntario_path(voluntario) %></td>
        <td><%= link_to 'Destroy', voluntario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Voluntario', new_voluntario_path %>
