<h1> Lista de voluntarios </h1>

  <tbody>
  	<!--Cabecera tabla-->
  	<div class="col-lg-12">
  		<ol class="breadcrumb"><li><i class="icon-dashboard"></i>
      	 	legajo </li></ol>
    <% @voluntarios.each do |voluntario| %>
       <ol class="breadcrumb">
      	 <li><i class="icon-dashboard"></i>
      	 	<%= voluntario.legajo %></li>
        <li><i class="icon-dashboard"></i>
        	<%= link_to 'Show', voluntario %></li>
        <li><i class="icon-dashboard"></i>
        	<%= link_to 'Edit', edit_voluntario_path(voluntario) %></li>
       
        
        <li><i class="icon-dashboard"></i>
        	<%= link_to 'Gestionar_horarios_disponibles', voluntario_horario_disponibles_path(voluntario) %><li>
         <li><i class="icon-dashboard"></i>
        	<%= link_to 'Gestionar_Experiencia', gestionar_experiencias_path(voluntario) %></li>
         <li><i class="icon-dashboard"></i>
         	<%= link_to 'Destroy', voluntario, method: :delete, data: { confirm: 'Estas Seguro?' } %></li>
    </ol>
 
     <% end %>
     </div>
  </tbody>
</table>

<br>

<%= link_to 'New Voluntario', new_voluntario_path %>
