 <div class="panel panel-primary">
<div class="panel-heading">
<h2> Gestion de voluntarios </h2>
  </div>
  <br></br>
<%= form_tag({:controller => "voluntarios", :action => "index"}, :method => :get) do %>

     &nbsp; &nbsp;<%= text_field_tag "searchbox", params[:searchbox], style: "padding-left: 5px;" %>

    <%= submit_tag "Buscar", :name => nil, :class => "btn btn-primary" %>

<% end %>
<br></br>
</div>

     <% if @voluntario.nil? then %>

    <h1>Busque un voluntario por Nombre</h1>
    <%else%>

    <% @voluntario.each do |voluntario| %>
      	
      	 	 <div class="panel panel-primary">
<div class="panel-heading">
	
	<%#usuarioss=Usuario.find(voluntario.id) %>
	
	
	<h3> <%= image_tag voluntario.foto.url(:small) %>  Voluntario: <%= voluntario.nombreUsuario %> Legajo:	<%= voluntario.legajo %> Direccion: <%= voluntario.direccion %> </h3>
      	

      	<h4>
      	 </div>
      	 	<div class="panel-body">
 
      	 		<div class="container theme-showcase" role="main">
      	 		
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            
           
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
          	<li>
            	 <a class="navbar-brand" href=<%=edit_voluntario_path(voluntario) %>>Editar a:<%= voluntario.nombreUsuario %></a>	
            </li>
            	
              <li>
              	 	
        	 <%= link_to 'Eliminar Voluntario', voluntario, method: :delete, data: { confirm: 'Estas Seguro?' } %>
        	
              	
              </li>
              <li>
              	<%= link_to 'Detalle Voluntario', voluntario %>
              </li>
              
              <li class="dropdown">
                <a href="http://getbootstrap.com/examples/theme/#" class="dropdown-toggle" data-toggle="dropdown">ACCIONES <b class="caret"></b></a>
                <ul class="dropdown-menu">
                	
                  <li>
                  <%= link_to 'Gestionar horarios disponibles', gestion_horarios_disponibles_path(voluntario) %>
                  </li>
                  <li>
                  <%= link_to 'Gestionar Experiencia', gestionar_experiencias_path(voluntario) %>
                  </li>
                  <li>
                  <%= link_to 'Gestionar Nota Persona', gestionar_nota_P_path(voluntario) %>
                  </li>
                  <li class="divider"></li>
                  <li class="dropdown-header">--------------------------------------------</li>
                  <li>
                  
                  <%=link_to 'Cambiar Estado', new_historial_estado_usuario_path(:usuario_id => voluntario.id,:pepito=>"pepito" ) %>
                  
                  </li>
                  
                   <li>
                  <%=link_to 'Notas hacia Mi', mis_notas_path %>
                  
                  </li>
                  
                  
          
                </ul>
             
          </div><!--/.nav-collapse -->
        </div>
      	 		
      	
      	 		
      	 		
      	   </div>		
      	 		
      	  </div>	
     <% end %>
   </div>
 <% end %>


<div align="center">
<%= link_to 'Nuevo Voluntario', new_voluntario_path, :class => "btn btn-primary btn-lg", style: 'color:#FFFFFF;' %>
</div>
 </div>
