<!--El panel panel-primary pone un cuadro -->
<div class="panel panel-primary">
	<!--Pone el cuadro de color azul -->
	<div class="panel-heading">
		<!-- Titulo Cabecera  !-->
		<h1 class="panel-title"><h1> <%= image_tag current_usuario.foto.url(:small) %>  </h1><h1><small>Notas Resividad </small></h1>
	</div>

	<!-- Cuerpo del panel  !-->
	<div class="panel-body">
current_usuario
<%@notap=Nota.where(usuario_id: current_usuario.id) %>
		<% if @notap.nil? then %>
		<h4> No existen Notas Personales </h4>
		<% else %>

		<% @notap.each do |nota|%>
		<%voluntario=nota.voluntario_id %>
		<div class="panel panel-primary">

			<div class="panel-heading">
				<p>
				<strong>	<%= "Titulo: "+ nota.titulo +   " Sujeto: "+ Usuario.find(nota.usuario_id).nombreUsuario%> </strong>
				</p>
			</div>
			<div class="panel-body">

				<p>
					<%= "Descripcion: "+nota.descripcion %>
				</p>
				<%= link_to 'Responder', gestionar_nota_P_path(voluntario) %>
				<%= link_to 'Editar', edit_nota_path(nota) %>
				<%= link_to 'Borrar', nota, method: :delete, data: { confirm: 'Seguro que desea eliminar la nota?' } %>
			</div>
		</div>
		<% end %>
		<% end %>
	