<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= value %>
   </div>
<% end %>

<p>
  <strong>Legajo:</strong>
<h3>Nombre <%=  @voluntario.nombreUsuario %> Legajo:	<%=  @voluntario.legajo %> Direccion: <%=  @voluntario.direccion %> </h3>
</p>

<%= link_to 'Editar', edit_voluntario_path(@voluntario) %> |
<%= link_to 'Atrás', voluntarios_path %>
<%= link_to 'Gestionar_horarios_disponibles', voluntario_horario_disponibles_path(@voluntario) %>
<%= link_to 'Gestionar exp', new_voluntario_experiencia_path(@voluntario)  %>