<p id="notice"><%= notice %></p>

<p>
  <strong>Legajo:</strong>
  <%= @voluntario.legajo %>
</p>

<%= link_to 'Edit', edit_voluntario_path(@voluntario) %> |
<%= link_to 'Back', voluntarios_path %>
<%= link_to 'Gestionar_horarios_disponibles', voluntario_horario_disponibles_path(@voluntario) %>
<%= link_to 'Gestionar exp', new_voluntario_experiencia_path(@voluntario)  %>