<%= form_for(@sesion) do |f| %>
  <% if @sesion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sesion.errors.count, "error") %> prohibited this sesion from being saved:</h2>

      <ul>
      <% @sesion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fechaInicio %><br>
    <%= f.datetime_select :fechaInicio %>
  </div>
  <div class="field">
    <%= f.label :fechaFin %><br>
    <%= f.datetime_select :fechaFin %>
  </div>
  <div class="field">
    <%= f.label :usuario_id %><br>
    <%= f.text_field :usuario_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
