<h1>Listing sesiones</h1>

<table>
  <thead>
    <tr>
      <th>Fechainicio</th>
      <th>Fechafin</th>
      <th>Usuario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sesiones.each do |sesion| %>
      <tr>
        <td><%= sesion.fechaInicio %></td>
        <td><%= sesion.fechaFin %></td>
        <td><%= sesion.usuario %></td>
        <td><%= link_to 'Ver', sesion %></td>
        <td><%= link_to 'Editar', edit_sesion_path(sesion) %></td>
        <td><%= link_to 'Borrar', sesion, method: :delete, data: { confirm: 'Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Sesion', new_sesion_path %>
