<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= value %>
   </div>
<% end %>

<p>
  <strong>Fechainicio:</strong>
  <%= @sesion.fechaInicio %>
</p>

<p>
  <strong>Fechafin:</strong>
  <%= @sesion.fechaFin %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @sesion.usuario %>
</p>

<%= link_to 'Editar', edit_sesion_path(@sesion) %> |
<%= link_to 'Atrás', sesiones_path %>
