<h1>Listing asignacion_funciones</h1>

<table>
  <thead>
    <tr>
      <th>Fechaasignacion</th>
      <th>Esactual</th>
      <th>Descripcion</th>
      <th>Usuario</th>
      <th>Rol</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @asignacion_funciones.each do |asignacion_funcion| %>
      <tr>
        <td><%= asignacion_funcion.fechaAsignacion %></td>
        <td><%= asignacion_funcion.esActual %></td>
        <td><%= asignacion_funcion.descripcion %></td>
        <td><%= asignacion_funcion.usuario %></td>
        <td><%= asignacion_funcion.rol %></td>
        <td><%= link_to 'Show', asignacion_funcion %></td>
        <td><%= link_to 'Edit', edit_asignacion_funcion_path(asignacion_funcion) %></td>
        <td><%= link_to 'Destroy', asignacion_funcion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Asignacion funcion', new_asignacion_funcion_path %>
