<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= value %>
   </div>
<% end %>

<p>
  <strong>Fecha Asignacion:</strong>
  <%= @asignacion_funcion.created_at %>
</p>

<p>
  <strong>Es actual:</strong>
  <%= @asignacion_funcion.esActual %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @asignacion_funcion.descripcion %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= Usuario.find(@asignacion_funcion.usuario).nombreUsuario %>
</p>

<p>
  <strong>Rol:</strong>
  <%= Rol.find(@asignacion_funcion.rol).nombre %>
</p>


<%= link_to 'Editar', edit_asignacion_funcion_path(@asignacion_funcion) %> |
<%= link_to 'Volver', asignacion_funciones_path %>
