<h1>Listing regionales</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Domicilio</th>
      <th>Telefono contacto</th>
      <th>Nombre contacto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @regionales.each do |regional| %>
      <tr>
        <td><%= regional.nombre %></td>
        <td><%= regional.domicilio %></td>
        <td><%= regional.telefono_contacto %></td>
        <td><%= regional.nombre_contacto %></td>
        <td><%= link_to 'Show', regional %></td>
        <td><%= link_to 'Edit', edit_regional_path(regional) %></td>
        <td><%= link_to 'Destroy', regional, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Regional', new_regional_path %>
