
<p id="notice"><%= notice %></p>
<h1>Lista de Notificaciones</h1>

             	 <% @notificacion_sistemas.each do |notificacion| %>
<br>
            <div class="panel panel-primary">
              <div class="panel-body">
                <b><%= link_to notificacion.usuario_creador, notificacion.usuario_creador %></b>      <br>
              <label><h5><b> Notificación:</b></h5></label> 
				<%= notificacion.created_at %>
                <br>
                <label>Mensaje</label>
                <p>
                <%= notificacion.mensaje %>
                </p>
                <p><b>Proyecto/Evento Publico:</b><br> 
                	<% if !notificacion.proyecto.nil? %>
                		<%= notificacion.proyecto %>
                	<% elsif !notificacion.evento_publico.nil? %>
                	   	<%= notificacion.evento_publico %>
                	<% else %>
                	    No se encuentra ningún Proyecto/Evento Público vinculado
                	<% end %>
               	</p>
              </div>
      </div>



   <% end %>
       <% if @notificacion_sistemas.count == 0 %>
	       Aún no existen notificaciones
       <% end %>
<br>
<%#= link_to 'New Notificacion sistema', new_notificacion_sistema_path %>
