<p id="notice"><%= notice %></p>

<p>
  <strong>Mensaje:</strong>
  <%= @notificacion_sistema.mensaje %>
</p>

<p>
  <strong>Usuario Creador:</strong>
  <%= @notificacion_sistema.usuario_creador %>
</p>


<p>
  <strong>Evento Público:</strong>
  <% if @notificacion_sistema.evento_publico.blank? %>
	  No hay Evento Público Vinculado
  <% else %>
	  <%= @notificacion_sistema.evento_publico %>
  <% end %>
</p>

<p>
  <strong>Proyecto:</strong>
  <% if @notificacion_sistema.proyecto.blank? %>
	  No hay Proyecto Vinculado
  <% else %>
	  <%= @notificacion_sistema.proyecto %>
  <% end %>
</p>

<%= link_to 'Atrás', notificacion_sistemas_path %>
