<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= value %>
   </div>
<% end %>

<div class="panel panel-primary">
              <div class="panel-body">
                <b><%= link_to @notificacion_sistema.usuario_creador, @notificacion_sistema.usuario_creador %></b>      <br>
              <label><h5><b> Notificación:</b></h5></label> 
        <%= @notificacion_sistema.created_at.to_formatted_s(:long) %>
                <br>
                <label>Mensaje</label>
                <p>
                <%= @notificacion_sistema.mensaje %>
                </p>
                <p><b>Proyecto/Evento Publico:</b><br> 
                  <% if !@notificacion_sistema.proyecto.nil? %>
                    <%= @notificacion_sistema.proyecto %>
                  <% elsif !@notificacion_sistema.evento_publico.nil? %>
                      <%= @notificacion_sistema.evento_publico %>
                  <% else %>
                      No se encuentra ningún Proyecto/Evento Público vinculado
                  <% end %>
                </p>
              </div>
      </div>






<%= link_to 'Atrás', notificacion_sistemas_path %>
