<h1>Listing nota_personales</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Descripcion</th>
      <th>Fechacreacion</th>
      <th>Voluntario</th>
      <th>Usuario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nota_personales.each do |nota_personal| %>
      <tr>
        <td><%= nota_personal.titulo %></td>
        <td><%= nota_personal.descripcion %></td>
        <td><%= nota_personal.fechaCreacion %></td>
        <td><%= nota_personal.voluntario %></td>
        <td><%= nota_personal.usuario %></td>
        <td><%= link_to 'Show', nota_personal %></td>
        <td><%= link_to 'Edit', edit_nota_personal_path(nota_personal) %></td>
        <td><%= link_to 'Destroy', nota_personal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nota personal', new_nota_personal_path %>
