<%= form_for(@comprobant) do |f| %>
  <% if @comprobant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comprobant.errors.count, "error") %> prohibited this comprobant from being saved:</h2>

      <ul>
      <% @comprobant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :numero %><br>
    <%= f.number_field :numero %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
