<%= form_for(@comprobante) do |f| %>
  <% if @comprobante.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comprobante.errors.count, "error") %> prohibited this comprobante from being saved:</h2>

      <ul>
      <% @comprobante.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :numero %><br>
    <%= f.text_field :numero %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
