<h1>Listing comprobantes</h1>

<table>
  <thead>
    <tr>
      <th>Numero</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comprobantes.each do |comprobante| %>
      <tr>
        <td><%= comprobante.numero %></td>
        <td><%= link_to 'Show', comprobante %></td>
        <td><%= link_to 'Edit', edit_comprobante_path(comprobante) %></td>
        <td><%= link_to 'Destroy', comprobante, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comprobante', new_comprobante_path %>
