<h1>Listing comprobantes</h1>

<table>
  <thead>
    <tr>
      <th>Numero</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comprobantes.each do |comprobant| %>
      <tr>
        <td><%= comprobant.numero %></td>
        <td><%= link_to 'Show', comprobant %></td>
        <td><%= link_to 'Edit', edit_comprobant_path(comprobant) %></td>
        <td><%= link_to 'Destroy', comprobant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comprobante', new_comprobant_path %>
