<p id="notice"><%= notice %></p>

<p>
  <strong>Numero de factura/comprobante:</strong>
  <%= @comprobant.numero %>
</p>
<%= image_tag @comprobant.imagen.url %>

<%= link_to 'Editar', edit_comprobante_path(@comprobant), class: "btn btn-primary btn-lg"  %> 
<%= link_to 'Atras', :back, class: "btn btn-default btn-lg" %>
