<%= simple_form_for(@organizacion_externa) do |f| %>
  <% if @organizacion_externa.errors.any? %>
    <div class="col-lg-12">
      <div class="col-lg-4"></div>
       
          <div class="alert alert-danger col-lg-4">
            <a class="close" data-dismiss="alert">x</a>      
            <strong><%= pluralize(@organizacion_externa.errors.count, "Error") %> en la creacion de la Organización Externa:</strong>
            <ul>
              <% @organizacion_externa.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        
      </div>
  <% end %>


          
  <table class="table table-hover tablesorter">
                <thead>
                  <tr>
                    <th class="col-lg-3"></th>
                    <th class="col-lg-9" ></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Denominación</td>
                    <td><%= f.input :denominacion,:label => false %></td>
                    
                  </tr>
                  <tr>
                    <td>Sigla</td>
                    <td><%= f.input :sigla,:label => false %></td>
                  </tr>

                  <tr>
                    <td>CUIT</td>
                    <td><%= f.input :cuit,:label => false %></td>
                  </tr>
                  <tr>
                    
                    <td>Fax</td>
                    <td><%= f.input :fax,:label => false %></td>
                    
                  </tr>
                  
                  <tr>
                    
                    <td>Teléfono</td>
                    <td><%= f.input :telefono,:label => false %></td>
                    
                  </tr>

                  <tr>
                    <td>Dirección</td>
                    <td><%= f.input :direccion,:label => false %></td>
                  </tr>   

                  <tr>
                    <td>Cargo Responsable</td>
                    <td><%= f.input :cargoResponsable,:label => false %></td> 
                  </tr>
                  
                  <tr>
                    <td>Nro de Contacto</td>
                    <td><%= f.input :numeroContactoResponsable,:label => false %></td>
                  </tr>
                  

                  <tr>
                    <td>Responsable</td>
                    <td><%= f.input :nombreResponsable,:label => false %></td>
                  </tr>                  

                </tbody>
        </table>
        <%# f.hidden_field :detalle_gasto_id, :value => @detalle_gasto.id %>
        <%= hidden_field_tag 'proyecto_id', params[:proyecto_id] if params[:proyecto_id] %>
      <%= f.button :submit, :class => 'btn btn-primary btn-lg pull-right', :value => 'Confirmar' %>
<% end %>
