<%= form_for(@organizacion_externa) do |f| %>
  <% if @organizacion_externa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@organizacion_externa.errors.count, "error") %> prohibited this organizacion_externa from being saved:</h2>

      <ul>
      <% @organizacion_externa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sigla %><br>
    <%= f.text_field :sigla %>
  </div>
  <div class="field">
    <%= f.label :denominacion %><br>
    <%= f.text_field :denominacion %>
  </div>
  <div class="field">
    <%= f.label :cuit %><br>
    <%= f.text_field :cuit %>
  </div>
  <div class="field">
    <%= f.label :direccion %><br>
    <%= f.text_field :direccion %>
  </div>
  <div class="field">
    <%= f.label :fax %><br>
    <%= f.text_field :fax %>
  </div>
  <div class="field">
    <%= f.label :telefono %><br>
    <%= f.text_field :telefono %>
  </div>
  <div class="field">
    <%= f.label :nombreResponsable %><br>
    <%= f.text_field :nombreResponsable %>
  </div>
  <div class="field">
    <%= f.label :cargoResponsable %><br>
    <%= f.text_field :cargoResponsable %>
  </div>
  <div class="field">
    <%= f.label :numeroContactoResponsable %><br>
    <%= f.text_field :numeroContactoResponsable %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
