<h1>Listing organizacion_externas</h1>

<table>
  <thead>
    <tr>
      <th>Sigla</th>
      <th>Denominacion</th>
      <th>Cuit</th>
      <th>Direccion</th>
      <th>Fax</th>
      <th>Telefono</th>
      <th>Nombreresponsable</th>
      <th>Cargoresponsable</th>
      <th>Numerocontactoresponsable</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @organizacion_externas.each do |organizacion_externa| %>
      <tr>
        <td><%= organizacion_externa.sigla %></td>
        <td><%= organizacion_externa.denominacion %></td>
        <td><%= organizacion_externa.cuit %></td>
        <td><%= organizacion_externa.direccion %></td>
        <td><%= organizacion_externa.fax %></td>
        <td><%= organizacion_externa.telefono %></td>
        <td><%= organizacion_externa.nombreResponsable %></td>
        <td><%= organizacion_externa.cargoResponsable %></td>
        <td><%= organizacion_externa.numeroContactoResponsable %></td>
        <td><%= link_to 'Show', organizacion_externa %></td>
        <td><%= link_to 'Edit', edit_organizacion_externa_path(organizacion_externa) %></td>
        <td><%= link_to 'Destroy', organizacion_externa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organizacion externa', new_organizacion_externa_path %>
