<h1>Listing organizacion_externas</h1>

<% @organizacion_externas.each do |organizacion_externa| %>

<table class="table table-hover table-striped tablesorter">
                <thead>
                  <tr>
                    <th class="col-lg-3"></th>
                    <th class="col-lg-9" ></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Denominación</td>
                    <td><%= organizacion_externa.denominacion %></td>
                    
                  </tr>
                  <tr>
                    <td>Sigla</td>
                    <td><%= organizacion_externa.sigla %></td>
                  </tr>

                  <tr>
                    <td>CUIT</td>
                    <td><%= organizacion_externa.cuit %></td>
                  </tr>
                  <tr>
                    
                    <td>Fax</td>
                    <td><%= organizacion_externa.fax %></td>
                    
                  </tr>
                  
                  <tr>
                    
                    <td>Teléfono</td>
                    <td><%= organizacion_externa.telefono %></td>
                    
                  </tr>

                  <tr>
                    <td>Dirección</td>
                    <td><%= organizacion_externa.direccion %></td>
                  </tr>   

                  <tr>
                    <td>Cargo Responsable</td>
                    <td><%= organizacion_externa.cargoResponsable %></td> 
                  </tr>
                  
                  <tr>
                    <td>Nro de Contacto</td>
                    <td><%= organizacion_externa.numeroContactoResponsable %></td>
                  </tr>
                  

                  <tr>
                    <td>Responsable</td>
                    <td><%= organizacion_externa.nombreResponsable %></td>
                  </tr>                  

                </tbody>
                <%= link_to 'Ver', organizacion_externa %>
                <%= link_to 'Editar', edit_organizacion_externa_path(organizacion_externa) %>
                <%= link_to 'Borrar', organizacion_externa, method: :delete, data: { confirm: 'Seguro?' } %>
                
        </table>
  
<% end %>
<br>

<%= link_to 'New Organizacion externa', new_organizacion_externa_path %>
