<p id="notice"><%= notice %></p>

<p>
  <strong>Sigla:</strong>
  <%= @organizacion_externa.sigla %>
</p>

<p>
  <strong>Denominacion:</strong>
  <%= @organizacion_externa.denominacion %>
</p>

<p>
  <strong>Cuit:</strong>
  <%= @organizacion_externa.cuit %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @organizacion_externa.direccion %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @organizacion_externa.fax %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @organizacion_externa.telefono %>
</p>

<p>
  <strong>Nombreresponsable:</strong>
  <%= @organizacion_externa.nombreResponsable %>
</p>

<p>
  <strong>Cargoresponsable:</strong>
  <%= @organizacion_externa.cargoResponsable %>
</p>

<p>
  <strong>Numerocontactoresponsable:</strong>
  <%= @organizacion_externa.numeroContactoResponsable %>
</p>

<%= link_to 'Edit', edit_organizacion_externa_path(@organizacion_externa) %> |
<%= link_to 'Back', organizacion_externas_path %>
