<h1>Listing notificacion_emailes</h1>

<table>
  <thead>
    <tr>
      <th>Destinatario</th>
      <th>Remitente</th>
      <th>Asunto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notificacion_emailes.each do |notificacion_email| %>
      <tr>
        <td><%= notificacion_email.destinatario %></td>
        <td><%= notificacion_email.remitente %></td>
        <td><%= notificacion_email.asunto %></td>
        <td><%= link_to 'Ver', notificacion_email %></td>
        <td><%= link_to 'Editar', edit_notificacion_email_path(notificacion_email) %></td>
        <td><%= link_to 'Borrar', notificacion_email, method: :delete, data: { confirm: 'Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Notificacion email', new_notificacion_email_path %>
