<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= value %>
   </div>
<% end %>

<p>
  <strong>Destinatario:</strong>
  <%= @notificacion_email.destinatario %>
</p>

<p>
  <strong>Remitente:</strong>
  <%= @notificacion_email.remitente %>
</p>

<p>
  <strong>Asunto:</strong>
  <%= @notificacion_email.asunto %>
</p>

<%= link_to 'Editar', edit_notificacion_email_path(@notificacion_email) %> |
<%= link_to 'Atrás', notificacion_emailes_path %>
