<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= value %>
   </div>
<% end %>

<p>
  <strong>Nombre:</strong>
  <%= @habilidad.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @habilidad.descripcion %>
</p>

<p>
  <strong>Tipo habilidad:</strong>
  <%= @habilidad.tipo_habilidad %>
</p>

<%= link_to 'Editar', edit_habilidad_path(@habilidad) %> |
<%= link_to 'Atrás', habilidades_path %>
