<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @habilidad.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @habilidad.descripcion %>
</p>

<p>
  <strong>Tipo habilidad:</strong>
  <%= @habilidad.tipo_habilidad %>
</p>

<%= link_to 'Edit', edit_habilidad_path(@habilidad) %> |
<%= link_to 'Back', habilidades_path %>
