<!----->
<%= simple_form_for(@rol) do |f| %>
  
	<div class="col-lg-6">
		<div class="inputs">
			<%= f.input :nombre, label: 'Nombre de Rol', placeholder: 'rol...', :required => true, :autofocus => true %>
			<br></br> 
			<%= f.input :descripcion, label: 'Descripción del Rol', placeholder: 'descripción...', :required => true, :autofocus => true %>
			<br></br>
			<%= f.label "Tipo de Rol: " %><br></br>
			<%= f.select :tipo_rol_id, [["Sistema", 1], ["Proyecto", 2]], { label: "Tipo de Rol" }, { class: "selectpicker" } %><br></br>
		</div>
		<div class="actions">
		  <%= f.button :submit, "Crear Rol", :class => "btn btn-primary btn-lg" %>
		</div>
	
	<br></br>
  <% if @rol.errors.any? %>
    <div id="error_explanation">
      <h2>No se puede crear el rol por los siguientes errores:</h2>
      <ul>
      <% @rol.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	</div>
<% end %>

