<!----->
<div class="col-lg-12">
  <h2>Lista de Roles</h2>
  <div class="table-responsive  col-lg-3">
    <h3>Roles de Sistema</h3>
    <table class="table table-hover table-striped tablesorter">
			<thead>
    		<tr>
      		<th>Nombre</th>
      		<th>Descripcion</th>
      		<th colspan="3"></th>
    		</tr>
  		</thead>
    	<tbody>
       	<% @roles.each do |rol| %>
					
				<% if TipoRol.find(rol.tipo_rol_id).nombre=='Sistema' %>
      		<tr>
       	 		<td><%= rol.nombre %></td>
       	 		<td><%= rol.descripcion %></td>
        		<td><%= link_to 'Edit', edit_rol_path(rol) %></td>
      	 		<td><%= link_to 'Destroy', rol, method: :delete, data: { confirm: 'Esta seguro de eliminar el rol?' } %></td>
      		</tr>
				<% end %>
    		<% end %>
    	</tbody>
    </table>
  </div>
  <div class="table-responsive  col-lg-3">
    <h3>Roles de Proyecto</h3>
    <table class="table table-hover table-striped tablesorter">
			<thead>
    		<tr>
      		<th>Nombre</th>
      		<th>Descripcion</th>
      		<th colspan="3"></th>
    		</tr>
  		</thead>
	    <tbody>
				<% @roles.each do |rol| %>
					<% if TipoRol.find(rol.tipo_rol_id).nombre=='Proyecto' %>
      		<tr>
       	 		<td><%= rol.nombre %></td>
       	 		<td><%= rol.descripcion %></td>
        		<td><%= link_to 'Edit', edit_rol_path(rol) %></td>
      	 		<td><%= link_to 'Destroy', rol, method: :delete, data: { confirm: 'Esta seguro de eliminar el rol?' } %></td>
      		</tr>
    		<% end %>
				<% end %>
	    </tbody>
    </table>
  </div>
  <div class="table-responsive  col-lg-6">
    <h3>Privilegios de Rol</h3>
	  <table class="table table-hover table-striped tablesorter">
      <tbody>

      </tbody>
    </table>
  </div>
</div>

