<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @rol.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @rol.descripcion %>
</p>

<p>
  <strong>Tipo rol:</strong>
  <%= TipoRol.find(@rol.tipo_rol).nombre %>
</p>

<%= link_to 'Editar', edit_rol_path(@rol) %> |
<%= link_to 'Volver', roles_path %>
