<% user = params[:user_id].to_i %>
<h2>Control de Usuario</h2>
<% if user != 0%>

<div class="col-lg-12" align="center">	
	<%= link_to "Atrás", :back, :class => "btn btn-default btn-lg" %>
	<a href="#" class="btn btn-primary btn-lg active"  role="button" onclick="window.print()">Imprimir</a>
</div>
<% end %>
<% if user == 0 %>
  <div class="table-fluid col-lg-12">
	<h3>Usuarios Disponibles</h3>
		<table class="table table-hover table-striped tablesorter">
			<thead>
				<tr>
					<th class="col-lg-5">Usuario</th>
					<th class="col-lg-5">Nombre </th>
					<th class="col-lg-5">Perfil </th>
				</tr>
			</thead>
			<tbody>
				<% Usuario.all.each do |usuario| %>
				<tr>
					<td><%= link_to usuario.nombreUsuario, control_usuario_path(:user_id => usuario.id) %></td>
					<td><%= usuario.apellido_nombre %></td>
					<td><%= link_to "Perfil", usuario %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<% end %>

	<% if user != 0 %>
   <div class="table-fluid col-lg-12">
	<!--<a href="#" class="btn btn-primary btn-lg active pull-right"  role="button" onclick="window.print()">Imprimir</a> -->
     <h3>Transacciones de <%= Usuario.find(user).nombreUsuario %></h3>
     <table class="table table-hover table-striped tablesorter" align="right">
       <thead>
         <tr>
           <th class="col-lg-3">Fecha</th>
           <th class="col-lg-7">Descripción </th>
		<th class="col-lg-2">Proyecto </th>
           <th></th>
         </tr>
       </thead>
				
       <tbody>
				<% Transaccion.all.each do |transaccion| %>
				<% if transaccion.sesion_id != nil && Sesion.find(transaccion.sesion_id).usuario_id == user %> 
       	<tr>
        	 <td><%= transaccion.created_at %></td>
        	 <td><%= transaccion.descripcion %></td>
					  <% if transaccion.proyecto_id != nil %> 
				 <td><%= Proyecto.find(transaccion.proyecto_id).nombre %></td>
				 <% else %>
				 <td align="center">-</td>
					<% end %>  
       	</tr>
				<% end %>
				<% end %>
     	</tbody>
   	</table>
		<% end %>
 	</div>
<% if user != 0 %>
<div class="col-lg-12" align="center">
	<%= link_to "Atrás", :back, :class => "btn btn-default btn-lg"  %>
	<a href="#" class="btn btn-primary btn-lg active"  role="button" onclick="window.print()">Imprimir</a>
</div>
<% end %>

