<!----->
<h2>Control de Proyecto</h2>
<div class="col-lg-12">
  <div class="table-responsive  col-lg-4">
    <h3>Proyectos Disponibles</h3>
    <table class="table table-hover table-striped tablesorter">
			<thead>
         <tr>
           <th class="col-lg-2">Nombre</th>
					 <th class="col-lg-2">Fecha Inicio </th>
         </tr>
       </thead>
      <tbody>
				<% Proyecto.all.each do |proyecto| %>
        <tr>
          <td><%= link_to proyecto.nombre, control_proyecto_path(:proyecto_id => proyecto.id)  %></td>
					<td><%= proyecto.fechaInicio %></td>
        </tr>
				<% end %>
       </tbody>
     </table>
   </div>
	 <% project = params[:proyecto_id].to_i %>
	<% if project != 0 %>
   <div class="table-responsive  col-lg-8">
     <h3>Transacciones de <%= Proyecto.find(project).nombre %></h3>
     <table class="table table-hover table-striped tablesorter">
       <thead>
         <tr>
           <th class="col-lg-3">Fecha</th>
					 <th class="col-lg-2">Usuario</th>
           <th class="col-lg-7">Descripción </th>
           <th></th>
         </tr>
       </thead>
       <tbody>
				<% Transaccion.all.each do |transaccion| %>
				<% if transaccion.proyecto_id != nil && transaccion.proyecto_id == project %>
       	<tr>
        	 <td><%= transaccion.created_at %></td>
					 <td><%= Usuario.find(Sesion.find(transaccion.sesion_id).usuario_id).nombreUsuario %> </td>
        	 <td><%= transaccion.descripcion %></td>
       	</tr>
				<% end %>
				<% end %>
     	</tbody>
   	</table>
		<% end %>
 	</div>
</div>

