<h1>Listing transacciones</h1>

<table>
  <thead>
    <tr>
      <th>Descripcion</th>
      <th>Fechatransaccion</th>
      <th>Proyecto</th>
      <th>Tipo transaccion</th>
      <th>Sesion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transacciones.each do |transaccion| %>
      <tr>
        <td><%= transaccion.descripcion %></td>
        <td><%= transaccion.created_at %></td>
        <td><%= transaccion.proyecto %></td>
        <td><%= transaccion.tipo_transaccion %></td>
        <td><%= transaccion.sesion %></td>
        <td><%= link_to 'Ver', transaccion %></td>
        <td><%= link_to 'Editar', edit_transaccion_path(transaccion) %></td>
        <td><%= link_to 'Borrar', transaccion, method: :delete, data: { confirm: 'Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Transaccion', new_transaccion_path %>
