<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= value %>
   </div>
<% end %>

<p>
  <strong>Descripcion:</strong>
  <%= @transaccion.descripcion %>
</p>

<p>
  <strong>Fechatransaccion:</strong>
  <%= @transaccion.created_at %>
</p>

<p>
  <strong>Proyecto:</strong>
  <%= @transaccion.proyecto %>
</p>

<p>
  <strong>Tipo transaccion:</strong>
  <%= @transaccion.tipo_transaccion %>
</p>

<p>
  <strong>Sesion:</strong>
  <%= @transaccion.sesion %>
</p>

<%= link_to 'Editar', edit_transaccion_path(@transaccion) %> |
<%= link_to 'Atrás', transacciones_path %>
