<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @transaccion.descripcion %>
</p>

<p>
  <strong>Fechatransaccion:</strong>
  <%= @transaccion.fechaTransaccion %>
</p>

<p>
  <strong>Proyecto:</strong>
  <%= @transaccion.proyecto %>
</p>

<p>
  <strong>Tipo transaccion:</strong>
  <%= @transaccion.tipo_transaccion %>
</p>

<p>
  <strong>Sesion:</strong>
  <%= @transaccion.sesion %>
</p>

<%= link_to 'Edit', edit_transaccion_path(@transaccion) %> |
<%= link_to 'Back', transacciones_path %>
