<%= simple_form_for(@evento_publico) do |f| %>
  <% if @evento_publico.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@evento_publico.errors.count, "error") %> prohibited this evento_publico from being saved:</h2>

      <ul>
      <% @evento_publico.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
          <div class="col-lg-12">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><%= f.input :nombre %><br></h3>
              </div>
              <div class="panel-body">
                
                <label>Descripción del Evento Público</label>
                <%= f.input :descripcion,:as => :text, :input_html => {:rows => 10}, :label => false, :placeholder => 'descripción del evento...'  %>
   				<p> 
                <div class="input-append date" id="dp3" data-date="15-06-2014" data-date-format="dd-mm-yyyy">
                <label>Fecha de Realización</label>
  				<%= f.input :fechaRealizacion, :as => :datetime, :label => false %>
				</div>
                
                 </p>

                
                
              </div>
            </div>
          </div>
  </div><!-- /.row -->
  
	<div class="modal-footer">
		  <%= link_to 'Atrás', evento_publicos_path %>
		 <%= f.button :submit, :class => 'btn btn-primary', :value => 'Confirmar' %>
	</div>

<% end %>
