<h1>Listing evento_publicos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Fecharealizacion</th>
      <th>Usuario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @evento_publicos.each do |evento_publico| %>
      <tr>
        <td><%= evento_publico.nombre %></td>
        <td><%= evento_publico.descripcion %></td>
        <td><%= evento_publico.fechaRealizacion %></td>
        <td><%= evento_publico.usuario %></td>
        <td><%= link_to 'Show', evento_publico %></td>
        <td><%= link_to 'Edit', edit_evento_publico_path(evento_publico) %></td>
        <td><%= link_to 'Destroy', evento_publico, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Evento publico', new_evento_publico_path %>
