<p id="notice"><%= notice %></p>


<div class="row">
  <div class="col-lg-12">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"> <%= @evento_publico.nombre %></h3>
              </div>
              <div class="panel-body">
                
                <label>Descripci贸n del Evento</label>
                <p> 
		<% if !@evento_publico.descripcion.blank? %>
			<%= @evento_publico.descripcion%>
		<% else %>
			No se ha cargado una descripci贸n
		<% end %>
                </p>
                <label>Creador del Evento</label>
		<p>
		<% if @evento_publico.usuario.presence %>
			<%= @evento_publico.usuario%>
		<% else %>
			No se ha cargado un usuario
		<% end %>

                </p>
                <label>Fecha de Realizaci贸n</label>
                <p>
		<% if !@evento_publico.fechaRealizacion.blank? %>
			<%= @evento_publico.fechaRealizacion.to_formatted_s(:rfc822) %>
		<% else %>
			No se ha cargado una descripci贸n
		<% end %>                
		                
              </div>
            </div>      
  </div>
</div>


<%= link_to 'Edit', edit_evento_publico_path(@evento_publico) %> |
<%= link_to 'Destroy', @evento_publico, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', evento_publicos_path %>
