<!--REVISAR TODOS LOS FIRST, NO VAN TODOS--> 
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick", :cache => 'cached/all2' %>   
<div class="col-lg-12">
	<div class="col-lg-11">
    <h2>Reporte</h2><br /><br />
	</div>
	<div class="col-lg-1">
		<br />
		<a href="#" class="btn btn-primary btn-lg active" role="button" onclick="window.print()">Imprimir</a> 
  </div>	
</div>	
<br /><br /><br /><br />	
<%	params[:i_ids].each { |item| %>
	<br />
<div class="col-lg-12">
	<div class="panel panel-primary">
    <div class="panel-heading">      
		<% if params[:tipo_rep]== '1' %>		
				<% case item
						when '1' 
						 %>
						<h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Voluntarios en estado suspendido</h3>
    				</div>
    				<div class="panel-body">
							<%= line_chart params[:u_ids].to_enum(:each_with_index).map{|user,i|
   											 {name: @name_voluntarios[i], data: @datos_voluntarios_suspendidos[i]}
									},{library: {hAxis: {title: "Tiempo", format: 'MMM y'}, vAxis: {title: "Valores"}}} %>
				<% when '2' %>
						<h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Voluntarios en estado activo</h3>
    				</div>
    				<div class="panel-body">
							<%= line_chart params[:u_ids].to_enum(:each_with_index).map{|user,i|
													{name: @name_voluntarios[i], data: @datos_voluntarios_activos[i]}
									},{library: {hAxis: {title: "Tiempo", format: 'MMM y'}, vAxis: {title: "Valores"}}} %>

				<% when '3' %>
						<h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Cantidad de actividades en estado creada asociado a cada voluntario</h3>
    				</div>
    				<div class="panel-body">
							<%= line_chart params[:u_ids].to_enum(:each_with_index).map{|user,i|
													{name: @name_voluntarios[i], data: @datos_act_creadas[i]}
									},{library: {hAxis: {title: "Tiempo", format: 'MMM y'}, vAxis: {title: "Valores"}}} %>

				<% when '4' %>
										<h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Cantidad de actividades en estado planificada asociado a cada voluntario</h3>
    				</div>
    				<div class="panel-body">
						<%= line_chart params[:u_ids].to_enum(:each_with_index).map{|user,i|
													{name: @name_voluntarios[i], data: @datos_act_plan[i]}
									},{library: {hAxis: {title: "Tiempo", format: 'MMM y'}, vAxis: {title: "Valores"}}} %>

				<% when '5' %>
		
				<h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Cantidad de actividades en estado ejecutada asociado a cada voluntario</h3>
    				</div>
    				<div class="panel-body">
						<%= line_chart params[:u_ids].to_enum(:each_with_index).map{|user,i|
													{name: @name_voluntarios[i], data: @datos_act_ejec[i]}
									},{library: {hAxis: {title: "Tiempo", format: 'MMM y'}, vAxis: {title: "Valores"}}} %>

				<% when '6' %>
					
				<h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Cantidad de actividades en estado terminada asociado a cada voluntario</h3>
    				</div>
    				<div class="panel-body">   
						<%= line_chart params[:u_ids].to_enum(:each_with_index).map{|user,i|
													{name: @name_voluntarios[i], data: @datos_act_term[i]}
									},{library: {hAxis: {title: "Tiempo", format: 'MMM y'}, vAxis: {title: "Valores"}}} %>

				<% when '7' %>
	
				<h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Cantidad de actividades en estado cancelada asociado a cada voluntario</h3>
    				</div>
    				<div class="panel-body">
						<%= line_chart params[:u_ids].to_enum(:each_with_index).map{|user,i|
													{name: @name_voluntarios[i], data: @datos_act_canc[i]}
									},{library: {hAxis: {title: "Tiempo", format: 'MMM y'}, vAxis: {title: "Valores"}}} %>

				 <% when '8' %>
						<h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Cantidad de horas efectivas realizadas por voluntario</h3>
    				</div>
    				<div class="panel-body">
						<%= line_chart params[:u_ids].to_enum(:each_with_index).map{|user,i|
   											 {name: @name_voluntarios[i], data: @datos_horas_voluntario[i]}
									},{library: {hAxis: {title: "Tiempo", format: 'MMM y'}, vAxis: {title: "Valores"}}} %>
	<%	end %>
<%	end %>

<% if params[:tipo_rep]== '2' %>
	<% case item

					
						when '1' 
						 %>
						<h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Proyectos en estado Creado</h3>
    				</div>
    				<div class="panel-body">
							<%= line_chart params[:p_ids].to_enum(:each_with_index).map{|proy,i|
   											 {name: @name_proyectos[i], data: @datos_proyectos_creados[i]}
									},{library: {hAxis: {title: "Tiempo", format: 'MMM y'}, vAxis: {title: "Valores"}}} %>

							<%	when '2'  %>
						
						<h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Proyectos en estado Cancelado</h3>
    				</div>
    				<div class="panel-body">
							<%= line_chart params[:p_ids].to_enum(:each_with_index).map{|proy,i|
   											 {name: @name_proyectos[i], data: @datos_proyectos_canc[i]}
									},{library: {hAxis: {title: "Tiempo", format: 'MMM y'}, vAxis: {title: "Valores"}}} %>
					
							<% when '3'  %>
						<h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Proyectos en estado En Ejecución</h3>
    				</div>
    				<div class="panel-body">
							<%= line_chart params[:p_ids].to_enum(:each_with_index).map{|proy,i|
   											 {name: @name_proyectos[i], data: @datos_proyectos_ejec[i]}
									},{library: {hAxis: {title: "Tiempo", format: 'MMM y'}, vAxis: {title: "Valores"}}} %>
				
								<%	when '4'  %>
						<h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Proyectos en estado Terminado</h3>
    				</div>
    				<div class="panel-body">
							<%= line_chart params[:p_ids].to_enum(:each_with_index).map{|proy,i|
   											 {name: @name_proyectos[i], data: @datos_proyectos_term[i]}
									},{library: {hAxis: {title: "Tiempo", format: 'MMM y'}, vAxis: {title: "Valores"}}} %>

							<%	when '5' %>
						<h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Proyectos en estado Suspendido</h3>
    				</div>
    				<div class="panel-body">
							<%= line_chart params[:p_ids].to_enum(:each_with_index).map{|proy,i|
   											 {name: @name_proyectos[i], data: @datos_proyectos_susp[i]}
									},{library: {hAxis: {title: "Tiempo", format: 'MMM y'}, vAxis: {title: "Valores"}}} %>

							<% when '6' %>
					
				<h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Cantidad de actividades por proyecto en estado Creada</h3>
    				</div>
    				<div class="panel-body">
						<%= line_chart params[:p_ids].to_enum(:each_with_index).map{|proy,i|
   											 {name: @name_proyectos[i], data: @datos_act_creadas[i]}
									},{library: {hAxis: {title: "Tiempo", format: 'MMM y'}, vAxis: {title: "Valores"}}} %>

							<% when '7' %>
					
				<h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Cantidad de actividades por proyecto en estado Planificada</h3>
    				</div>
    				<div class="panel-body">
						<%= line_chart params[:p_ids].to_enum(:each_with_index).map{|proy,i|
   											 {name: @name_proyectos[i], data: @datos_act_plan[i]}
									},{library: {hAxis: {title: "Tiempo", format: 'MMM y'}, vAxis: {title: "Valores"}}} %>

							<% when '8' %>
					
				<h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Cantidad de actividades por proyecto en estado Terminada</h3>
    				</div>
    				<div class="panel-body">
						<%= line_chart params[:p_ids].to_enum(:each_with_index).map{|proy,i|
   											 {name: @name_proyectos[i], data: @datos_act_term[i]}
									},{library: {hAxis: {title: "Tiempo", format: 'MMM y'}, vAxis: {title: "Valores"}}} %>

							<% when '9' %>
					
				<h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Cantidad de actividades por proyecto en estado Cancelada</h3>
    				</div>
    				<div class="panel-body">
						<%= line_chart params[:p_ids].to_enum(:each_with_index).map{|proy,i|
   											 {name: @name_proyectos[i], data: @datos_act_canc[i]}
									},{library: {hAxis: {title: "Tiempo", format: 'MMM y'}, vAxis: {title: "Valores"}}} %>

							<% when '10' %>
					
				<h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Cantidad de actividades por proyecto en estado Ejecutada</h3>
    				</div>
    				<div class="panel-body">
						<%= line_chart params[:p_ids].to_enum(:each_with_index).map{|proy,i|
   											 {name: @name_proyectos[i], data: @datos_act_ejec[i]}
									},{library: {hAxis: {title: "Tiempo", format: 'MMM y'}, vAxis: {title: "Valores"}}} %>	

						 <% when '11' %>
					
				<h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Cantidad de voluntarios por proyecto en estado suspendido</h3>
    				</div>
    				<div class="panel-body">
						<%= line_chart params[:p_ids].to_enum(:each_with_index).map{|proy,i|
   											 {name: @name_proyectos[i], data: @datos_vol_susp[i]}
									},{library: {hAxis: {title: "Tiempo", format: 'MMM y'}, vAxis: {title: "Valores"}}} %>	

						 <% when '12' %>
					
				<h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Cantidad de voluntarios por proyecto en estado activo</h3>
    				</div>
    				<div class="panel-body">
						<%= line_chart params[:p_ids].to_enum(:each_with_index).map{|proy,i|
   											 {name: @name_proyectos[i], data: @datos_vol_act[i]}
									},{library: {hAxis: {title: "Tiempo", format: 'MMM y'}, vAxis: {title: "Valores"}}} %>	

						 <% when '13' %>
					
				<h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Cantidad de presupuesto de cada proyecto</h3>
    				</div>
    				<div class="panel-body">
						<%= line_chart params[:p_ids].to_enum(:each_with_index).map{|proy,i|
   											 {name: @name_proyectos[i], data: @datos_cant_pres_proy[i]}
									},{library: {hAxis: {title: "Tiempo", format: 'MMM y'}, vAxis: {title: "Valores"}}} %>

						<% when '14' %>
					
				<h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Cantidad de horas efectivas realizadas de voluntariado por proyecto</h3>
    				</div>
    				<div class="panel-body">
						<%= line_chart params[:p_ids].to_enum(:each_with_index).map{|proy,i|
   											 {name: @name_proyectos[i], data: @datos_horas_proy[i]}
									},{library: {hAxis: {title: "Tiempo", format: 'MMM y'}, vAxis: {title: "Valores"}}} %>

						<% when '15' %>
							<h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Cantidad de horas efectivas realizadas según tipo de actividad </h3>
						  </div>
								<% TipoActividad.all.to_enum(:each_with_index).each do |tipo,j| %>
						 
    				<div class="panel-body">
						<%='Tipo de Actividad: '+tipo.nombre %>
						<%= line_chart params[:p_ids].to_enum(:each_with_index).map{|proy,i|
   											 {name: @name_proyectos[i], data: @datos_tipos[j][i]}
									},{library: {hAxis: {title: "Tiempo", format: 'MMM y'}, vAxis: {title: "Valores"}}} %>

								<%	end %>
							</div>
									
<%	end %>
<%	end %>
<% if params[:tipo_rep]== '3' %>

		<% case item
					
						when '1' 
						 %>
						<h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Cantidad de proyectos por regional en estado Creado</h3>
    				</div>
    				<div class="panel-body">
							<%= line_chart params[:r_ids].to_enum(:each_with_index).map{|proy,i|
   											 {name: @name_regionales[i], data: @datos_proyectos_creados_reg[i]}
									},{library: {hAxis: {title: "Tiempo", format: 'MMM y'}, vAxis: {title: "Valores"}}} %>


					<%	when '2' %>
						<h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Cantidad de proyectos por regional en estado Cancelado</h3>
    				</div>
    				<div class="panel-body">
							<%= line_chart params[:r_ids].to_enum(:each_with_index).map{|proy,i|
   											 {name: @name_regionales[i], data: @datos_proyectos_canc_reg[i]}
									},{library: {hAxis: {title: "Tiempo", format: 'MMM y'}, vAxis: {title: "Valores"}}} %>



						<%	when '3' %>
						<h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Cantidad de proyectos por regional en estado Terminado</h3>
    				</div>
    				<div class="panel-body">
							<%= line_chart params[:r_ids].to_enum(:each_with_index).map{|proy,i|
   											 {name: @name_regionales[i], data: @datos_proyectos_term_reg[i]}
									},{library: {hAxis: {title: "Tiempo", format: 'MMM y'}, vAxis: {title: "Valores"}}} %>



						<%	when '4' %>
						<h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Cantidad de proyectos por regional en estado Suspendido</h3>
    				</div>
    				<div class="panel-body">
							<%= line_chart params[:r_ids].to_enum(:each_with_index).map{|proy,i|
   											 {name: @name_regionales[i], data: @datos_proyectos_susp_reg[i]}
									},{library: {hAxis: {title: "Tiempo", format: 'MMM y'}, vAxis: {title: "Valores"}}} %>

							<%	when '5' %>
						<h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Cantidad de proyectos por regional en estado En Ejecución</h3>
    				</div>
    				<div class="panel-body">
							<%= line_chart params[:r_ids].to_enum(:each_with_index).map{|proy,i|
   											 {name: @name_regionales[i], data: @datos_proyectos_ejec_reg[i]}
									},{library: {hAxis: {title: "Tiempo", format: 'MMM y'}, vAxis: {title: "Valores"}}} %>

							<%	when '6' %>
						<h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Cantidad de voluntarios por regional en estado suspendido</h3>
    				</div>
    				<div class="panel-body">
							<%= line_chart params[:r_ids].to_enum(:each_with_index).map{|proy,i|
   											 {name: @name_regionales[i], data: @datos_vol_susp_reg[i]}
									},{library: {hAxis: {title: "Tiempo", format: 'MMM y'}, vAxis: {title: "Valores"}}} %>

							<%	when '7' %>
						<h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Cantidad de voluntarios por regional en estado activo</h3>
    				</div>
    				<div class="panel-body">
							<%= line_chart params[:r_ids].to_enum(:each_with_index).map{|proy,i|
   											 {name: @name_regionales[i], data: @datos_vol_act_reg[i]}
									},{library: {hAxis: {title: "Tiempo", format: 'MMM y'}, vAxis: {title: "Valores"}}} %>

							<%	when '8' %>
						<h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Cantidad de proyectos por regional con presupuesto</h3>
    				</div>
    				<div class="panel-body">
							<%= line_chart params[:r_ids].to_enum(:each_with_index).map{|proy,i|
   											 {name: @name_regionales[i], data: @datos_pres_reg[i]}
									},{library: {hAxis: {title: "Tiempo", format: 'MMM y'}, vAxis: {title: "Valores"}}} %>

							<%	when '9' %>
						<h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Cantidad de proyectos por regional en evaluación de presupuestos</h3>
    				</div>
    				<div class="panel-body">
							<%= line_chart params[:r_ids].to_enum(:each_with_index).map{|proy,i|
   											 {name: @name_regionales[i], data: @datos_pres_eval_reg[i]}
									},{library: {hAxis: {title: "Tiempo", format: 'MMM y'}, vAxis: {title: "Valores"}}} %>

							<%	when '10' %>
						<h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Cantidad de presupuesto por regional</h3>
    				</div>
    				<div class="panel-body">
							<%= line_chart params[:r_ids].to_enum(:each_with_index).map{|proy,i|
   											 {name: @name_regionales[i], data: @datos_cant_pres_eval_reg[i]}
									},{library: {hAxis: {title: "Tiempo", format: 'MMM y'}, vAxis: {title: "Valores"}}} %>

						<%	when '11' %>
						<h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Cantidad de horas efectivas realizadas de voluntariado por regional</h3>
    				</div>
    				<div class="panel-body">
							<%= line_chart params[:r_ids].to_enum(:each_with_index).map{|proy,i|
   											 {name: @name_regionales[i], data: @datos_horas_reg[i]}
									},{library: {hAxis: {title: "Tiempo", format: 'MMM y'}, vAxis: {title: "Valores"}}} %>

						<%	when '12' %>
						<h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Cantidad de horas efectivas realizadas por regional según tipo de actividad</h3>
    				</div>
						<% TipoActividad.all.to_enum(:each_with_index).each do |tipo,j| %>
    				<div class="panel-body">
							<%='Tipo de Actividad: '+tipo.nombre %>
							<%= line_chart params[:r_ids].to_enum(:each_with_index).map{|proy,i|
   											 {name: @name_regionales[i], data: @datos_tipos[j][i]}
									},{library: {hAxis: {title: "Tiempo", format: 'MMM y'}, vAxis: {title: "Valores"}}} %>
							<%	end %>

<%	end %>
<%	end %>
		</div>
  </div>
</div>
	<div class="col-lg-12">
    <div class="panel panel-primary">
       <div class="panel-heading">
			<% if params[:tipo_rep]== '1' %>
				<% case item
						when '1' %>
          <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Voluntarios en estado suspendido</h3>
       </div>
       <div class="panel-body">
         <table class="table table-hover table-striped tablesorter">
                <thead>
                  <tr>
                    <th class="col-lg">Voluntario</th>
										<%(1..12).each { |mes|%>
                    <th class="col-lg-1"><%= mes %> | <%= params[:anio][:year] %></th>
										<% } %> 
                  </tr>
                </thead>
                <tbody>
						<% params[:u_ids].to_enum(:each_with_index).each { |user,i|%>
							<tr>	
								<td> <%= @name_voluntarios[i] %> </td>
							<%(1..12).each { |mes|%>
								<td><%= @datos_discretos_voluntarios_suspendidos[i][(mes-1)]%> </td>
							<% } %>
							</tr>
						<% } %>
			<%	when '2' %>
          <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Voluntarios en estado activo</h3>
       </div>
       <div class="panel-body">
         <table class="table table-hover table-striped tablesorter">
                <thead>
									
                  <tr>
                    <th class="col-lg">Voluntario</th>
										<%(1..12).each { |mes|%>
                    <th class="col-lg-1"><%= mes %> | <%= params[:anio][:year] %></th>
										<% } %> 
                  </tr>
                </thead>
                <tbody>
						<% params[:u_ids].to_enum(:each_with_index).each { |user,i|%>
							<tr>	
								<td> <%=  @name_voluntarios[i] %> </td>
							<%(1..12).each { |mes|%>
								<td><%= @datos_discretos_voluntarios_activos[i][(mes-1)] %> </td>
							<% } %>
							</tr>
						<% } %>
  			<%	when '3' %>
          <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Cantidad de actividades en estado creada asociado a cada voluntario</h3>
       </div>
       <div class="panel-body">
         <table class="table table-hover table-striped tablesorter">
                <thead>
									
                  <tr>
                    <th class="col-lg">Voluntario</th>
										<%(1..12).each { |mes|%>
                    <th class="col-lg-1"><%= mes %> | <%= params[:anio][:year] %></th>
										<% } %> 
                  </tr>
                </thead>
                <tbody>
						<% params[:u_ids].to_enum(:each_with_index).each { |user,i|%>
							<tr>	
								<td> <%=  @name_voluntarios[i] %> </td>
							<%(1..12).each { |mes|%>
								<td><%= @datos_discretos_act_creadas[i][(mes-1)] %> </td>
							<% } %>
							</tr>
						<% } %>
					
					<%	when '4' %>
          <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Cantidad de actividades en estado planificada asociado a cada voluntario</h3>
       </div>
       <div class="panel-body">
         <table class="table table-hover table-striped tablesorter">
                <thead>
									
                  <tr>
                    <th class="col-lg">Voluntario</th>
										<%(1..12).each { |mes|%>
                    <th class="col-lg-1"><%= mes %> | <%= params[:anio][:year] %></th>
										<% } %> 
                  </tr>
                </thead>
                <tbody>
						<% params[:u_ids].to_enum(:each_with_index).each { |user,i|%>
							<tr>	
								<td> <%=  @name_voluntarios[i] %> </td>
							<%(1..12).each { |mes|%>
								<td><%= @datos_discretos_act_plan[i][(mes-1)] %> </td>
							<% } %>
							</tr>
						<% } %>

						<%	when '5' %>
          <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Cantidad de actividades en estado ejecutada asociado a cada voluntario</h3>
       </div>
       <div class="panel-body">
         <table class="table table-hover table-striped tablesorter">
                <thead>
									
                  <tr>
                    <th class="col-lg">Voluntario</th>
										<%(1..12).each { |mes|%>
                    <th class="col-lg-1"><%= mes %> | <%= params[:anio][:year] %></th>
										<% } %> 
                  </tr>
                </thead>
                <tbody>
						<% params[:u_ids].to_enum(:each_with_index).each { |user,i|%>
							<tr>	
								<td> <%=  @name_voluntarios[i] %> </td>
							<%(1..12).each { |mes|%>
								<td><%= @datos_discretos_act_ejec[i][(mes-1)] %> </td>
							<% } %>
							</tr>
						<% } %>
			
						<%	when '6' %>
          <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Cantidad de actividades en estado terminada asociado a cada voluntario</h3>
       </div>
       <div class="panel-body">
         <table class="table table-hover table-striped tablesorter">
                <thead>
									
                  <tr>
                    <th class="col-lg">Voluntario</th>
										<%(1..12).each { |mes|%>
                    <th class="col-lg-1"><%= mes %> | <%= params[:anio][:year] %></th>
										<% } %> 
                  </tr>
                </thead>
                <tbody>
						<% params[:u_ids].to_enum(:each_with_index).each { |user,i|%>
							<tr>	
								<td> <%=  @name_voluntarios[i] %> </td>
							<%(1..12).each { |mes|%>
								<td><%= @datos_discretos_act_term[i][(mes-1)] %> </td>
							<% } %>
							</tr>
						<% } %>

						  			<%	when '7' %>
          <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Cantidad de actividades en estado cancelada asociado a cada voluntario</h3>
       </div>
       <div class="panel-body">
         <table class="table table-hover table-striped tablesorter">
                <thead>
                  <tr>
                    <th class="col-lg">Voluntario</th>
										<%(1..12).each { |mes|%>
                    <th class="col-lg-1"><%= mes %> | <%= params[:anio][:year] %></th>
										<% } %> 
                  </tr>
                </thead>
                <tbody>
						<% params[:u_ids].to_enum(:each_with_index).each { |user,i|%>
							<tr>	
								<td> <%=  @name_voluntarios[i] %> </td>
							<%(1..12).each { |mes|%>
								<td><%= @datos_discretos_act_canc[i][(mes-1)] %> </td>
							<% } %>
							</tr>
						<% } %>
					

					<%	when '8' %>
          <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Cantidad de horas efectivas realizadas por voluntario</h3>
       </div>
       <div class="panel-body">
         <table class="table table-hover table-striped tablesorter">
                <thead>
                  <tr>
                    <th class="col-lg">Voluntario</th>
										<%(1..12).each { |mes|%>
                    <th class="col-lg-1"><%= mes %> | <%= params[:anio][:year] %></th>
										<% } %> 
                  </tr>
                </thead>
                <tbody>
						<% params[:u_ids].to_enum(:each_with_index).each { |user,i|%>
							<tr>	
								<td> <%= @name_voluntarios[i] %> </td>
							<%(1..12).each { |mes|%>
								<td><%= @datos_discretos_voluntarios_horas[i][(mes-1)]	%> </td>
							<% } %>
							</tr>
						<% } %>
 				<%	end %>
              </tbody>
        </table>
	<%	end %>


			<% if params[:tipo_rep]== '2' %>
				
				<% case item
						when '1' %>
          <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Cantidad de Proyectos en estado Creado</h3>
       </div>
       <div class="panel-body">
         <table class="table table-hover table-striped tablesorter">
                <thead>
									
                  <tr>
                    <th class="col-lg">Proyecto</th>
										<%(1..12).each { |mes|%>
                    <th class="col-lg-1"><%= mes %> | <%= params[:anio][:year] %></th>
										<% } %> 
                  </tr>
                </thead>
                <tbody>
						<% params[:p_ids].to_enum(:each_with_index).each { |proyecto,i|%>
							<tr>	
								<td> <%= @name_proyectos[i] %> </td>
							<%(1..12).each { |mes|%>
								<td><%= @datos_discretos_proyectos_creados[i][(mes-1)] %> </td>
							<% } %>
							</tr>
						<% } %>

					<% when '2' %>
          <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Cantidad de Proyectos en estado Cancelado</h3>
       </div>
       <div class="panel-body">
         <table class="table table-hover table-striped tablesorter">
                <thead>
									
                  <tr>
                    <th class="col-lg">Proyecto</th>
										<%(1..12).each { |mes|%>
                    <th class="col-lg-1"><%= mes %> | <%= params[:anio][:year] %></th>
										<% } %> 
                  </tr>
                </thead>
                <tbody>
						<% params[:p_ids].to_enum(:each_with_index).each { |proyecto,i|%>
							<tr>	
								<td> <%= @name_proyectos[i] %> </td>
							<%(1..12).each { |mes|%>
								<td><%= @datos_discretos_proyectos_canc[i][(mes-1)] %> </td>
							<% } %>
							</tr>
						<% } %>

					<% when '3' %>
          <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Cantidad de Proyectos en estado En Ejecución</h3>
       </div>
       <div class="panel-body">
         <table class="table table-hover table-striped tablesorter">
                <thead>
									
                  <tr>
                    <th class="col-lg">Proyecto</th>
										<%(1..12).each { |mes|%>
                    <th class="col-lg-1"><%= mes %> | <%= params[:anio][:year] %></th>
										<% } %> 
                  </tr>
                </thead>
                <tbody>
						<% params[:p_ids].to_enum(:each_with_index).each { |proyecto,i|%>
							<tr>	
								<td> <%= @name_proyectos[i] %> </td>
							<%(1..12).each { |mes|%>
								<td><%= @datos_discretos_proyectos_ejec[i][(mes-1)] %> </td>
							<% } %>
							</tr>
						<% } %>
			
				<% when '4' %>
          <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Cantidad de Proyectos en estado Terminado</h3>
       </div>
       <div class="panel-body">
         <table class="table table-hover table-striped tablesorter">
                <thead>
									
                  <tr>
                    <th class="col-lg">Proyecto</th>
										<%(1..12).each { |mes|%>
                    <th class="col-lg-1"><%= mes %> | <%= params[:anio][:year] %></th>
										<% } %> 
                  </tr>
                </thead>
                <tbody>
						<% params[:p_ids].to_enum(:each_with_index).each { |proyecto,i|%>
							<tr>	
								<td> <%= @name_proyectos[i] %> </td>
							<%(1..12).each { |mes|%>
								<td><%= @datos_discretos_proyectos_term[i][(mes-1)] %> </td>
							<% } %>
							</tr>
						<% } %>
			
				<% when '5' %>
          <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Cantidad de Proyectos en estado Suspendido</h3>
       </div>
       <div class="panel-body">
         <table class="table table-hover table-striped tablesorter">
                <thead>
									
                  <tr>
                    <th class="col-lg">Proyecto</th>
										<%(1..12).each { |mes|%>
                    <th class="col-lg-1"><%= mes %> | <%= params[:anio][:year] %></th>
										<% } %> 
                  </tr>
                </thead>
                <tbody>
						<% params[:p_ids].to_enum(:each_with_index).each { |proyecto,i|%>
							<tr>	
								<td> <%= @name_proyectos[i] %> </td>
							<%(1..12).each { |mes|%>
								<td><%= @datos_discretos_proyectos_susp[i][(mes-1)] %> </td>
							<% } %>
							</tr>
						<% } %>		

									<% when '6' %>
          <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Cantidad de actividades por proyecto en estado Creada</h3>
       </div>
       <div class="panel-body">
         <table class="table table-hover table-striped tablesorter">
                <thead>
									
                  <tr>
                    <th class="col-lg">Proyecto</th>
										<%(1..12).each { |mes|%>
                    <th class="col-lg-1"><%= mes %> | <%= params[:anio][:year] %></th>
										<% } %> 
                  </tr>
                </thead>
                <tbody>
						<% params[:p_ids].to_enum(:each_with_index).each { |proyecto,i|%>
							<tr>	
								<td> <%= @name_proyectos[i] %> </td>
							<%(1..12).each { |mes|%>
								<td><%= @datos_discretos_act_creadas[i][(mes-1)] %> </td>
							<% } %>
							</tr>
						<% } %>			

									<% when '7' %>
          <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Cantidad de actividades por proyecto en estado Planificada</h3>
       </div>
       <div class="panel-body">
         <table class="table table-hover table-striped tablesorter">
                <thead>
									
                  <tr>
                    <th class="col-lg">Proyecto</th>
										<%(1..12).each { |mes|%>
                    <th class="col-lg-1"><%= mes %> | <%= params[:anio][:year] %></th>
										<% } %> 
                  </tr>
                </thead>
                <tbody>
						<% params[:p_ids].to_enum(:each_with_index).each { |proyecto,i|%>
							<tr>	
								<td> <%= @name_proyectos[i] %> </td>
							<%(1..12).each { |mes|%>
								<td><%= @datos_discretos_act_plan[i][(mes-1)] %> </td>
							<% } %>
							</tr>
						<% } %>				

									<% when '8' %>
          <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Cantidad de actividades por proyecto en estado Terminada</h3>
       </div>
       <div class="panel-body">
         <table class="table table-hover table-striped tablesorter">
                <thead>
									
                  <tr>
                    <th class="col-lg">Proyecto</th>
										<%(1..12).each { |mes|%>
                    <th class="col-lg-1"><%= mes %> | <%= params[:anio][:year] %></th>
										<% } %> 
                  </tr>
                </thead>
                <tbody>
						<% params[:p_ids].to_enum(:each_with_index).each { |proyecto,i|%>
							<tr>	
								<td> <%= @name_proyectos[i] %> </td>
							<%(1..12).each { |mes|%>
								<td><%= @datos_discretos_act_term[i][(mes-1)] %> </td>
							<% } %>
							</tr>
						<% } %>		

									<% when '9' %>
          <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Cantidad de actividades por proyecto en estado Cancelada</h3>
       </div>
       <div class="panel-body">
         <table class="table table-hover table-striped tablesorter">
                <thead>
									
                  <tr>
                    <th class="col-lg">Proyecto</th>
										<%(1..12).each { |mes|%>
                    <th class="col-lg-1"><%= mes %> | <%= params[:anio][:year] %></th>
										<% } %> 
                  </tr>
                </thead>
                <tbody>
						<% params[:p_ids].to_enum(:each_with_index).each { |proyecto,i|%>
							<tr>	
								<td> <%= @name_proyectos[i] %> </td>
							<%(1..12).each { |mes|%>
								<td><%= @datos_discretos_proyectos_canc[i][(mes-1)] %> </td>
							<% } %>
							</tr>
						<% } %>		

									<% when '10' %>
          <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Cantidad de actividades por proyecto en estado Ejecutada</h3>
       </div>
       <div class="panel-body">
         <table class="table table-hover table-striped tablesorter">
                <thead>
									
                  <tr>
                    <th class="col-lg">Proyecto</th>
										<%(1..12).each { |mes|%>
                    <th class="col-lg-1"><%= mes %> | <%= params[:anio][:year] %></th>
										<% } %> 
                  </tr>
                </thead>
                <tbody>
						<% params[:p_ids].to_enum(:each_with_index).each { |proyecto,i|%>
							<tr>	
								<td> <%= @name_proyectos[i] %> </td>
							<%(1..12).each { |mes|%>
								<td><%= @datos_discretos_proyectos_ejec[i][(mes-1)] %> </td>
							<% } %>
							</tr>
						<% } %>				

										<% when '11' %>
          <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Cantidad de voluntarios por proyecto en estado suspendido</h3>
       </div>
       <div class="panel-body">
         <table class="table table-hover table-striped tablesorter">
                <thead>
									
                  <tr>
                    <th class="col-lg">Proyecto</th>
										<%(1..12).each { |mes|%>
                    <th class="col-lg-1"><%= mes %> | <%= params[:anio][:year] %></th>
										<% } %> 
                  </tr>
                </thead>
                <tbody>
						<% params[:p_ids].to_enum(:each_with_index).each { |proyecto,i|%>
							<tr>	
								<td> <%= @name_proyectos[i] %> </td>
							<%(1..12).each { |mes|%>
								<td><%= @datos_discretos_vol_susp[i][(mes-1)] %> </td>
							<% } %>
							</tr>
						<% } %>				

										<% when '12' %>
          <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Cantidad de voluntarios por proyecto en estado activo</h3>
       </div>
       <div class="panel-body">
         <table class="table table-hover table-striped tablesorter">
                <thead>
									
                  <tr>
                    <th class="col-lg">Proyecto</th>
										<%(1..12).each { |mes|%>
                    <th class="col-lg-1"><%= mes %> | <%= params[:anio][:year] %></th>
										<% } %> 
                  </tr>
                </thead>
                <tbody>
						<% params[:p_ids].to_enum(:each_with_index).each { |proyecto,i|%>
							<tr>	
								<td> <%= @name_proyectos[i] %> </td>
							<%(1..12).each { |mes|%>
								<td><%= @datos_discretos_vol_act[i][(mes-1)] %> </td>
							<% } %>
							</tr>
						<% } %>				

					<% when '13' %>
          <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Cantidad de presupuesto de cada proyecto</h3>
       </div>
       <div class="panel-body">
         <table class="table table-hover table-striped tablesorter">
                <thead>
									
                  <tr>
                    <th class="col-lg">Proyecto</th>
										<%(1..12).each { |mes|%>
                    <th class="col-lg-1"><%= mes %> | <%= params[:anio][:year] %></th>
										<% } %> 
                  </tr>
                </thead>
                <tbody>
						<% params[:p_ids].to_enum(:each_with_index).each { |proyecto,i|%>
							<tr>	
								<td> <%= @name_proyectos[i] %> </td>
							<%(1..12).each { |mes|%>
								<td><%= @datos_discretos_cant_pres_proy[i][(mes-1)] %> </td>
							<% } %>
							</tr>
						<% } %>

							<% when '14' %>
          <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Cantidad de actividades por proyecto en estado Ejecutada</h3>
       </div>
       <div class="panel-body">
         <table class="table table-hover table-striped tablesorter">
                <thead>
                  <tr>
                    <th class="col-lg">Proyecto</th>
										<%(1..12).each { |mes|%>
                    <th class="col-lg-1"><%= mes %> | <%= params[:anio][:year] %></th>
										<% } %> 
                  </tr>
                </thead>
                <tbody>
						<% params[:p_ids].to_enum(:each_with_index).each { |proyecto,i|%>
							<tr>	
								<td> <%= @name_proyectos[i] %> </td>
							<%(1..12).each { |mes|%>
								<td><%= @datos_discretos_horas_proy[i][(mes-1)] %> </td>
							<% } %>
							</tr>
						<% } %>				

						<% when '15' %>
          <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Cantidad de actividades por proyecto en estado Ejecutada</h3>
       </div>
       <div class="panel-body">
				<% TipoActividad.all.to_enum(:each_with_index).each do |tipo,j| %>
         <table class="table table-hover table-striped tablesorter">
						<%='Tipo de Actividad: '+tipo.nombre %>
                <thead>
									
                  <tr>
                    <th class="col-lg">Proyecto</th>
										<%(1..12).each { |mes|%>
                    <th class="col-lg-1"><%= mes %> | <%= params[:anio][:year] %></th>
										<% } %> 
                  </tr>
                </thead>
                <tbody>
						<% params[:p_ids].to_enum(:each_with_index).each { |proyecto,i|%>
							<tr>	
								<td> <%= @name_proyectos[i] %> </td>
							<%(1..12).each { |mes|%>
								<td><%= @datos_discretos_tipos[j][i][(mes-1)] %> </td>
							<% } %>
							</tr>
						<% } %>				
				<%	end %>



			<%	end %>
			</tbody>
        </table>
			<%	end %>
			<% if params[:tipo_rep]== '3' %>
							<% case item
						when '1' %>
          <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Cantidad de proyectos por regional en estado Creado</h3>
       </div>
       <div class="panel-body">
         <table class="table table-hover table-striped tablesorter">
                <thead>
									
                  <tr>
                    <th class="col-lg">Regional</th>
										<%(1..12).each { |mes|%>
                    <th class="col-lg-1"><%= mes %> | <%= params[:anio][:year] %></th>
										<% } %> 
                  </tr>
                </thead>
                <tbody>
						<% params[:r_ids].to_enum(:each_with_index).each { |reg,i|%>
							<tr>	
								<td> <%= @name_regionales[i] %> </td>
							<%(1..12).each { |mes|%>
								<td><%= @datos_discretos_proyectos_creados_reg[i][(mes-1)] %> </td>
							<% } %>
							</tr>
						<% } %>		





			<% when '2' %>
          <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Cantidad de proyectos por regional en estado Cancelado</h3>
       </div>
       <div class="panel-body">
         <table class="table table-hover table-striped tablesorter">
                <thead>
									
                  <tr>
                    <th class="col-lg">Regional</th>
										<%(1..12).each { |mes|%>
                    <th class="col-lg-1"><%= mes %> | <%= params[:anio][:year] %></th>
										<% } %> 
                  </tr>
                </thead>
                <tbody>
						<% params[:r_ids].to_enum(:each_with_index).each { |reg,i|%>
							<tr>	
								<td> <%= @name_regionales[i] %> </td>
							<%(1..12).each { |mes|%>
								<td><%= @datos_discretos_proyectos_canc_reg[i][(mes-1)] %> </td>
							<% } %>
							</tr>
						<% } %>		


					<% when '3' %>
          <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Cantidad de proyectos por regional en estado Terminado</h3>
       </div>
       <div class="panel-body">
         <table class="table table-hover table-striped tablesorter">
                <thead>
									
                  <tr>
                    <th class="col-lg">Regional</th>
										<%(1..12).each { |mes|%>
                    <th class="col-lg-1"><%= mes %> | <%= params[:anio][:year] %></th>
										<% } %> 
                  </tr>
                </thead>
                <tbody>
						<% params[:r_ids].to_enum(:each_with_index).each { |reg,i|%>
							<tr>	
								<td> <%= @name_regionales[i] %> </td>
							<%(1..12).each { |mes|%>
								<td><%= @datos_discretos_proyectos_term_reg[i][(mes-1)] %> </td>
							<% } %>
							</tr>
						<% } %>		

					<% when '4' %>
          <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Cantidad de proyectos por regional en estado Suspendido</h3>
       </div>
       <div class="panel-body">
         <table class="table table-hover table-striped tablesorter">
                <thead>
									
                  <tr>
                    <th class="col-lg">Regional</th>
										<%(1..12).each { |mes|%>
                    <th class="col-lg-1"><%= mes %> | <%= params[:anio][:year] %></th>
										<% } %> 
                  </tr>
                </thead>
                <tbody>
						<% params[:r_ids].to_enum(:each_with_index).each { |reg,i|%>
							<tr>	
								<td> <%= @name_regionales[i] %> </td>
							<%(1..12).each { |mes|%>
								<td><%= @datos_discretos_proyectos_susp_reg[i][(mes-1)] %> </td>
							<% } %>
							</tr>
						<% } %>		
	
					<% when '5' %>
          <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Cantidad de proyectos por regional en estado En Ejecución</h3>
       </div>
       <div class="panel-body">
         <table class="table table-hover table-striped tablesorter">
                <thead>
									
                  <tr>
                    <th class="col-lg">Regional</th>
										<%(1..12).each { |mes|%>
                    <th class="col-lg-1"><%= mes %> | <%= params[:anio][:year] %></th>
										<% } %> 
                  </tr>
                </thead>
                <tbody>
						<% params[:r_ids].to_enum(:each_with_index).each { |reg,i|%>
							<tr>	
								<td> <%= @name_regionales[i] %> </td>
							<%(1..12).each { |mes|%>
								<td><%= @datos_discretos_proyectos_ejec_reg[i][(mes-1)] %> </td>
							<% } %>
							</tr>
						<% } %>		

					<% when '6' %>
          <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Cantidad de voluntarios por regional en estado suspendido</h3>
       </div>
       <div class="panel-body">
         <table class="table table-hover table-striped tablesorter">
                <thead>
									
                  <tr>
                    <th class="col-lg">Regional</th>
										<%(1..12).each { |mes|%>
                    <th class="col-lg-1"><%= mes %> | <%= params[:anio][:year] %></th>
										<% } %> 
                  </tr>
                </thead>
                <tbody>
						<% params[:r_ids].to_enum(:each_with_index).each { |reg,i|%>
							<tr>	
								<td> <%= @name_regionales[i] %> </td>
							<%(1..12).each { |mes|%>
								<td><%= @datos_discretos_vol_susp_reg[i][(mes-1)] %> </td>
							<% } %>
							</tr>
						<% } %>		

				<% when '7' %>
          <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Cantidad de voluntarios por regional en estado activo</h3>
       </div>
       <div class="panel-body">
         <table class="table table-hover table-striped tablesorter">
                <thead>
									
                  <tr>
                    <th class="col-lg">Regional</th>
										<%(1..12).each { |mes|%>
                    <th class="col-lg-1"><%= mes %> | <%= params[:anio][:year] %></th>
										<% } %> 
                  </tr>
                </thead>
                <tbody>
						<% params[:r_ids].to_enum(:each_with_index).each { |reg,i|%>
							<tr>	
								<td> <%= @name_regionales[i] %> </td>
							<%(1..12).each { |mes|%>
								<td><%= @datos_discretos_vol_act_reg[i][(mes-1)] %> </td>
							<% } %>
							</tr>
						<% } %>		

				<% when '8' %>
          <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Cantidad de proyectos por regional con presupuesto</h3>
       </div>
       <div class="panel-body">
         <table class="table table-hover table-striped tablesorter">
                <thead>
									
                  <tr>
                    <th class="col-lg">Regional</th>
										<%(1..12).each { |mes|%>
                    <th class="col-lg-1"><%= mes %> | <%= params[:anio][:year] %></th>
										<% } %> 
                  </tr>
                </thead>
                <tbody>
						<% params[:r_ids].to_enum(:each_with_index).each { |reg,i|%>
							<tr>	
								<td> <%= @name_regionales[i] %> </td>
							<%(1..12).each { |mes|%>
								<td><%= @datos_discretos_pres_reg[i][(mes-1)] %> </td>
							<% } %>
							</tr>
						<% } %>		
	
					<% when '9' %>
          <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Cantidad de proyectos por regional en evaluación de presupuestos</h3>
       </div>
       <div class="panel-body">
         <table class="table table-hover table-striped tablesorter">
                <thead>
									
                  <tr>
                    <th class="col-lg">Regional</th>
										<%(1..12).each { |mes|%>
                    <th class="col-lg-1"><%= mes %> | <%= params[:anio][:year] %></th>
										<% } %> 
                  </tr>
                </thead>
                <tbody>
						<% params[:r_ids].to_enum(:each_with_index).each { |reg,i|%>
							<tr>	
								<td> <%= @name_regionales[i] %> </td>
							<%(1..12).each { |mes|%>
								<td><%= @datos_discretos_pres_eval_reg[i][(mes-1)] %> </td>
							<% } %>
							</tr>
						<% } %>		

					<% when '10' %>
          <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Cantidad de presupuesto por regional</h3>
       </div>
       <div class="panel-body">
         <table class="table table-hover table-striped tablesorter">
                <thead>
									
                  <tr>
                    <th class="col-lg">Regional</th>
										<%(1..12).each { |mes|%>
                    <th class="col-lg-1"><%= mes %> | <%= params[:anio][:year] %></th>
										<% } %> 
                  </tr>
                </thead>
                <tbody>
						<% params[:r_ids].to_enum(:each_with_index).each { |reg,i|%>
							<tr>	
								<td> <%= @name_regionales[i] %> </td>
							<%(1..12).each { |mes|%>
								<td><%= @datos_discretos_cant_pres_eval_reg[i][(mes-1)] %> </td>
							<% } %>
							</tr>
						<% } %>	

					<% when '11' %>
          <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Cantidad de horas efectivas realizadas de voluntariado por regional</h3>
       </div>
       <div class="panel-body">
         <table class="table table-hover table-striped tablesorter">
                <thead>
									
                  <tr>
                    <th class="col-lg">Regional</th>
										<%(1..12).each { |mes|%>
                    <th class="col-lg-1"><%= mes %> | <%= params[:anio][:year] %></th>
										<% } %> 
                  </tr>
                </thead>
                <tbody>
						<% params[:r_ids].to_enum(:each_with_index).each { |reg,i|%>
							<tr>	
								<td> <%= @name_regionales[i] %> </td>
							<%(1..12).each { |mes|%>
								<td><%= @datos_discretos_horas_reg[i][(mes-1)] %> </td>
							<% } %>
							</tr>
						<% } %>	

					<% when '12' %>
          <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Cantidad de horas efectivas realizadas por regional según tipo de actividad</h3>
       </div>
       <div class="panel-body">
				<% TipoActividad.all.to_enum(:each_with_index).each do |tipo,j| %>
         <table class="table table-hover table-striped tablesorter">
						<%='Tipo de Actividad: '+tipo.nombre %>
                <thead>
									
                  <tr>
                    <th class="col-lg">Regional</th>
										<%(1..12).each { |mes|%>
                    <th class="col-lg-1"><%= mes %> | <%= params[:anio][:year] %></th>
										<% } %> 
                  </tr>
                </thead>
                <tbody>
						<% params[:r_ids].to_enum(:each_with_index).each { |reg,i|%>
							<tr>	
								<td> <%= @name_regionales[i] %> </td>
							<%(1..12).each { |mes|%>
								<td><%= @datos_discretos_tipos[j][i][(mes-1)] %> </td>
							<% } %>
							</tr>
						<% } %>	
						<%	end %>

			<%	end %>
			</tbody>
        </table>
			<%	end %>
      </div>
    </div>
	</div>

<%  } %>      
              

      
       
