<!----->
<% if  @error != 0 %>
						<p class="alert alert-dismissable alert-danger">Debe seleccionar proyectos e items.</p>
<% end %>
<div class="col-lg-6">
	<h2>Reporte de Proyectos</h2>
</div>
<div class="col-lg-6">
	<br></br>
	<%= form_tag nil, method: :get do %>
	<%= select_year(DateTime.now.year, :start_year => 2000, :end_year =>DateTime.now.year, prefix: :anio_rep) %>
	<%= submit_tag 'Generar Reporte', { :class=>"btn btn-primary btn-lg" }  %>
</div>
<div class="col-lg-12">
	<div class="table-responsive  col-lg-4">
		<h3>Proyectos Disponibles</h3>
		<table class="table table-hover table-striped tablesorter">
			<thead>
         <tr>
           <th class="col-lg-6">Nombre</th>
					 <th class="col-lg-6">Fecha Inicio </th>
         </tr>
      </thead>
			<tbody>
			<% Proyecto.all.each do |proyecto| %>
				<tr>
					<td><%= proyecto.nombre %></td>
					<td><%= proyecto.fechaInicio %></td>
					<td><%= check_box_tag 'proyecto_ids[]', proyecto.id %></td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>
	<div class="table-responsive  col-lg-8">
		<h3>Items Disponibles</h3>
		<table class="table table-hover table-striped tablesorter">
			<thead>
         <tr>
           <th class="col-lg-12">Nombre Item</th>
         </tr>
      </thead>
			<tbody>
				<tbody>
          <tr>
            <td>Proyectos en estado creado</td>
						<td><%= check_box_tag 'item_ids[]', 1 %></td>
          </tr>
          <tr>
						<td>Proyectos en estado cancelado</td>
						<td><%= check_box_tag 'item_ids[]', 2 %></td>
          </tr>
          <tr>
          	<td>Proyectos en estado en ejecución</td>
						<td><%= check_box_tag 'item_ids[]', 3 %></td>
          </tr>
          <tr>
            <td>Proyectos en estado terminado</td>
						<td><%= check_box_tag 'item_ids[]', 4 %></td>
          </tr>
          <tr>
            <td>Proyectos en estado suspendido</td>
						<td><%= check_box_tag 'item_ids[]', 5 %></td>
          </tr>
          <tr>
            <td>Cantidad de actividades por proyecto en estado Creada</td>
						<td><%= check_box_tag 'item_ids[]', 6 %></td>
          </tr>
          <tr>
            <td>Cantidad de actividades por proyecto en estado Planificada</td>
						<td><%= check_box_tag 'item_ids[]', 7 %></td>
          </tr>
          <tr>
            <td>Cantidad de actividades por proyecto en estado Terminada</td>
						<td><%= check_box_tag 'item_ids[]', 8 %></td>
          </tr>
          <tr>
            <td>Cantidad de actividades por proyecto en estado Cancelada</td>
						<td><%= check_box_tag 'item_ids[]', 9 %></td>
          </tr>
          <tr>
            <td>Cantidad de actividades por proyecto en estado En Ejecución</td>
						<td><%= check_box_tag 'item_ids[]', 10 %></td>
          </tr>
          <tr>
            <td>Cantidad de voluntarios por proyecto en estado suspendido</td>
						<td><%= check_box_tag 'item_ids[]', 11 %></td>
          </tr>
          <tr>
            <td>Cantidad de voluntarios por proyecto en estado activo</td>
						<td><%= check_box_tag 'item_ids[]', 12 %></td>
          </tr>
          <tr>
            <td>Cantidad de presupuesto de cada proyecto</td>
						<td><%= check_box_tag 'item_ids[]', 13 %></td>
          </tr>
          <tr>
            <td>Cantidad de horas efectivas realizadas de voluntariado por proyecto</td>
						<td><%= check_box_tag 'item_ids[]', 14 %></td>
          </tr>
          <tr>
            <td>Cantidad de horas efectivas realizadas según tipo de actividad</td>
						<td><%= check_box_tag 'item_ids[]', 15 %></td>
          </tr>
          <tr>
            <td>Cantidad de horas efectivas realizadas por proyecto según tipo de actividad</td>
						<td><%= check_box_tag 'item_ids[]', 16 %></td>
          </tr>
			</tbody>
 		</table>
	</div>
</div>
<% end %>
