<%= form_for @usuario, :html => { :multipart => true } do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombreUsuario %><br>
    <%= f.text_field :nombreUsuario %>
  </div>
  <div class="field">
    <%= f.label :contrasenia %><br>
    <%= f.text_field :contrasenia %>
  </div>
  <div class="field">
    <%= f.label :apellidoNombre %><br>
    <%= f.text_field :apellidoNombre %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :direccion %><br>
    <%= f.text_field :direccion %>
  </div>
  <div class="field">
    <%= f.label :fechaRegistro %><br>
    <%= f.datetime_select :fechaRegistro %>
  </div>
  <div class="field">
    <%= f.label :foto %><br>
    <%= f.file_field :foto%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
