<h2>Lista de Usuarios</h2>
<ol class="breadcrumb">
	<%= link_to "Volver Atras", :back %>
 </ol>

<table class="table table-hover table-striped tablesorter">
  <thead>
    <tr>
      <th>Foto</th>
      <th>Nombre de Usuario</th>
      <th>Apellido, Nombre</th>
      <th>Email</th>
      <th>Direccion</th>
      <th>Fecha de Registro</th>
      <th>Fecha de Actualización</th>
    </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |usuario| %>
      <td><%= image_tag usuario.foto.url(:thumb) %></td>
        <td><%= usuario.nombreUsuario %></td>
        <td><%= usuario.apellido_nombre %></td>
        <td><%= usuario.email %></td>
        <td><%= usuario.direccion %></td>
        <td><%= l usuario.created_at %></td>
        <td><%= l usuario.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>


