<h1>Lista de Usuarios</h1>

<table>
  <thead>
    <tr>
      <th>Foto</th>
      <th>Nombre de Usuario   </th>
      <th>Contraseña   </th>
      <th>Apellido y Nombre   </th>
      <th>Email   </th>
      <th>Direccion  </th>
      <th>Fecharegistro</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |usuario| %>
      <!-- TODO: redimensionar imagen -->
      <td><%= image_tag usuario.foto.url(:thumb) %></td>
        <td><%= usuario.nombreUsuario %></td>
        <td><%= usuario.encrypted_password %></td>
        <td><%= usuario.apellido_nombre %></td>
        <td><%= usuario.email %></td>
        <td><%= usuario.direccion %></td>
        <td><%= usuario.created_at %></td>
        <td><%= link_to 'Ver', usuario %></td>
        <td><%= link_to 'Editar', edit_usuario_path(usuario) %></td>
        <td><%= link_to 'Borrar', usuario, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Usuario', new_usuario_path %>
