<h1>Listing usuarios</h1>

<table>
  <thead>
    <tr>
      <th>Foto</th>
      <th>Nombreusuario</th>
      <th>Contrasenia</th>
      <th>Apellidonombre</th>
      <th>Email</th>
      <th>Direccion</th>
      <th>Fecharegistro</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |usuario| %>
      <!-- TODO: redimensionar imagen -->
      <td><%= image_tag usuario.foto.url(:thumb) %></td>
        <td><%= usuario.nombreUsuario %></td>
        <td><%= usuario.contrasenia %></td>
        <td><%= usuario.apellido_nombre %></td>
        <td><%= usuario.email %></td>
        <td><%= usuario.direccion %></td>
        <td><%= usuario.fechaRegistro %></td>
        <td><%= link_to 'Show', usuario %></td>
        <td><%= link_to 'Edit', edit_usuario_path(usuario) %></td>
        <td><%= link_to 'Destroy', usuario, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Usuario', new_usuario_path %>
