<p id="notice"><%= notice %></p>

<p>
  <!-- Foto -->
  <%= image_tag @usuario.foto.url %>
</p>
<p>
  <strong>Nombre de usuario:</strong>
  <%= @usuario.nombreUsuario %>
</p>

<p>
  <strong>Contrasenia:</strong>
  <%= @usuario.password %>
</p>

<p>
  <strong>Apellido y nombre:</strong>
  <%= @usuario.apellido_nombre %>
</p>

<p>
  <strong>Email:</strong>
  <%= @usuario.email %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @usuario.direccion %>
</p>

<p>
  <strong>Fecha registro:</strong>
  <%= @usuario.created_at %>
</p>

<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
