<p id="notice"><%= notice %></p>

<p>
  <!-- Foto -->
  <%= image_tag @usuario.foto.url %>
</p>
<p>
  <strong>Nombre de usuario: </strong>
  <%= @usuario.nombreUsuario %>
</p>

<p>
  <strong>Contraseña: </strong>
  <%= @usuario.encrypted_password %>
</p>

<p>
  <strong>Apellido, Nombre: </strong>
  <%= @usuario.apellido_nombre %>
</p>

<p>
  <strong>Email: </strong>
  <%= @usuario.email %>
</p>

<p>
  <strong>Direccion: </strong>
  <%= @usuario.direccion %>
</p>

<p>
  <strong>Fecha registro: </strong>
  <%= @usuario.created_at %>
</p>

<%= link_to 'Editar', edit_usuario_path(@usuario) %> |
<%= link_to 'Volver', control_usuario_path %>
