<%= form_for [@voluntario, @horario_disponibl] do |f| %>
  <% if @horario_disponibl.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@horario_disponibl.errors.count, "error") %> prohibited this horario_disponibl from being saved:</h2>

      <ul>
      <% @horario_disponibl.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :diaSemana %><br>
    <%= f.text_field :diaSemana %>
  </div>
  <div class="field">
    <%= f.label :horaDesde %><br>
    <%= f.time_select :horaDesde %>
  </div>
  <div class="field">
    <%= f.label :horaHasta %><br>
    <%= f.time_select :horaHasta %>
    
  </div>
    <div class="field">
    <%= f.label @voluntario.id %><br>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
