<%= form_for ([@voluntario, @horario_disponible]) do |f| %>
  <% if @horario_disponible.errors.any? %>
    
    <div id="error_explanation">
      <h2><%= pluralize(@horario_disponible.errors.count, "error") %> prohibited this horario_disponibl from being saved:</h2>
      <ul>
      <% @horario_disponible.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="well">
  <div class="field">
    <%= f.label :diaSemana %><br>
    <%= f.select :diaSemana, [['Domingo', 0], ['Lunes', 1], ['Martes', 2], ['Miercoles', 3], ['Jueves', 4], ['Viernes', 5], ['Sabado', 6]] %>
    </div> 
  <div class="field">
    <%= f.label :horaDesde %><br>
    <%= f.time_select :horaDesde %>
  </div>
  <div class="field">
    <%= f.label :horaHasta %><br>
    <%= f.time_select :horaHasta %>
    
  </div>
    <%#= f.label @voluntario.id %><br>
    <div class="field">
   <%#= f.label :voluntario_id %>
 
    <%=f.hidden_field :voluntario_id, :value =>@voluntario.id %>


 </div>
    
  
  <div class="actions">
    <%= f.submit %>
  </div>
  
  <label>Horarios Ya creados </label>
   </div>
<% end %>
