<h1>Lista de Horarios Disponibles</h1>

<table>
  <thead>
    <tr>
      <th>Diasemana</th>
      <th>Horadesde</th>
      <th>Horahasta</th>
      <th>Voluntario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  
    <% @horario_disponibles.each do |horario_disponibl| %>
      <tr>
        <td><%= horario_disponibl.diaSemana %></td>
        <td><%= horario_disponibl.horaDesde %></td>
        <td><%= horario_disponibl.horaHasta %></td>
        <td><%= horario_disponibl.voluntario %></td>
        <td><%= link_to 'Ver', horario_disponibl %></td>
        <td><%= link_to 'Editar', edit_horario_disponible_path(horario_disponibl) %></td>
        <td><%= link_to 'Borrar', horario_disponibl, method: :delete, data: { confirm: 'Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'Agregar Horario disponible', new_voluntario_horario_disponible_path(:voluntario_id => @voluntario.id) %>
