<h1>Listing horario_disponibles</h1>

<table>
  <thead>
    <tr>
      <th>Diasemana</th>
      <th>Horadesde</th>
      <th>Horahasta</th>
      <th>Voluntario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  
    <% @horario_disponibles.each do |horario_disponibl| %>
      <tr>
        <td><%= horario_disponibl.diaSemana %></td>
        <td><%= horario_disponibl.horaDesde %></td>
        <td><%= horario_disponibl.horaHasta %></td>
        <td><%= horario_disponibl.voluntario %></td>
        <td><%= link_to 'Show', horario_disponibl %></td>
        <td><%= link_to 'Edit', edit_horario_disponibl_path(horario_disponibl) %></td>
        <td><%= link_to 'Destroy', horario_disponibl, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Horario disponible',   new_voluntario_horario_disponibl_path(@voluntario) %>
