<p id="notice"><%= notice %></p>

<p>
  <strong>Diasemana:</strong>
  <%= @horario_disponible.diaSemana %>
</p>

<p>
  <strong>Horadesde:</strong>
  <%= @horario_disponible.horaDesde %>
</p>

<p>
  <strong>Horahasta:</strong>
  <%= @horario_disponible.horaHasta %>
</p>

<p>
  <strong>Voluntario:</strong>
  <%= @horario_disponible.voluntario %>
</p>

<%= link_to 'Edit', edit_horario_disponible_path(@horario_disponible) %> |
<%= link_to 'Back', horario_disponibles_path %>
