<%= form_for(@estado_presupuesto) do |f| %>
  <% if @estado_presupuesto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@estado_presupuesto.errors.count, "error") %> prohibited this estado_presupuesto from being saved:</h2>

      <ul>
      <% @estado_presupuesto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
