<h1>Editando Estado Proyecto</h1>

<%= simple_form_for(@historial_estado_proyecto) do |f| %>
  <% if @historial_estado_proyecto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@historial_estado_proyecto.errors.count, "error") %> prohibited this historial_estado_proyecto from being saved:</h2>

      <ul>
      <% @historial_estado_proyecto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if @estados_posibles != [] %>
  <%= f.input :estado_proyecto_id, collection: @estados_posibles, :label => 'Estados', :include_blank => false %>
        <div class="modal-footer">
  <%= f.button :submit, :class => 'btn btn-primary', :value => 'Confirmar' %><br>
        </div>

  <% else %>
	  No se puede modificar el estado.
  <% end %>

   	<%= f.input :proyecto_id,:as => :hidden, input_html: {value: params[:proyecto_id]} %>

	<% end %>
<%= link_to 'Atrás', historial_estado_proyectos_path(:proyecto_id => @historial_estado_proyecto.proyecto.id) %>
