<p id="notice"><%= notice %></p>

<p>
  <strong>Fechacambioestado:</strong>
  <%= @historial_estado_proyecto.fechaCambioEstado %>
</p>

<p>
  <strong>Esactual:</strong>
  <%= @historial_estado_proyecto.esActual %>
</p>

<p>
  <strong>Estado proyecto:</strong>
  <%= @historial_estado_proyecto.estado_proyecto %>
</p>

<p>
  <strong>Proyecto:</strong>
  <%= @historial_estado_proyecto.proyecto %>
</p>

<%= link_to 'Editar', edit_historial_estado_proyecto_path(@historial_estado_proyecto) %> |
<%= link_to 'Atrás', historial_estado_proyectos_path %>
