<!----->
<div class="col-lg-12">
  <h2>Lista de Asignaciones de Privilegios a Rol</h2>
  <div class="table-responsive  col-lg-12">
    <table class="table table-hover table-striped tablesorter">
			<thead>
    		<tr>
      		<th>Fecha</th>
      		<th>Es Actual</th>
					<th>Rol</th>
					<th>Privilegio</th>
    		</tr>
  		</thead>
  <tbody>
    <% @asignacion_rol_predefinidos.each do |asignacion_rol_predefinido| %>
      <tr>
        <td><%= asignacion_rol_predefinido.created_at %></td>
        <td><%= asignacion_rol_predefinido.esActual %></td>
				<td><%= Rol.find(asignacion_rol_predefinido.rol).nombre %></td>
        <td><%= Privilegio.find(asignacion_rol_predefinido.privilegio).nombre %></td>
        <td><%= link_to 'Editar', edit_asignacion_rol_predefinido_path(asignacion_rol_predefinido) %></td>
        <td><%= link_to 'Eliminar', asignacion_rol_predefinido, method: :delete, data: { confirm: 'Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  </div>
</div>

