<p id="notice"><%= notice %></p>

<p>
  <strong>Fechaasignacion:</strong>
  <%= @asignacion_rol_predefinido.fechaAsignacion %>
</p>

<p>
  <strong>Esactual:</strong>
  <%= @asignacion_rol_predefinido.esActual %>
</p>

<p>
  <strong>Privilegio:</strong>
  <%= @asignacion_rol_predefinido.privilegio %>
</p>

<p>
  <strong>Rol:</strong>
  <%= @asignacion_rol_predefinido.rol %>
</p>

<%= link_to 'Edit', edit_asignacion_rol_predefinido_path(@asignacion_rol_predefinido) %> |
<%= link_to 'Back', asignacion_rol_predefinidos_path %>
