<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha Asignacion:</strong>
  <%= @asignacion_rol_predefinido.created_at %>
</p>

<p>
  <strong>Es actual:</strong>
  <%= @asignacion_rol_predefinido.esActual %>
</p>

<p>
  <strong>Privilegio:</strong>
	
  <%= Privilegio.find(@asignacion_rol_predefinido.privilegio).nombre %>
</p>

<p>
  <strong>Rol:</strong>
  <%= Rol.find(@asignacion_rol_predefinido.rol).nombre %>
</p>

<%= link_to 'Editar', edit_asignacion_rol_predefinido_path(@asignacion_rol_predefinido) %> |
<%= link_to 'Volver', asignacion_rol_predefinidos_path %>
