<%= simple_form_for([@presupuesto, @detalle_presupuesto],
    wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  }) do |f| %>
  <% if @detalle_presupuesto.errors.any? %>
    <div class="col-lg-12" align="center">
    <div id="error_explanation">
      <h2><%= pluralize(@detalle_presupuesto.errors.count, "Error") %> en la creacion del detalle:</h2>
      <ul>
      <% @detalle_presupuesto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  </div>
  <% end %>
  <div class="row" align="center">
    <div class="col-lg-3" align="center"></div>
    <div class="col-lg-6" align="center">
       <div class="form-inputs">
         
         <%= f.input :titulo, :label => 'Título del gasto presupuestado', :placeholder => 'Título del gasto...' %>
      
         <br></br>
         <label> Concepto o Rubro </label>
         <%= f.collection_select(:concepto_gasto_id, @concepto_gastos, :id, :titulo, {prompt: "Concepto..."}, {class: "form-control"}) %>
         <%#= f.collection_select(:detalle_presupuesto, :concepto_gasto_id, Concepto_gasto.all, :id, :titulo, prompt: true) %>
         <%#= f.input :concepto_gasto_id, collection: @concepto_gastos, :label => 'Concepto o rubro' %>
         
         <br></br>
         
         <%= f.input :descripcion,:as => :text, :input_html => {:rows => 6}, :label => 'Breve Descripción', :placeholder => 'Descripción del gasto...'  %>   
         
         <br></br>
         
         <%= f.input :monto, wrapper: :horizontal_input_group do %>
           <span class="input-group-addon">$</span>
           <%= f.input_field :monto, class: "form-control" %>
         <% end %>      
         <br></br>
       </div>
     </div>
   </div>
   
   <div align="center">
     <%= f.button :submit, :class => 'btn btn-primary btn-lg center', :value => 'Confirmar' %>
   </div>

<% end %>
