<%= simple_form_for(@asignacion_actividad) do |f| %>
  <% if @asignacion_actividad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@asignacion_actividad.errors.count, "error") %> prohibited this asignacion_actividad from being saved:</h2>

      <ul>
      <% @asignacion_actividad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :actividad_id ,:as => :hidden, input_html: {value: @actividad.id}  %>

<div class="form-group input-group">
                <span class="input-group-addon">@</span>              
   <%= f.input :usuario, as: :autocomplete, label: false, url: usuarios_proyecto_path, input_html: { autofocus: true  }  %>
   </div>
   
 <div class="modal-footer">
	 <%= f.button :submit, :class => 'btn btn-primary', :value => 'Confirmar' %>
 </div>

<% end %>
