<h1>Listing asignacion_actividades</h1>

<table>
  <thead>
    <tr>
      <th>Vigente</th>
      <th>Fechaasignacion</th>
      <th>Actividad</th>
      <th>Usuario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @asignacion_actividades.each do |asignacion_actividad| %>
      <tr>
        <td><%= asignacion_actividad.vigente %></td>
        <td><%= asignacion_actividad.fechaAsignacion %></td>
        <td><%= asignacion_actividad.actividad %></td>
        <td><%= asignacion_actividad.usuario %></td>
        <td><%= link_to 'Show', asignacion_actividad %></td>
        <td><%= link_to 'Edit', edit_asignacion_actividad_path(asignacion_actividad) %></td>
        <td><%= link_to 'Destroy', asignacion_actividad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Asignacion actividad', new_asignacion_actividad_path %>
