<h1>Lista Recursos Asignados a la Actividad</h1>
<p id="notice"><%= notice %></p>

         <table class="table table-hover table-striped tablesorter">
                <thead>
                  <tr>
                    <th class="col-lg-3">Apellido y Nombre</th>
                    <th class="col-lg-3">Fecha Asignación </th>
                    <th class="col-lg-3">Vigente</th>
                    <th class="col-lg-3">Acciones</th>
                    <th class="col-lg-3"></th>
                    <th></th>
                  </tr>
                </thead>

                <tbody>           
                    <% @asignacion_actividades.each do |asignacion| %>
                    <tr>
                        <td><%= asignacion.usuario %></td>
                        <td><%= asignacion.created_at.to_formatted_s(:long_ordinal)%></td>
                        <td><%= asignacion.es_vigente %></td>
                         <td><%= link_to 'Dar Baja', asignacion_actividad_dar_baja_path(:id => asignacion.id), data: {confirm: 'Seguro?'} %> | 
                        <%= link_to 'Borrar', asignacion, method: :delete, data: { confirm: 'Seguro?' } %> </td>
                        <td>
                        </td>
                        <td>
                             <i class="fa fa-minus"></i>
		    </tr>
		    </div>
                    <% end %>
 </tbody>
</table>
<% if @asignacion_actividades.empty? then %>
  <p>
    No se encuentra asignado ningun Usuario.
  </p>
<% end %>

<%= link_to '+', new_asignacion_actividad_path(:actividad_id => @actividad.id) , :class => "classbtn btn-primary btn-sm" %> | 
<%= link_to 'Atrás', @actividad %>
