<%= form_for [@voluntario, @nota] do |f| %>
  <% if @nota.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nota.errors.count, "error") %> prohibited this nota from being saved:</h2>

      <ul>
      <% @nota.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo %><br>
    <%= f.text_field :titulo %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_area :descripcion %>
  </div>
  <div class="field">
  	<% if @voluntario.nil? then %>
      <%#= f.label :voluntario_id %><br>
    <%= f.text_field :voluntario_id %>
    <% else %>
       <%= f.hidden_field :voluntario_id, :value => @voluntario.id %>
 	<%end%>
  </div>
  <div class="field">
    <%= f.label :usuario_id %><br>
    <%= f.text_field :usuario_id %>
  
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
