<%= simple_form_for([@voluntario, @nota],
    wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  }) do |f| %>
  <% if  @nota.errors.any? %>
    <div class="col-lg-12">
      <div class="col-lg-3"></div>
        <div id="error_explanation" class="col-lg-6">
          <div class="alert alert-danger">
            <a class="close" data-dismiss="alert">x</a>
            <strong><%= pluralize(@nota.errors.count, "Error") %> en la creacion de la Nota:</strong>
            <ul>
              <% @nota.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="row" align="center">
    <div class="col-lg-3" align="center"></div>
    <div class="col-lg-6" align="center">
      <div class="form-inputs">
        <%= f.input :titulo, :label => 'Título del concepto', :placeholder => 'Título...' %>
         <br></br>
         
         <%= f.input :descripcion,:as => :text, :input_html => {:rows => 6}, :label => 'Breve Descripción', :placeholder => 'Descripción del concepto...'  %>   
         
         <br></br>

<!--<div class="well">
  <div class="field">
    <%#= f.label :titulo %><br>
    <%#= f.text_field :titulo %>
  </div>
  <div class="field">
    <%#= f.label :descripcion %><br>
    <%#= f.text_area :descripcion , :cols => 50, :rows => 10  %>
  </div>-->
  <div class="field">
  	<% if @voluntario.nil? then %>
      <%#= f.label :voluntario_id %><br>
    <%= f.text_field :voluntario_id %>
    <% else %>
       <%= f.hidden_field :voluntario_id, :value => @voluntario.id %>
 	<%end%>
  </div>
   
  <!-- <div class="field">
    <%#= f.label :usuario_id %><br>
   <%#= f.collection_select(:usuario_id , @usuario, :id,:nombreUsuario,{prompt: "Usuario..." }, {class:"form-control"}) %>
 </div>-->
  <strong> Usuario </strong>
   <%= f.input :usuario, as: :autocomplete, label: false, url: usuarios_path, input_html: { autofocus: true  }  %>
  <!--<div class="field">
    <%#= f.label :usuario_id %><br>
    <%#= f.text_field :usuario_id %>
  </div>-->
  </br>
     <div class="actions">
     <%= f.button :submit, :class => 'btn btn-primary btn-lg center', :value => 'Confirmar' %>
    <%#= f.submit %>
  </div>
 
<!--  <div class="actions">
    <%#= f.submit %>
  </div>-->
<% end %>
 </div>
