<h1>Listing notas</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Descripcion</th>
      <th>Fechacreacion</th>
      <th>Voluntario</th>
      <th>Usuario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notas.each do |nota| %>
      <tr>
        <td><%= nota.titulo %></td>
        <td><%= nota.descripcion %></td>
        <td><%= nota.fechaCreacion %></td>
        <td><%= nota.voluntario %></td>
        <td><%= nota.usuario %></td>
        <td><%= link_to 'Show', nota %></td>
        <td><%= link_to 'Edit', edit_nota_path(nota) %></td>
        <td><%= link_to 'Destroy', nota, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nota', new_nota_path %>
