<%= simple_form_for(@actividad , html: actividad_form_html_options, wrapper_mappings: {checkboxes: :horizontal_radio_and_checkboxes, boolean: :horizontal_boolean}) do |f| %>
  <% if @actividad.errors.any? %>
    <div class="col-lg-12">
      <div class="col-lg-4"></div>
        <div id="error_explanation" class="col-lg-4">
          <div class="alert alert-danger">
            <a class="close" data-dismiss="alert">x</a>      
            <strong><%= pluralize(@actividad.errors.count, "Error") %> en la creacion de la actividad:</strong>
            <ul>
              <% @actividad.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
  <% end %>

<div class="row">
<div class="col-lg-6">
          
          
                <label><h3>Titulo de la Actividad</h3></label></br>
                <%= f.input :nombre %>
                
            
                </br>
		<%= f.input :repetitiva, inline_label: "Repetitiva", label: false, :as => :boolean , :input_html => {:style => "width: 10%; height: 25px" } %>
    </br>

		<%= f.input :frecuencia, :as => :radio_buttons, :input_html => {:style => "width: 10%; height: 25px", :class => "radio-inline"}, :item_wrapper_class => 'inline', :collection => [['Por Semana', 'Por Semana'], ['Por Mes','Por Mes']] %>

          
                <label><h3>Descripción</h3>
                </label>
                <%= f.input :descripcion, :as => :text, :input_html => {:rows => 10}, label: false %>
          
          

                <label><h3>Resultados Esperados</h3>
                </label>
                <%= f.input :resultadosEsperados, :as => :text, :input_html => {:rows => 10}, label: false %>


                <label><h3>Metodologías de Intervención</h3>
                </label>
                <%= f.input :metodologiasIntervencion, :as => :text, :input_html => {:rows => 10}, label: false %>
     
				<label><h3>Estrategias de Intervención</h3>
                </label>
                <%= f.input :estrategiasIntervencion, :as => :text, :input_html => {:rows => 10}, label: false %>        

 

	 </div>



<div class="col-lg-6">
		
         <div class="form-group">
                <label><h3>Planificación</h3></label>  
         </div>
         
         <div class="row">
         
	<div class="col-lg-6">
                        <div class="form-group">
                        
                                <label><h5>Fecha Estimada</h5></label> 

                                <%= f.input :fechaEstimadaInicio, label: false,  :as => :date %>


                                <label><h5>Duración Estimada</h5></label>
                                <%= f.input :duracion, label: false %>
                        </div>
	</div>
            
            
            <div class="col-lg-6">
          	<div class="form-group">
            <h4>Repetitiva</h4>
            
            
            
          <label><h5>Día de la Semana</h5></label> 


	  <%= f.input :dia_semana, :collection => [['Lunes',1],['Martes',2],['Miércoles',3],['Jueves',4],['Viernes',5],['Sábado',6],['Domingo',7]]  %>

            </div>
</div>
            
            
            
            
            </div>
            


    	<h3>Tipo de Actividad</h3>

                    <%= f.input :tipo_actividad_id, collection: @tipoActividades, label: false %>

    <h2>Cargar Planificación Real</h2>
   
    
    	<label><h5>Fecha Real</h5></label>
    	<%= f.input :fechaRealInicio, label: false,  :as => :date %>

		  <label><h5>Duración Real</h5></label>
	<%= f.input :duracionReal, label: false %>
	
	
	
          
                <label><h3>Mecanismo de Evaluación</h3>
                </label>
                <%= f.input :mecanismoEvaluacion, :as => :text, :input_html => {:rows => 10}, label: false %>         
          
		<% if params[:proyecto_id] %>
			<%= f.input :objetivo_especifico_id, :as => :hidden, input_html: {value: params[:objetivo_especifico_id]} %> 
			<%= f.input :proyecto_id,:as => :hidden, input_html: {value: params[:proyecto_id]} %>
		<% else %>
			<%= f.input :objetivo_especifico_id, :as => :hidden, input_html: {value: @actividad.objetivo_especifico.id } %> 
			<%= f.input :proyecto_id,:as => :hidden, input_html: {value: @actividad.proyecto.id } %>
		<% end %>
 </div>

</div>



        <div class="modal-footer">
          <%= f.button :submit, :class => 'btn btn-primary', :value => 'Confirmar' %>
        </div>


<% end %>


