<h1>Listing actividades</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Duracion</th>
      <th>Duracionreal</th>
      <th>Fechaestimadainicio</th>
      <th>Fecharealinicio</th>
      <th>Estrategiasintervencion</th>
      <th>Metodologiasintervencion</th>
      <th>Mecanismoevaluacion</th>
      <th>Resultadosesperados</th>
      <th>Objetivo especifico</th>
      <th>Proyecto</th>
      <th>Tipo actividad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @actividades.each do |actividad| %>
      <tr>
        <td><%= actividad.nombre %></td>
        <td><%= actividad.descripcion %></td>
        <td><%= actividad.duracion %></td>
        <td><%= actividad.duracionReal %></td>
        <td><%= actividad.fechaEstimadaInicio %></td>
        <td><%= actividad.fechaRealInicio %></td>
        <td><%= actividad.estrategiasIntervencion %></td>
        <td><%= actividad.metodologiasIntervencion %></td>
        <td><%= actividad.mecanismoEvaluacion %></td>
        <td><%= actividad.resultadosEsperados %></td>
        <td><%= actividad.objetivo_especifico %></td>
        <td><%= actividad.proyecto %></td>
        <td><%= actividad.tipo_actividad %></td>
        <td><%= link_to 'Show', actividad %></td>
        <td><%= link_to 'Edit', edit_actividad_path(actividad) %></td>
        <td><%= link_to 'Destroy', actividad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Actividad', new_actividad_path %>
