<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @actividad.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @actividad.descripcion %>
</p>

<p>
  <strong>Duracion:</strong>
  <%= @actividad.duracion %>
</p>

<p>
  <strong>Duracionreal:</strong>
  <%= @actividad.duracionReal %>
</p>

<p>
  <strong>Fechaestimadainicio:</strong>
  <%= @actividad.fechaEstimadaInicio %>
</p>

<p>
  <strong>Fecharealinicio:</strong>
  <%= @actividad.fechaRealInicio %>
</p>

<p>
  <strong>Estrategiasintervencion:</strong>
  <%= @actividad.estrategiasIntervencion %>
</p>

<p>
  <strong>Metodologiasintervencion:</strong>
  <%= @actividad.metodologiasIntervencion %>
</p>

<p>
  <strong>Mecanismoevaluacion:</strong>
  <%= @actividad.mecanismoEvaluacion %>
</p>

<p>
  <strong>Resultadosesperados:</strong>
  <%= @actividad.resultadosEsperados %>
</p>

<p>
  <strong>Objetivo especifico:</strong>
  <%= @actividad.objetivo_especifico %>
</p>

<p>
  <strong>Proyecto:</strong>
  <%= @actividad.proyecto %>
</p>

<p>
  <strong>Tipo actividad:</strong>
  <%= @actividad.tipo_actividad %>
</p>
<p>
  <strong>Estado Actividad:</strong>
  <%= @actividad.historial_estado_actividades.last.estado_actividad %>
</p>

<%= link_to 'Edit', edit_actividad_path(@actividad) %> |
<%= link_to 'Ver Historial', historial_estado_actividades_path(:actividad_id => @actividad.id)%> |
<%= link_to 'Back', @actividad.objetivo_especifico %>
