<p id="notice"><%= notice %></p>

  <div class="row">

    <div class="col-lg-6">


      <p>
      <strong>Título de la Actividad</strong>:</br>
        <%= @actividad.nombre%>
      </p>
      <p>
          <strong>Breve Descripción</strong>:</br>
          <%= @actividad.descripcion  %>
      </p>
      <p>
          <br><strong>Fecha Estimada Inicio</strong>:</br>
          <%= @actividad.fechaEstimadaInicio%>
      </p>
      <p>
          <strong>Duración Estimada</strong>:</br>
          <%= @actividad.duracion %>
      </p>
      <p>
          <strong>Repetitiva</strong>:</br>
          <%= @actividad.es_repetitiva %>
      </p>
      <p>
          <strong>Frecuencia de Repetición</strong>:</br>
          <%= @actividad.frecuencia %>
      </p>
      <p>
          <strong>Día de la Semana</strong>:</br>
          <%= @actividad.dia_semana %>
      </p>


    </div> 
   

    <div class="col-lg-6">

          <p> 
            <strong>Duración Real</strong>:</br>
            <%=  @actividad.duracionReal %>
          </p>
          <p>
            <strong>Fecha Inicio Real</strong>:</br>
            <%= @actividad.fechaRealInicio %>
          </p>
          <p>
            <strong>Estrategia Intervención</strong>:</br>
            <%= @actividad.estrategiasIntervencion %>
          </p>
          <p>
            <strong>Metodologías Intervención</strong>:</br>
            <%= @actividad.metodologiasIntervencion %>
          </p>
          <p>
            <strong>Mecanismos de Evaluación</strong>:</br>
            <%= @actividad.mecanismoEvaluacion %>
          </p>
          <p>
            <strong>Resultados Esperados</strong>:</br>
            <%= @actividad.mecanismoEvaluacion %> 
          </p>
          <p>
            <strong>Justificación del Impacto</strong>:</br>
            <%= @proyecto.justificacionImpacto %>
          </p>
          <p>
	  <strong>Tipo de Actividad</strong>:</br>
	  <% if !@actividad.tipo_actividad.blank? %>
		  <%= @actividad.tipo_actividad %>
	  <% else %>
		   "No se ha seleccionado ningun Tipo de Actividad"
	  <% end %>
          </p>
          <p>
            <strong>Estado Actividad</strong>:</br>
            <%= @actividad.historial_estado_actividades.last.estado_actividad %>
          </p>
    </div>
  </div><!-- /.row -->
<div class="modal-footer">
</div>







<%= link_to 'Editar', edit_actividad_path(@actividad) %> |
<%= link_to 'Agregar Requisitos', new_requisito_path(:actividad_id => @actividad.id) %> |
<%= link_to 'Ver Historial', historial_estado_actividades_path(:actividad_id => @actividad.id)%> |
<%= link_to 'Asignación de Recursos', asignacion_actividades_path(:actividad_id => @actividad.id)%> |
<%= link_to 'Ver Reportes', reportes_path(:actividad_id => @actividad.id)%> |
<%= link_to 'Atrás', @actividad.objetivo_especifico %>


