<p id="notice"><%= notice %></p>

  <div class="row">

    <div class="col-lg-6">


      <div>
        <strong>Título de la Actividad</strong>:</br>
        <%= @actividad.nombre%>
      </div>
      <div class="modal-footer">
      </div>
      <div style="overflow-wrap: break-word;">
          <strong>Breve Descripción</strong>:</br>
          <%= @actividad.descripcion %>
      </div>
      <div class="modal-footer">
      </div>
      <div class="row">
        <div class="col-lg-4">
        <div>
            <strong>Repetitiva</strong>:</br>
            <%= @actividad.es_repetitiva %>
        </div>
        
        </div>
        <div class="col-lg-4">
        <div>
            <strong>Frecuencia de Repetición</strong>:</br>
            <%= @actividad.frecuencia %>
        </div>
        </div>
        <div class="col-lg-4">
          <div>
              <strong>Día de la Semana</strong>:</br>
              <%= @actividad.dia_semana %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
      </div>
      <div style="overflow-wrap: break-word;">
        <strong>Mecanismos de Evaluación</strong>:</br>
        <%= @actividad.mecanismoEvaluacion %>
      </div>
      <div class="modal-footer">
      </div>
      <div style="overflow-wrap: break-word;">
        <strong>Resultados Esperados</strong>:</br>
        <%= @actividad.mecanismoEvaluacion %> 
      </div>
      <div class="modal-footer">
      </div>
      <div style="overflow-wrap: break-word;">
        <strong>Justificación del Impacto</strong>:</br>
        <%= @proyecto.justificacionImpacto %>
      </div>

    </div> 
   

    <div class="col-lg-6">

        <div class="row">
          <div class="col-lg-6">
            <div>
                <strong>Fecha Estimada Inicio</strong>:</br>
                <%= @actividad.fechaEstimadaInicio%>
            </div>
          </div>
          <div class="col-lg-6">
              <div>
                  <strong>Duración Estimada</strong>:</br>
                  <%= @actividad.duracion %>
              </div>
          </div>
        </div>
          <div class="modal-footer">
          </div>
        <div class="row">
          <div class="col-lg-6">
            <div>
              <strong>Fecha Inicio Real</strong>:</br>
              <%= @actividad.fechaRealInicio %>
            </div>
          </div>
          <div> 
            <strong>Duración Real</strong>:</br>
            <%=  @actividad.duracionReal %>
          </div>
        </div>
          <div class="modal-footer">
          </div>
          
          
          <div style="overflow-wrap: break-word;">
            <strong>Estrategia Intervención</strong>:</br>
            <%= @actividad.estrategiasIntervencion %>
          </div>
          <div class="modal-footer">
          </div>
          <div style="overflow-wrap: break-word;">
            <strong>Metodologías Intervención</strong>:</br>
            <%= @actividad.metodologiasIntervencion %>
          </div>
          <div class="modal-footer">
          </div>
          
          <div>
        	  <strong>Tipo de Actividad</strong>:</br>
        	  <% if !@actividad.tipo_actividad.blank? %>
        		  <%= @actividad.tipo_actividad %>
        	  <% else %>
        		   "No se ha seleccionado ningun Tipo de Actividad"
        	  <% end %>
          </div>
          <div class="modal-footer">
          </div>
          <div>
            <strong>Estado Actividad</strong>:</br>
            <%= @actividad.historial_estado_actividades.last.estado_actividad %>
          </div>
    </div>
  </div><!-- /.row -->
<div class="modal-footer">
</div>







<%= link_to 'Editar', edit_actividad_path(@actividad) %> |
<%= link_to 'Agregar Requisitos', new_requisito_path(:actividad_id => @actividad.id) %> |
<%= link_to 'Ver Historial', historial_estado_actividades_path(:actividad_id => @actividad.id)%> |
<%= link_to 'Asignación de Recursos', asignacion_actividades_path(:actividad_id => @actividad.id)%> |
<%= link_to 'Ver Reportes', reportes_path(:actividad_id => @actividad.id)%> |
<%= link_to 'Atrás', @actividad.objetivo_especifico %>


