<%= form_for(@actividad_habilidad) do |f| %>
  <% if @actividad_habilidad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@actividad_habilidad.errors.count, "error") %> prohibited this actividad_habilidad from being saved:</h2>

      <ul>
      <% @actividad_habilidad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :actividad_id %><br>
    <%= f.text_field :actividad_id %>
  </div>
  <div class="field">
    <%= f.label :habilidad_id %><br>
    <%= f.text_field :habilidad_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
