<h1>Listing estado_proyectos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @estado_proyectos.each do |estado_proyecto| %>
      <tr>
        <td><%= estado_proyecto.nombre %></td>
        <td><%= link_to 'Ver', estado_proyecto %></td>
        <td><%= link_to 'Editar', edit_estado_proyecto_path(estado_proyecto) %></td>
        <td><%= link_to 'Borrar', estado_proyecto, method: :delete, data: { confirm: 'Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Estado proyecto', new_estado_proyecto_path %>
