<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= value %>
   </div>
<% end %>

<p>
  <strong>Nombre:</strong>
  <%= @estado_proyecto.nombre %>
</p>

<%= link_to 'Editar', edit_estado_proyecto_path(@estado_proyecto) %> |
<%= link_to 'Atrás', estado_proyectos_path %>
