
<%= form_for(@notificacion) do |f| %>
  <% if @notificacion.errors.any? %>
    <div class="col-lg-12">
      <div class="col-lg-4"></div>
        
          <div class="alert alert-danger col-lg-4">
            <a class="close" data-dismiss="alert">x</a>      
            <strong><%= pluralize(@notificacion.errors.count, "Error") %> en la creacion de la notificación:</strong>
            <ul>
              <% @notificacion.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        
      </div>
    </div>
  <% end %>


<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= value %>
   </div>
<% end %>

      

 <div class="row">
          <div class="col-lg-12">
            <h1>Generar Notificación <small>Creación de una notificación.</small></h1>
            <ol class="breadcrumb">
              <li><a href="/notificacion_sistemas"><i class="icon-dashboard"></i> Notificaciones</a></li>
              <li class="active"><i class="icon-file-alt"></i> Generar Notificación</li>
            </ol>
          </div>
        </div><!-- /.row -->

<p><br></br></p>
<div class="row">
          <div class="col-lg-12">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"> Crear Notificación</h3>
              </div>
              <div class="panel-body">
              	

                <h4>Método de Notificación</h4><br/>
<!--                <label class="radio inline">
                	<%#= f.input :type , :as => :radio_buttons, :collection => [['Email', 'NotificacionEmail'], ['Sistema', 'NotificacionSistema'], ['Ambos', 'Ambos']], label:"Tipo de envío:" %>
                </label>

<%= f.text_field :type  %><br/>-->
      <% if !params[:proyecto_id].blank? %>
        <% if !params[:proyecto_id].blank? && @proyecto.notificacion_predeterminadas.blank? %>

           <%=   radio_button("notificacion", "type", "NotificacionSistema", :checked => 'checked')%>
           <%= label_tag(:type, "Notificacion Sistema") %><br/>
					 <%=   radio_button("notificacion", "type", "NotificacionEmail")%>
					 <%= label_tag(:type, "Notificacion Email") %><br/>
					 <%=   radio_button("notificacion", "type", "Ambos")%>
					 <%= label_tag(:type, "Ambos") %><br/>
        <% else %>

           <% if @proyecto.notificacion_predeterminadas.where(tipo_notificacion_id: @sistema_notificacion_id).any? %>
             <%=   radio_button("notificacion", "type", "NotificacionSistema", :checked => 'checked')%>
             <%= label_tag(:type, "Notificacion Sistema") %><br/>
           <% end %>
           <% if @proyecto.notificacion_predeterminadas.where(tipo_notificacion_id: @email_notificacion_id).any? %>
             <%=   radio_button("notificacion", "type", "NotificacionEmail")%>
             <%= label_tag(:type, "Notificacion Email") %><br/>
           <% end %>
           <% if @proyecto.notificacion_predeterminadas.where(tipo_notificacion_id: @email_notificacion_id).any? && @proyecto.notificacion_predeterminadas.where(tipo_notificacion_id: @sistema_notificacion_id).any? %>
             <%=   radio_button("notificacion", "type", "Ambos")%>
             <%= label_tag(:type, "Ambos") %><br/>
           <% end %>

        <% end %>

      <% else %>
         <%=   radio_button("notificacion", "type", "NotificacionSistema", :checked => 'checked')%>
         <%= label_tag(:type, "Notificacion Sistema") %><br/>
         <%=   radio_button("notificacion", "type", "NotificacionEmail")%>
         <%= label_tag(:type, "Notificacion Email") %><br/>
         <%=   radio_button("notificacion", "type", "Ambos")%>
         <%= label_tag(:type, "Ambos") %><br/>

      <% end %>
    
              
                <h4>Destinatarios</h4>
                <div class="form-group input-group">

     <% if !params[:proyecto_id].blank? %>
           <%=  hidden_field_tag("notificacion[proyecto_id][]", params[:proyecto_id] ) %>
     <% elsif !params[:evento_publico_id].blank?%>
     		<%=  hidden_field_tag("notificacion[evento_publico_id][]", params[:evento_publico_id] ) %>
     <% end %>



			<%#= f.input :usuario_destino, as: :autocomplete, label: false, url: usuarios_path, input_html: { autofocus: true  }  %>
  
  			<% for usuario in @usuarios %>
  			<div>
  				<%#= check_box_tag "notificacion[usuario_destino_ids][]", usuario.id, @usuarios.include?(usuario) %>
  				<%#= usuario.apellido_nombre %>
          
  			</div>
            <% end %>
            <%= select_tag "notificacion[usuario_destino_id][]", options_for_select(@usuarios),{:class=>'multiselect-all',:multiple=>'multiple'}%>
  
			<%#= f.association :usuario_destino, :collection => Usuario.all, input_html: { class: 'multiselectuser'}, :label => false  %>
		<%#= collection_select(:usuario_destino, Usuario.all, :usuario_destino_id, {}, { :multiple => true } )%>
              	</div>
                
                
                <label>Descripción de la Notificación</label><br/>
                <%#= text_field :mensaje,:as => :text, :input_html => {:rows => 10}, :placeholder => 'descripción de la notificación...'  %>
                <%= f.text_area :mensaje, { :style => 'width: 100%; height: 155px' , :placeholder => 'descripción de la notificación...' } %>

              </div>
            </div>
          </div>
  </div>
            
  <div class="actions">
    <%= f.submit 'Confirmar',  :class => 'btn btn-primary' %>
  </div>
          <%#= f.button :submit, :class => 'btn btn-primary', :value => 'Confirmar' %>

  
<% end %>


<script type="text/javascript">
    
        $('#notificacion_usuario_destino_id_').multiselect();
    
</script>
