<%= simple_form_for(@notificacion) do |f| %>
  <% if @notificacion.errors.any? %>
    <div class="col-lg-12">
      <div class="col-lg-4"></div>
        <div id="error_explanation" class="col-lg-4">
          <div class="alert alert-danger">
            <a class="close" data-dismiss="alert">x</a>      
            <strong><%= pluralize(@notificacion.errors.count, "Error") %> en la creacion de la notificación:</strong>
            <ul>
              <% @notificacion.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <% end %>



   
      

 <div class="row">
          <div class="col-lg-12">
            <h1>Generar Notificación <small>Creación de una notificación.</small></h1>
            <ol class="breadcrumb">
              <li><a href="index.html"><i class="icon-dashboard"></i> Notificaciones</a></li>
              <li class="active"><i class="icon-file-alt"></i> Generar Notificación</li>
            </ol>
          </div>
        </div><!-- /.row -->

<p><br></br></p>
<div class="row">
          <div class="col-lg-12">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"> Crear Notificación</h3>
              </div>
              <div class="panel-body">
              	

                <label>Método de Notificación</label>
                <label class="radio inline">
                	<%= f.input :type , :as => :radio_buttons, :collection => [['Email', 'NotificacionEmail'], ['Sistema', 'NotificacionSistema'], ['Ambos', 'Ambos']], label:"Tipo de envío:" %>
                </label>

              
                <label>Destinatario</label>
                <div class="form-group input-group">
			<span class="input-group-addon">@</span>

			<%#= f.input :usuario_destino, as: :autocomplete, label: false, url: usuarios_path, input_html: { autofocus: true  }  %>

			<%= f.association :usuario_destino, :collection => Usuario.all, input_html: { class: 'multiselectuser'}, :label => false  %>
		<%#= collection_select(:usuario_destino, Usuario.all, :usuario_destino_id, {}, { :multiple => true } )%>
              	</div>
                
                
                <label>Descripción de la Notificación</label>
                <%= f.input :mensaje,:as => :text, :input_html => {:rows => 10}, :placeholder => 'descripción de la notificación...'  %>

              </div>
            </div>
          </div>
  </div>

          <%= f.button :submit, :class => 'btn btn-primary', :value => 'Confirmar' %>

  
<% end %>
