<h1>Listing notificaciones</h1>

<table>
  <thead>
    <tr>
      <th>Fechanotificacion</th>
      <th>Horanotificacion</th>
      <th>Esactiva</th>
      <th>Mensaje</th>
      <th>Notificado</th>
      <th>Usuariocreador</th>
      <th>Usuariodestino</th>
      <th>Evento publico</th>
      <th>Proyecto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notificaciones.each do |notificacion| %>
      <tr>
        <td><%= notificacion.fechaNotificacion %></td>
        <td><%= notificacion.horaNotificacion %></td>
        <td><%= notificacion.esActiva %></td>
        <td><%= notificacion.mensaje %></td>
        <td><%= notificacion.notificado %></td>
        <td><%= notificacion.usuarioCreador %></td>
        <td><%= notificacion.usuarioDestino %></td>
        <td><%= notificacion.evento_publico %></td>
        <td><%= notificacion.proyecto %></td>
        <td><%= link_to 'Ver', notificacion %></td>
        <td><%= link_to 'Editar', edit_notificacion_path(notificacion) %></td>
        <td><%= link_to 'Borrar', notificacion, method: :delete, data: { confirm: 'Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Notificacion', new_notificacion_path %>
