<h1>Listing concepto_gastos</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @concepto_gastos.each do |concepto_gasto| %>
      <tr>
        <td><%= concepto_gasto.titulo %></td>
        <td><%= concepto_gasto.descripcion %></td>
        <td><%= link_to 'Show', concepto_gasto %></td>
        <td><%= link_to 'Edit', edit_concepto_gasto_path(concepto_gasto) %></td>
        <td><%= link_to 'Destroy', concepto_gasto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Concepto gasto', new_concepto_gasto_path %>
