<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= value %>
   </div>
<% end %>

<p>
  <strong>Titulo:</strong>
  <%= @concepto_gasto.titulo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @concepto_gasto.descripcion %>
</p>

<%= link_to 'Editar', edit_concepto_gasto_path(@concepto_gasto) %> |
<%= link_to 'Atrás', concepto_gastos_path %>
