<!DOCTYPE html>
<html>
<head>
  <title>S.E.V.U</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'bootstrap' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


  <div id="wrapper">

          <!-- Sidebar -->
     <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Navegación</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
       <!--    <div class="container">   -->
          <div class="container">


                    <div class="navbar-header">
                      <a href="#" class="navbar-brand">  S.E.V.U </a>
                      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                       <!-- PUROS BOTONES VACIOS ASQUEROSOS -->
                    </div>
										 <% if controller_name != 'sessions' && controller_name != 'sessions' && controller_name != 'passwords' && controller_name != 'registrations' %>
                    <div class="navbar-header">
                      <a  class="navbar-brand">   </a>
                    </div>
                    <div class="navbar-header">
                      <a  class="navbar-brand">   </a>
                    </div>
                    <div class="navbar-header">
                      <a  class="navbar-brand">   </a>
                    </div>
                    <div class="navbar-header">
                      <a  class="navbar-brand">   </a>
                    </div>

  <!-- FIN DE LOS PUROS BOTONES VACIOS ASQUEROSOS -->


  <!---------------------------------------------
  <!---------- MENU SUPERIOR (quedaría así por ahora) NO CAMBIAR  -------------------
  <!---------------------------------------------
  <!---------------------------------------------
  <!---------------------------------------------
  <!------------------------>


                    <div class="navbar-collapse collapse" id="navbar-main">
                       <ul class="nav navbar-nav">
                         <li>
                            <%= link_to 'Proyectos', proyectos_path %>
                         </li>
                         <li>
                            <%= link_to 'Eventos Públicos', evento_publicos_path %>
                         </li>
                         <li>
                            <%= link_to 'Necesidades', necesidades_path %>
                         </li>
                         <li>
                            <%= link_to 'Voluntarios', voluntarios_path %>
                         </li>
                         <li>
                         <a href="../../seccion/reportes/vistaReporte.html">Reportes</a>
                         </li>
                         </ul>
                         <!--
  --->
  <!---------------------------------------------
  <!---------- NOTIFICACIONES -------------------
  <!---------------------------------------------
  <!---------------------------------------------
  <!---------------------------------------------
  <!------------------------>

                      <ul class="nav navbar-nav navbar-right">

                         <li class="dropdown messages-dropdown">
                           <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> Notificaciones <span class="badge">7</span> <b class="caret"></b></a>
                             <ul class="dropdown-menu">
                               <li class="dropdown-header">7 Notificaciones nuevas</li>
                               <li class="message-preview">
                               <a href="#">
                               <span class="avatar"></span>
                               <span class="name">Nombre Usuario:</span>
                               <span class="message">Descripción notificación...</span>
                               <span class="time"><i class="fa fa-clock-o"></i> 4:30 PM</span>
                               </a>
                               </li>
                               <li class="divider"></li>
                               <li class="message-preview">
                               <a href="#">
                               <span class="avatar"></span>
                               <span class="name">Nombre Usuario:</span>
                               <span class="message">Descripción notificación...</span>
                               <span class="time"><i class="fa fa-clock-o"></i> 4:34 PM</span>
                               </a>
                               </li>
                               <li class="divider"></li>
                               <li class="message-preview">
                               <a href="#">
                               <span class="avatar"></span>
                               <span class="name">Nombre Usuario:</span>
                               <span class="message">Descripción notificación...</span>
                               <span class="time"><i class="fa fa-clock-o"></i> 4:37 PM</span>
                               </a>
                               </li>
                               <li class="divider"></li>
                               <li><a href="#">Ver todo <span class="badge">7</span></a></li>
                             </ul>
                         </li>
                         <li>
                             <a href="http://bootswatch.com/help/">Ayuda</a>
                         </li>

                         <li class="dropdown user-dropdown">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Usuario <b class="caret"></b></a>
                             <ul class="dropdown-menu">
                              <li><a href="#"><i class="fa fa-user"></i> Perfil</a></li>
                              <li><a href="#"><i class="fa fa-gear"></i> Configuraciones</a></li>
                              <li class="divider"></li>
                              <li><a href="#"><i class="fa fa-power-off"></i> <%= link_to 'Desconectarse', destroy_usuario_session_path, method: :delete  %></a></li>
                             </ul>
                         </li>
                      </ul>
                    </div>
                           <!--    ACA     </div>    --->
          </div>           
        </div>
				<% end %>
<!---------------------------------------------
<!---------- MENU VERTICAL (Poner las opciones dentro de cada menu superior -------------------
<!---------------------------------------------
<!---------------------------------------------
<!---------------------------------------------
<!------------------------>
				
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <% case controller_name 
            when 'proyectos'%><%= render '/shared/menu_proyecto' %>
            <% when 'asignacion_roles' %><%= render '/shared/menu_proyecto' %>
            <% when 'necesidades' %><%= render '/shared/menu_necesidad' %>
	    <% when 'organizacion_externas' %><%= render '/shared/menu_organizacion_externa' %>
	    <% when 'objetivo_generales' %><%= render '/shared/menu_objetivos' %>
	    <% when 'objetivo_especificos' %><%= render '/shared/menu_objetivos' %>
	    <% when 'actividades' %><%= render '/shared/menu_objetivos' %>
            <% when 'postulaciones' %><%= render '/shared/menu_proyecto' %>
	    <% when 'transacciones' %><%= render '/shared/menu_transacciones' %>
	    <% when 'roles' %><%= render '/shared/menu_roles' %>
            <% when 'reportes' %><%= render '/shared/menu_reportes' %>
            <% when 'concepto_gastos'%><%= render '/shared/menu_concepto_gasto' %>
            <% when 'tipo_habilidades' %><%= render '/shared/menu_tipo_habilidad' %>
            <% when 'habilidades' %><%= render '/shared/menu_habilidad' %>
            <% when 'restricciones' %><%= render '/shared/menu_restriccion' %>
            <% when 'detalle_restricciones' %><%= render '/shared/menu_detalle_restriccion' %>
            <% when 'estado_presupuestos' %><%= render '/shared/menu_estado_presupuestos' %>
				 

          <% end %>
        </div><!-- /.navbar-collapse -->




        <!---------------------------------------------
        <!---------- FIN MENU VERTICAL -------------------
        <!---------------------------------------------
        <!---------------------------------------------
        <!---------------------------------------------
        <!------------------------>

      </nav>
      <div id="page-wrapper">

			 <p class="notice"><%= notice %></p><!--PARA DEVISE--->
       <font color="red"><p class="alert"><%= alert %></p></font> <!--PARA DEVISE--->
          <%= yield %>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         <!---------------------------------------------
          <!---------- FIN INICIO MARCO CENTRAL   -------------------
          !---------------------------------------------
          !---------------------------------------------
          !---------------------------------------------
          !------------------------>    

          <!---------------------------------------------
          !---------- MODIFICAR ABAJO los ../../   -------------------
          !---------------------------------------------
          !---------------------------------------------
          !---------------------------------------------
          !------------------------>  
       </div><!-- /#page-wrapper -->
  </div><!-- /#wrapper -->
  <!-- Modal -->
  <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div><!-- /.modal -->
</body>
</html>
