<!DOCTYPE html>
<html>
<head>
  <title>S.E.V.U.</title>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= javascript_include_tag 'application', 'bootstrap' => true, :cache => 'cached/all1' %>
</head>
<body>
  <div id="wrapper">
      <!-- Sidebar -->
 <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Navegación</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
   <!--    <div class="container">   -->             
    <div class="container" style="width: 1700px; max-width: none;" > 
   
   
        <div class="navbar-header">
          <a href="http://bootswatch.com/" class="navbar-brand">  S.E.V.U </a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
           <!-- PUROS BOTONES VACIOS ASQUEROSOS -->
        </div>
        <div class="navbar-header">
          <a  class="navbar-brand">   </a>
        </div>
        <div class="navbar-header">
          <a  class="navbar-brand">   </a>
        </div>
        <div class="navbar-header">
          <a  class="navbar-brand">   </a>
        </div>
        <div class="navbar-header">
          <a  class="navbar-brand">   </a>
        </div>

          
		<% if controller_name != 'sessions' && controller_name != 'usuarios' && controller_name != 'confirmations' && controller_name != 'passwords' && controller_name != 'registrations' && controller_name != 'unlocks' %>

  <!-- MENU SUPERIOR -->


  <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li>
            <%= link_to 'Proyectos', proyectos_path %>
         </li>
         <li>
            <%= link_to 'Eventos Públicos', evento_publicos_path %>
         </li>
         <li>
            <%= link_to 'Necesidades', necesidades_path %>
         </li>
         <li>
            <%= link_to 'Voluntarios', voluntarios_path %>
         </li>
    	     <% if can? :reporte_new, ReporteGenerado; %>
           <li>
           <%= link_to 'Reportes', reporte_new_path %>
      	  </li>
         <% end %>
          <% if can? :auditoria, Transaccion; %>
              <li>
                  <%= link_to 'Auditoría', auditoria_path %>
               </li>
          <% end %>
               <li>
                   <%= link_to 'Ayuda', ayudas_path %>
               </li>
      </ul>

  
  <ul class="nav navbar-nav navbar-right">
  <%= render '/shared/notificaciones' %>
    


	 <li class="dropdown user-dropdown">
	     <a href="#" class="dropdown-toggle pull-right" data-toggle="dropdown"><i class="fa fa-user"></i> <%= current_usuario.nombreUsuario  %></a>
	     <ul class="dropdown-menu">
    	      <!--<li><a href="#"><i class="fa fa-user"></i> Perfil</a></li>-->
    			<li><%= link_to content_tag(:i, fa_icon("user", text: "Mi Perfil")), edit_usuario_registration_path %></li>
    	      <!--<li><a href="#"><i class="fa fa-gear"></i> Configuraciones</a></li>-->
    			<% if puede_configurar? then %>
    				<li><%= link_to content_tag(:i, fa_icon("gear", text: "Configuraciones grales.")), configuraciones_generales_path %></li>
    			<% end %>
                    <% if current_usuario.type.nil? then %>
                      <li><%= link_to content_tag(:i, fa_icon("child", text: "Darse de alta como voluntario")), dar_alta_voluntario_path(:type => "Voluntario"), remote: true, data: { target: 'modal', modal: true } %></li>
                        <!--<li><%#= link_to content_tag(:i, fa_icon("child", text: "Darse de alta como voluntario")), edit_usuario_registration_path(:type => "Voluntario") %></li>--.
                    <% end %>
    	      <!--<li class="divider"></li>-->
    	      <li><%= link_to content_tag(:i, fa_icon("power-off", text: "Desconectarse")), destroy_usuario_session_path, method: :delete, style: "padding-right: 5px;"  %></li>
	     </ul>
	 </li>
	
	
	
	<li><%= image_tag current_usuario.foto.url %></li>
	
  
  </ul>
           </div>

				<% end %>

<!-- MENU VERTICAL (Poner las opciones dentro de cada menu superior -->

        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <% case controller_name 
                when 'proyectos'%><%= render '/shared/menu_proyecto' %>
                <% when 'asignacion_roles' %><%= render '/shared/menu_proyecto' %>
                <% when 'colaboradores' %><%= render '/shared/menu_proyecto' %>
                <% when 'historial_estado_proyectos' %><%= render '/shared/menu_proyecto' %>
                <% when 'notificacion_sistemas' %><%= render '/shared/menu_notificaciones' %>
                <% when 'necesidades' %><%= render '/shared/menu_necesidad' %>
        	     <% when 'organizacion_externas' %><%= render '/shared/menu_organizacion_externa' %>
                <%# when 'historial_estado_actividades' %><%#= render '/shared/menu_objetivos' %>
        	     <%# when 'objetivo_generales' %><%#= render '/shared/menu_objetivos' %>
        	     <%# when 'actividades' %><%#= render '/shared/menu_objetivos' %>
        	     <%# when 'requisitos' %><%#= render '/shared/menu_objetivos' %>
        	     <%# when 'asignacion_actividades' %><%#= render '/shared/menu_objetivos' %>
        	     <%# when 'reportes' %><%#= render '/shared/menu_objetivos' %>
        	     <%# when 'objetivo_especificos' %><%#= render '/shared/menu_objetivos' %>
        	     <%# when 'actividades' %><%#= render '/shared/menu_objetivos' %>
                <% when 'historial_estado_actividades' %><%= render '/shared/menu_proyecto' %>
                <% when 'objetivo_generales' %><%= render '/shared/menu_proyecto' %>
                <% when 'actividades' %><%= render '/shared/menu_proyecto' %>
                <% when 'notificaciones' %><%= render '/shared/menu_notificaciones' %>
                <% when 'requisitos' %><%= render '/shared/menu_proyecto' %>
                <% when 'asignacion_actividades' %><%= render '/shared/menu_proyecto' %>
                <% when 'reportes' %><%= render '/shared/menu_proyecto' %>
                <% when 'objetivo_especificos' %><%= render '/shared/menu_proyecto' %>
                <% when 'actividades' %><%= render '/shared/menu_proyecto' %>
                <% when 'postulaciones' %><%= render '/shared/menu_proyecto' %>
        	     <% when 'transacciones' %><%= render '/shared/menu_transacciones' %>
        	     <% when 'roles' %><%= render '/shared/menu_configuraciones_generales' %>
							<% when 'regionales' %><%= render '/shared/menu_configuraciones_generales' %>
    			<% when 'tipo_roles' %><%= render '/shared/menu_configuraciones_generales' %>
    			<% when 'privilegios' %><%= render '/shared/menu_configuraciones_generales' %>
					<% when 'configuraciones_generales' %><%= render '/shared/menu_configuraciones_generales' %>
    			<% when 'tipo_privilegios' %><%= render '/shared/menu_configuraciones_generales' %>
    			<% when 'asignacion_rol_predefinidos' %><%= render '/shared/menu_configuraciones_generales' %>
    			<% when 'asignacion_funciones' %><%= render '/shared/menu_configuraciones_generales' %>
                <% when 'notificacion_predeterminadas' %><%= render '/shared/menu_configuraciones_generales' %>
                <% when 'tipo_notificaciones' %><%= render '/shared/menu_configuraciones_generales' %>
                <% when 'reporte_generados' %><%= render '/shared/menu_reporte_generados' %>
                <% when 'concepto_gastos'%><%= render '/shared/menu_configuraciones_generales' %>
                <% when 'tipo_habilidades' %><%= render '/shared/menu_configuraciones_generales' %>
                <% when 'habilidades' %><%= render '/shared/menu_configuraciones_generales' %>
                <% when 'restricciones' %><%= render '/shared/menu_configuraciones_generales' %>
                <% when 'detalle_restricciones' %><%= render '/shared/menu_configuraciones_generales' %>
                <% when 'estado_presupuestos' %><%= render '/shared/menu_estado_presupuestos' %>
                <% when 'presupuestos' %><%= render '/shared/menu_proyecto' %>
                <% when 'detalle_presupuestos' %><%= render '/shared/menu_proyecto' %>
                <% when 'informe_gastos' %><%= render '/shared/menu_proyecto' %>
                <% when 'detalle_gastos' %><%= render '/shared/menu_proyecto' %>
                <% when 'comprobantes' %><%= render '/shared/menu_proyecto' %>				 
                <% when 'evento_publicos' %><%= render '/shared/menu_eventos_publicos' %>	
                <% when 'notas' %><%= render '/shared/menu_voluntario' %>
                <% when 'voluntarios' %><%= render '/shared/menu_voluntario' %>
                <% when 'estado_usuarios' %><%= render '/shared/menu_voluntario' %>			 
                <% when 'experiencias' %><%= render '/shared/menu_voluntario' %>
                <% when 'notas' %><%= render '/shared/menu_voluntario' %>
                <% when 'ayudas' %><%= render '/shared/menu_ayuda' %>

          <% end %>
        </div><!-- /.navbar-collapse -->

        <!-- FIN MENU VERTICAL -->

      </nav>
      <div id="page-wrapper">

          <%= yield %>
          <!-- FIN INICIO MARCO CENTRAL   -->    
       </div> <!-- /#page-wrapper -->
  </div><!-- /#wrapper -->
  <!-- Modal -->
  <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div><!-- /.modal -->
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick", :cache => 'cached/all2' %>
</body>
</html>
