<p id="notice"><%= notice %></p>

<p>
  <strong>Vigente:</strong>
  <%= @asignacion_actividad.vigente %>
</p>

<p>
  <strong>Fechaasignacion:</strong>
  <%= @asignacion_actividad.fechaAsignacion %>
</p>

<p>
  <strong>Actividad:</strong>
  <%= @asignacion_actividad.actividad %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @asignacion_actividad.usuario %>
</p>

<%= link_to 'Edit', edit_asignacion_actividad_path(@asignacion_actividad) %> |
<%= link_to 'Back', asignacion_actividads_path %>
